<div [formGroup]="transaction.finance">
<div class="transaction" formGroupName="processStatus">
    <div class="d-flex">
       <div class="status" *ngFor="let status of transaction.finance.getRawValue().processStatus | keyvalue:helper.originalOrder; let i = index ">
           <input formControlName="{{status.key}}" type="checkbox" [id]="i">
           <label for="{{i}}"><img src="/assets/borrower/tick.svg" class="tick" [ngClass]="{'tick-active': transaction.finance.getRawValue().processStatus[status.key]}"></label>
           <p>{{status.key | splitCamelCase}}</p>
       </div>
     </div>
 </div>
</div>
