<div class="parent">
    <div class="property-img">
        <img src="/assets/dashboard/subject-property.svg" class="subject-property">
        <p class="subject-property-txt">Subject Property is not set</p>
    </div>
    <div class="details">
        <div class="first-rect"></div>
        <div class="d-flex justify-content-between">
            <div class="second-rect" *ngFor="let i of [1,2,3,4]"></div>
        </div>
        <div class="d-flex">
            <div class="third-rect-parent">
                <div class="third-rect-one"></div>
                <div class="third-rect-two"></div>
                <div class="third-rect-three"></div>
                <div class="third-rect-four"></div>
                <div class="third-rect-five"></div>
                <div class="third-rect-six"></div>
            </div>
            <div class="third-rect-parent">
                <div class="third-rect-one"></div>
                <div class="third-rect-two"></div>
                <div class="third-rect-three"></div>
                <div class="third-rect-four"></div>
                <div class="third-rect-five"></div>
                <div class="third-rect-six"></div>
            </div>
        </div>
    </div>
</div>
