<div class="card-4">
    <div class="lsh-div">
        <p class="text-nowrap ls-heading">Loan Scenario {{scenarioNumber}}</p>
    </div>
    <div class="ls-detail">
        <div class="d-flex justify-content-between lsd-first-row">
            <div class="d-flex">
                <p class="mr-custom1 text-nowrap">Housing Ratio:</p>
                <p>{{scenario.housingRatio + '%'}}</p>
            </div>
            <div class="separator-custom"></div>
            <div class="d-flex">
                <p class="mr-custom1 text-nowrap">Debt Ratio:</p>
                <p>{{scenario.debtRatio + '%'}}</p>
            </div>
            <div class="separator-custom"></div>
            <div class="d-flex">
                <p class="text-nowrap mr-custom1">Qualify:</p>
                <p [style.color]="qualify ? 'var(--green)': 'var(--red)'">{{qualify ? 'Yes' : 'No'}}</p>
            </div>

        </div>
        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Purchase Price</p>
<!--                <p class="loan-fields">${{scenario.purchasePrice | mask: 'separator.2':','}}</p>-->
                <input prefix="$" mask="0*.00" mask="separator.2" thousandSeparator=","  [formControl]="purchasePrice" class="form-control f1" type="text" placeholder="">

            </div>
            <div class="form-input">
                <p class="text-nowrap title">Loan Amount</p>
                <p class="loan-fields">${{scenario.loanAmount | mask: 'separator.2':','}}</p>
            </div>

        </div>

        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Finance Amount</p>
                <p class="loan-fields">${{scenario.financeAmount | mask: 'separator.2':','}}</p>

            </div>
            <div class="form-input">
                <p class="text-nowrap title">Down Payment</p>
                <p class="loan-fields">${{scenario.downPayment | mask: 'separator.2':','}}</p>
            </div>

        </div>


        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Loan Rate</p>
                <p class="loan-fields">{{scenario.loanRate | mask: 'separator.4':','}}%</p>

            </div>
            <div class="form-input">
                <p class="text-nowrap title">Loan Term</p>
                <p class="loan-fields">{{scenario.loanTerm}} year(s)</p>
            </div>

        </div>
        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Monthly Payment</p>
                <div class="d-flex" style="flex-grow: 1">
                    <p class="funds loan-fields">${{scenario.monthlyPayment | mask: 'separator.2':','}}</p>
                    <div (click)="viewPieChart()" class="view d-flex align-items-start flex-column"><img class="mb-auto"
                                                                                                 src="/assets/property-details/eye.svg">
                        <p>View</p></div>
                </div>
            </div>
            <div class="form-input">
                <p class="text-nowrap title">Funds Needed</p>
                <div class="d-flex justify-content-between" style="flex-grow: 1">
                    <p [style.color]="scenario.fundsNeeded < 0 ? 'var(--red)' : 'var(--mediumGray)'" class="loan-fields funds">${{scenario.fundsNeeded | mask: 'separator.2':','}}</p>
                    <div (click)="viewCalculator()" class="view d-flex align-items-start flex-column">
                        <img class="mb-auto" src="/assets/property-details/eye.svg">
                        <p>View</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="letter" [style.background]="qualify ? 'var(--green)' : 'var(--red)'">
        <p class="text-nowrap text-center">Pre-Approval Letter</p>
    </div>
</div>
