<div class="card-4">
    <div class="lsh-div">
        <p class="text-nowrap ls-heading">Loan Scenario {{scenarioNumber}}</p>
    </div>
    <div class="ls-detail">
        <div class="d-flex justify-content-between lsd-first-row">
            <div class="d-flex">
                <p class="mr-custom1 text-nowrap">Ratios Housing</p>
                <p>{{scenario.housingRatio + '%'}}</p>
            </div>
            <div class="d-flex">
                <p class="mr-custom1">Debts</p>
                <p>{{scenario.debtRatio + '%'}}</p>
            </div>
            <div class="d-flex">
                <p class="text-nowrap mr-custom1">Qualify</p>
                <p>{{!((loanScenario.listings[0].financing[store.toggleLoanType | async].housingRatio > loanScenario.userLoan[store.toggleLoanType | async].housingRatio ||
                    loanScenario.listings[0].financing[store.toggleLoanType | async].debtRatio > loanScenario.userLoan[store.toggleLoanType | async].debtRatio) ||
                    ((scenarioNumber === 1 ? loanScenario.listings[0].financing[store.toggleLoanType | async].fundsNeeded : loanScenario.listings[0].financing[store.toggleLoanType | async].LS2_fundsNeeded) < 0)) ? 'Yes' : 'No'}}</p>
            </div>

        </div>
        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Purchase Price</p>
                <p class="loan-fields">${{scenario.purchasePrice | mask: 'separator.2':','}}</p>

            </div>
            <div class="form-input">
                <p class="text-nowrap title">Loan Amount</p>
                <p class="loan-fields">${{scenario.loanAmount | mask: 'separator.2':','}}</p>
            </div>

        </div>

        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Finance Amount</p>
                <p class="loan-fields">${{scenario.financeAmount | mask: 'separator.2':','}}</p>

            </div>
            <div class="form-input">
                <p class="text-nowrap title">Down Payment</p>
                <p class="loan-fields">${{scenario.downPayment | mask: 'separator.2':','}}</p>
            </div>

        </div>


        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Loan Rate</p>
                <p class="loan-fields">{{scenario.loanRate | mask: 'separator.4':','}}%</p>

            </div>
            <div class="form-input">
                <p class="text-nowrap title">Loan Term</p>
                <p class="loan-fields">{{scenario.loanTerm}} year(s)</p>
            </div>

        </div>
        <div class="d-flex mb2-custom justify-content-between">
            <div class="form-input">
                <p class="text-nowrap title">Monthly Payment</p>
                <div class="d-flex" style="flex-grow: 1">
                    <p class="funds loan-fields">${{scenario.monthlyPayment | mask: 'separator.2':','}}</p>
                    <div (click)="viewPieChart()" class="view d-flex align-items-start flex-column"><img class="mb-auto"
                                                                                                 src="/assets/property-details/eye.svg">
                        <p>View</p></div>
                </div>
            </div>
            <div class="form-input">
                <p class="text-nowrap title">Funds Needed</p>
                <div class="d-flex justify-content-between" style="flex-grow: 1">
                    <p [style.color]="scenario.fundsNeeded < 0 ? 'var(--red)' : 'var(--lighGray)'" class="loan-fields funds">${{scenario.fundsNeeded | mask: 'separator.2':','}}</p>
                    <div (click)="viewCalculator()" class="view d-flex align-items-start flex-column">
                        <img class="mb-auto" src="/assets/property-details/eye.svg">
                        <p>View</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="letter">
        <p class="text-nowrap text-center">Pre-Approval Letter</p>
    </div>
</div>
