.card-4{
  border-radius: .5vw;
  background: white;
  margin-bottom: 2vw;
}
.ls-heading{
  margin-bottom: 0;
  font-size: .9vw;
  color: var(--darkGray);
  font-weight: 500;
  padding: 1vw;
}
.lsh-div{
  border-bottom: 1px solid var(--mediumLightGray);
}
.ls-detail{
  padding: 1vw;
}
.lsd-first-row p{
  font-size: .6vw;
  color: var(--mediumGray);
  margin-bottom: 0;
  font-weight: 500;
}
.lsd-first-row{
  margin-bottom: 1vw;
  background: var(--extraLightGray);
  padding: .4vw .7vw;
  border-radius: .3vw;
}
.mr-custom{
  margin-right: 1.5vw;
}
.form-input p{
  margin-bottom: 0;
  color: var(--mediumGray);
  font-size: .6vw;
}
.title{
  margin-bottom: .2vw !important;
  color: var(--lighGray) !important;
}
.mb2-custom{
  margin-bottom: 1.1vw;
}
.form-input{
  position: relative;
  flex-basis: 9vw;
}
.form-input:first-child{
  margin-right: 2vw;
}
.letter{
  background: var(--green);
  border-bottom-right-radius: .5vw;
  border-bottom-left-radius: .5vw;
  padding: .7vw;
}
.letter p{
  color: white;
  margin-bottom: 0;
  font-size: .75vw;
  font-weight: 300;
}

p{
  font-family: 'Poppins';
}
.view img{
  height: .5vw;
  width: .5vw;
  margin-left: .2vw;
}
.view p{
  color: white;
  margin-bottom: 0;
  font-size: .4vw;
}
.view{
  background: var(--green);
  width: fit-content;
  padding: .2vw .3vw .15vw .3vw;
  border-top-right-radius: .2vw;
  border-bottom-right-radius: .2vw;
  cursor: pointer;
}


.loan-fields{
  padding: .25vw .5vw .25vw .5vw;
  font-size: .7vw;
  color: var(--darkGray);
  height: 1.4vw;
  border: 1px solid var(--lighGray);
  border-radius: .2vw;
}
.mr-custom1{
  margin-right: .1vw;
}
.funds{
  flex-grow: 1;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.f1{
  padding: .25vw .5vw .25vw .5vw;
  font-size: .6vw;
  color: var(--mediumGray);
  height: 1.4vw;
  border: 1px solid var(--lighGray);
  border-radius: .2vw;
}
.debt-ratio{
  border-left: 1px solid var(--lighGray);
  border-right: 1px solid var(--lighGray);
  padding: 0 .5vw;
}
.mr-custom2{
  margin-right: .5vw;
}
.separator-custom{
  border-left: 1px solid var(--lighGray);
  margin-right: .25vw;
  margin-left: .25vw;
}
