.feed-column{
  //background: lightcoral;
}
.news-column{
  //background: lightblue;
}
.heading h3{
  font-size: 1.5vw;
  color: var(--darkGray);
  font-family: 'Poppins';
}
.heading{
  margin-bottom: 2vw;
}
.card-1{
  background: white;
  padding: 0.6vw 1.5vw;
  border-radius: .6vw;
  margin-bottom: 1.6vw;
}
.plus-icon{
  padding: .5vw;
  cursor: pointer;
  border-radius: .5vw;
  background: var(--green);
  height: 2.5vw;
  width: 2.5vw ;
  object-fit: cover;
}
.profile-icon {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: .5vw;
  object-fit: cover;
  margin-right: 1.2vw;
}
.input-box input{
  height: 2.7vw;
  font-size: .9vw;
  border-radius: .6vw;
}
.input-box{
  display: flex;
  padding-right: 1vw;
  padding-left: 1vw;
}
::placeholder {
  color: var(--lighGray);
  font-size: .9vw;
}

input[type="file"] {
  font-size: 1px;
  left: 10%;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
}
.create-post-buttons{
  padding-left: .5vw;
  padding-right: 1vw;
}
.post-button{

  border-radius: .5vw;
  padding-right: 1vw;
  padding-left: 1vw;
}
.post-button p{
  margin: 0;
  font-size: .9vw;
}
.card-2{
  background: white;
  padding: 2.5vw 2.5vw;
  margin-bottom: 2.5vw;
  border-radius: .6vw;
}
div.card-2 div.row div.col-md{
  padding-left: 1.2vw;
  padding-right: 1.2vw;
}
.post-profile-icon{
  width: 3vw;
  height: 3vw;
  border-radius: .5vw;
  object-fit: cover;
  margin-right: .8vw;
}
.post-date{
  margin-top: .3vw;
  margin-bottom: 0;
  color: var(--darkGray);
  font-weight: 300;
  font-size: .75vw;
}
.post-username{
  font-size: .85vw;
  font-weight: 500;
  margin-bottom: 0;
}
.div-1{
  padding-top: 1vw;
  border-top: 1px solid var(--extraLightGray);
  width: 100%;
}
.div-3{
  margin-bottom: 1vw;
  //margin-top: 2vw;
}
iframe{
  border-radius: .5vw;
}
.post-image{
  object-fit: cover;
  width: 25vw ;
  //height: 100%;
  height: 16vw;
  border-radius: .5vw
}

.post-text{
  font-size: .75vw;
  color: var(--darkGray);
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
}
.read-more{
  color: var(--darkGray);
  font-size: .8vw;
  margin-bottom: 0;
  cursor: pointer;
  margin-bottom: .5vw;
}
.read-less{
  display: none;
  color: var(--darkGray);
  font-size: .8vw;
  margin-bottom: 0;
  cursor: pointer;
  margin-bottom: .5vw;
}
h6{
  color: var(--darkGray);
}
.share-icon{
  padding: .4vw;
  border-radius: .5vw;
  background: var(--green);
  height: 1.8vw;
  width: 1.8vw;
  margin-right: 1vw;
}
.delete-icon{
  padding: .4vw;
  border-radius: .5vw;
  background:var(--red);
  float: right;
  cursor: pointer;
}
.delete-icon{
  width: 1.8vw;
  height: 1.8vw;
}
.news-column h3{
  margin-bottom: 2vw;
  font-size: 1.55vw;
}
.card-3{
  background: white;
  border-radius: .5em;
  padding: 1vw
}
.news-img{
  width: 4.3vw;
  height: 4.3vw;
  margin-right: 1vw;
  object-fit: cover;
  border-radius: .5vw
}
.card-3 p{
  margin: 0;
  font-size: small;
  color: var(--darkGray);
  font-weight: 200;
  font-size: .73vw;
}
.card-3 h6{
  font-size: .9vw;
}
.top-news{
  color:var(--darkGray)
}
.news-title{
  word-break: break-all;
}
.news-text{
  font-size: 1vw;
}
@media only screen and (max-width: 1024px) {
  //.news-card{
  //  display: grid !important;
  //}

  //.news-text{
  //  font-size: small;
  ////  margin-top: 10px;
  //}
}
@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 768px) {
  //.news-card{
  //  display: flex !important;
  //}
  //.news-text{
  //  font-size: initial;
  //  margin-top: 0;
  //}
}
@media only screen and (max-width: 320px) {
  //.news-card{
  //  display: grid !important;
  //}
}
p{
  font-family: 'Poppins';
}
