
<div class="row d-flex">
  <div class="col-9 feed-column">
      <div class="heading d-flex justify-content-between">
          <h3 class="align-self-center">Your Network News Feed</h3>
          <button class="d-flex plus-btn">
              <img class="plus-icon" src="/assets/calendar-icons/plus.svg">
              <p>Add News Feed</p>
          </button>
      </div>
      <div *ngFor="let post of newsFeed.posts;">
          <app-variant-one [post] = "post"></app-variant-one>
          <app-variant-two [post] = "post"></app-variant-two>
          <app-variant-three [post] = "post"></app-variant-three>
          <app-variant-four [post]="post"></app-variant-four>

      </div>
  </div>
  <div class="col-3 news-column">
    <h3 class="top-news" style="">Top News</h3>
    <div *ngFor="let i of newsFeed.topNews" class="mb-3 d-flex flex-row card-3">
       <img class="news-img" [src]="i.media">
       <div class="d-flex align-items-start flex-column news-title" style="">
        <h6 class="mb-2 news-text mb-auto" style="">{{ i.title }} </h6>
        <p   class="">{{i.time}} mins ago</p>
       </div>
    </div>

  </div>
</div>
