<div class="card-1">
  <div class="first-row d-flex justify-content-between">
    <p class="heading text-nowrap align-self-center">{{view._def.extendedProps.category}}</p>
    <img (click)="close()" class="close-btn" src="/assets/calendar-icons/close.svg">
    <button (click)="edit()" class="edit">Edit</button>
  </div>
  <p class="title">{{view._def.title}}</p>
  <p class="note">{{view._def.extendedProps.note}}</p>
  <p class="join">Joining</p>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img *ngFor="let member of view._def.extendedProps.team" class="team" [src]="member.image">
    </div>
    <div class="d-flex align-self-end">
      <img class="img" src="/assets/calendar-icons/calendar.svg">
      <p class="date">{{view._instance.range.start | date: 'MMM dd,yyyy'}}</p>
      <img class="img" src="/assets/calendar-icons/alarm-clock.svg">
      <p class="date">{{view._def.extendedProps.time}}</p>
    </div>
  </div>
</div>
