<div class="heading">
  <h3>To do list</h3>
</div>

<div>
  <div class="row" *ngIf="!(store.progressBarLoading | async)" >
    <div class="col-9">
       <div class="d-flex justify-content-end first-row">
           <button class="add-button" (click)="chooseTask()">
               <img class="plus-icon" src="/assets/calendar-icons/plus.svg">
               Add New Task
           </button>
           <div class="d-flex">
               <p class="">Today<p>
               <img class="calendar" src="/assets/dashboard/Calendar.svg">
               <p>22 June 2019</p>
           </div>
        </div>
        <ng-container *ngFor="let todo of todo.list; let i = index">
            <div *ngIf="(store.todoFilter | async) === constant.TODO_FILTERS.ALL ? true :
             (store.todoFilter | async) === constant.TODO_FILTERS.DELETED ? todo.deleted : (todo[(store.todoFilter | async)] && !todo.deleted)" class="card-1 d-flex" [ngClass]="{'done-card': todo.done}">
                <div class="d-flex align-items-start">
                    <label class="container">
                        <input (click)="editTags(constant.TODO_FILTERS.DONE, todo, i)" type="checkbox"  [checked]="todo.done">
                        <img class="checkmark" src="/assets/loan-details/tick.svg">
                    </label>
                </div>
                <div class="todo">
                    <p class="title">{{todo.title | titlecase}}</p>
                    <div class="row" >
                        <div class="col-10">
                            <p class="description">{{todo.note}}</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div (click)="editTags(constant.TODO_FILTERS.PRIORITY, todo, i)" class="filter flag mr-custom" [ngClass]="{'done-filter': todo.done, 'active-filter':todo.priority}"><img src="/assets/todo/flag.svg"></div>
                        <div (click)="editTags(constant.TODO_FILTERS.STARRED, todo, i)" class="filter star" [ngClass]="{'done-filter': todo.done, 'active-filter':todo.starred}"><img src="/assets/todo/favorites.svg"></div>

                    </div>
                </div>
                <div class="ml-auto">
                    <p (click)="editTask(todo, i)" class="button1 text-center">Edit</p>
                    <p (click)="editTags(constant.TODO_FILTERS.DELETED, todo, i)" class="button2" [ngClass]="{'active-delete': todo.done}">Delete</p>
                </div>
            </div>
        </ng-container>

    </div>

    <div class="col-3">
        <div class="">
            <p class="filter-heading">Filters</p>
            <div class="card-2">
                <div (click)="filterSelected(constant.TODO_FILTERS.ALL)" class="d-flex filter"><img class="mr-custom" src="/assets/todo/all.svg"><p class="align-self-center">All</p></div>
                <div (click)="filterSelected(constant.TODO_FILTERS.PRIORITY)" class="d-flex filter flag"><img class="mr-custom" src="/assets/todo/flag.svg"><p class="align-self-center">Priority</p></div>
                <div (click)="filterSelected(constant.TODO_FILTERS.STARRED)" class="d-flex filter star"><img class="mr-custom" src="/assets/todo/favorites.svg"><p class="align-self-center">Starred</p></div>
                <div (click)="filterSelected(constant.TODO_FILTERS.DONE)" class="d-flex filter"><img class="mr-custom" src="/assets/todo/checked.svg"><p class="align-self-center">Done</p></div>
                <div (click)="filterSelected(constant.TODO_FILTERS.DELETED)" class="d-flex filter bin"><img class="mr-custom" src="/assets/todo/trash.svg"><p class="align-self-center">Deleted</p></div>
            </div>
        </div>
<!--        <div class="">-->
<!--              <p class="filter-heading">Tags</p>-->
<!--              <div class="card-3">-->
<!--                  <p>All</p>-->
<!--                  <p>Priority</p>-->
<!--                  <p>Starred</p>-->
<!--                  <p>Done</p>-->
<!--                  <p>Deleted</p>-->
<!--              </div>-->
<!--        </div>-->

    </div>
  </div>
</div>
