<div class="form-div d-flex flex-column">
    <img (click)="close()" class="close-btn" src="/assets/calendar-icons/close.svg">
    <div class="d-flex flex-column">
        <div class="card-1 d-flex flex-column">
            <p class="heading">Change Primary Email</p>
            <p [ngClass]="{'danger' : this.email.invalid && this.email.touched}"
               class="title">
                Email
            </p>
            <input [ngClass]="{'is-invalid' : this.email.invalid && this.email.touched}"
                   [formControl]="email" type="text" class="form-control f1 mb-custom" placeholder="">
        </div>
    </div>
    <button (click)="onSubmit()" class="invite">Send</button>
</div>
