<div  class="d-flex div-1">
  <div>
        <img *ngIf="transactionDetails.profilePictureUrl" [src] = "transactionDetails.profilePictureUrl" class="display-img">
        <img *ngIf="!transactionDetails.profilePictureUrl"  src = "/assets/profile/profile.svg" class="dummy-img">
  </div>
  <div class="user-info">
    <p ngbTooltip=""  class="name">{{ transactionDetails.firstName | titlecase }} {{ transactionDetails.lastName | titlecase }}</p>
    <div class="number d-flex">
        <img src="/assets/directory-icons/call.svg" class="align-self-center">
        <p class="">{{ transactionDetails.phoneNumber }}</p>

    </div>
    <div class="question d-flex">
      <img src="/assets/directory-icons/envelope.svg" class="align-self-center">
      <p class="align-self-center">{{transactionDetails.email}}</p>
    </div>
    <div class="d-flex div-2" *ngIf="transactionDetails.socialMedia">
         <a *ngIf="true" target="_blank" [href] = "transactionDetails.socialMedia.facebook"><img src="/assets/directory-icons/facebook.svg" class=""></a>
         <a *ngIf="true" target="_blank" [href] = "transactionDetails.socialMedia.instagram"> <img src="/assets/directory-icons/instagram.svg" class=""> </a>
         <a *ngIf="true" target="_blank" [href] = "transactionDetails.socialMedia.twitter"><img src="/assets/directory-icons/twitter.svg" class=""> </a>
    </div>
    <p class="refer align-self-end">Referred By: {{ transactionDetails.referredBy }}</p>
  </div>
</div>
