      <div class="d-flex justify-content-between">
            <div class="info-img">
              <img src="/assets/search-home/bathroom.png">
              <div class="d-flex info-number"><p>Bathrooms</p><p>{{ subjectProperty.bathrooms }}</p></div>
            </div>
            <div class="info-img">
              <img class="bed" src="/assets/search-home/bedroom.png">
              <div class="align-self-end d-flex info-number"><p>Bedrooms</p><p>{{subjectProperty.bedrooms}}</p></div>
            </div>
            <div class="info-img">
              <img src="/assets/search-home/garage.png">
              <div class="d-flex info-number"><p>Garage</p><p>{{subjectProperty.garage}}</p></div>
            </div>
            <div class="info-img">
              <img src="/assets/search-home/area.png">
              <div class="d-flex info-number"><p>Sq Ft</p><p>{{subjectProperty.sqFt}}</p></div>
            </div>
      </div>
      <div class="d-flex details">
         <div class="detail-left" style="">
            <p>Status</p>
            <p>Property Type</p>
            <p>Lot Size</p>
            <p>Time On Market</p>
            <p>Community</p>
            <p>MLS#</p>
         </div>
         <div class="detail-right" style="">
            <p>{{ subjectProperty.status }}</p>
            <p>{{subjectProperty.propertyType}}</p>
            <p>{{subjectProperty.lotSize}} Sq.Ft.</p>
            <p>{{subjectProperty.timeOnMarket}}</p>
            <p>{{subjectProperty.community}}</p>
            <p>{{subjectProperty.mls}}</p>
         </div>
      </div>
