<div class="heading d-flex justify-content-between">
  <h3>Saved Searches</h3>
</div>

<div class="row" *ngIf="loader">
  <div class="col-9">
    <p class="sub-heading">Saved Searches List</p>
    <div class="card-1 d-flex" *ngFor="let search of savedSearch">
      <div class="details">
         <div class="row">
            <div class="col-10 click" (click)="openPropertySearch(search.query)">
              <div *ngFor="let child of search.query | keyvalue">
                 <div class="row">
                      <p class="col-3 text-nowrap label"> {{child.key === 'xf_amenities' ? 'More Filters' : (child.key | splitCamelCase)}}: </p>
                      <div class="col-9 d-flex">
                          <div class="d-flex space" *ngIf="child.key === 'sortPayment'">
                              <p class="">{{child.value === 'desc' ? 'High To Low' : child.value === 'asc' ? 'Low To High' : ''}}</p>
                          </div>
                          <div class="d-flex space" *ngIf="child.key === 'listPrice'">
                              <p class="price">{{child.value ? '$' + child.value.split(':')[0] + ' - ' : '' }}</p>
                              <p class="price">{{child.value ? '$' + child.value.split(':')[1] : '' }}</p>
                          </div>
                          <div class="d-flex" *ngIf="child.value ? child.key === 'beds' || child.key === 'baths' : false">
                              <ng-container *ngIf="checkRangeExist(child.value)">
                                  <p class="">{{child.value.split(':')[0] + ' - ' }}</p>
                                  <p class="">{{child.value.split(':')[1] }}</p>
                              </ng-container>
                              <ng-container *ngIf="child.value !== '>=null' && !checkRangeExist(child.value)">
                                  <p class="">{{child.value.replace(">=", "") + '+'}}</p>
                              </ng-container>
                          </div>
                          <div style="flex-wrap: wrap"  class="d-flex" *ngIf="child.key === 'propertyType' || child.key === 'status'">
                            <ng-container *ngFor="let i  of child.value">
                                <p id="comma" class="text-nowrap">{{i}}</p>
                            </ng-container>
                          </div>
                          <div *ngIf="child.key === 'xf_amenities' ">
                              <p>{{child.value}}</p>
                          </div>
                       </div>
                 </div>
               </div>
           </div>
        </div>
      </div>
      <div class="ml-auto d-flex">
          <img (click)="deleteSearch(search._id)" class="delete" src="/assets/news-feed-icons/delete.svg">
          <img (click)="editPropertySearch(search.query, search._id)" class="edit" src="/assets/saved-search/edit.svg">
          <select class="form-control">
            <option>Instantly</option>
            <option>48</option>
            <option>72</option>
          </select>
      </div>
    </div>
  </div>
</div>
