
<div class="parent">
  <img class="close-btn" (click)="modal.dismiss()" src="/assets/calendar-icons/close.svg">
  <p class="heading">Remove Member</p>
  <div class="d-flex member">
    <img class="member-img" [src]="member.image">
    <div class="align-self-center">
        <p class="name">{{member.name}}</p>
        <p class="role">{{member.role}}</p>
    </div>
  </div>
  <p class="txt">This member will be removed from your team, Are you sure?</p>
  <div class="d-flex justify-content-between">
    <button  (click)="remove()" class="continue button">Continue</button>
    <button  (click)="modal.dismiss()" class="cancel button">Cancel</button>
  </div>
</div>
