<svg:g>

<g>

    <foreignObject class="node">
      <body>
        <div class="d-flex card-1" style="">
          <img class="image" [src]="item.photo">
          <div class="info">
            <p class="role" >{{ item.dealStatus }}</p>
            <p class="name" ngbTooltip="nameAbbreviation">{{ item.name }}</p>
            <div class="d-flex justify-content-between" style="width: 100%">
              <img src="/assets/directory-icons/call.svg" class="phone-icon">
              <img src="/assets/referral-lineage/chat.svg" class="chat-icon">
              <div class="d-flex">
                <img src="/assets/referral-lineage/email.svg" class="email-icon">
                <img src="/assets/referral-lineage/menu.svg" class="menu-icon">
              </div>
            </div>
          </div>
        </div>
      </body>
    </foreignObject>

</g>

</svg:g>
