.node{
  height: 100px;
  width: 255px;
  transform: translate(12px, 0px);
  border-radius: 10px;
}
.card-1{
  width: 100%;
  padding: 12px;
}
.info{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.image{
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

.role{
  margin-bottom: 0px;
  color: var(--lighGray);
  font-size: 18px;
  text-align: start;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name{
  margin-bottom: 4px;
  color: var(--darkGray);
  font-size: 17.5px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone-icon{
  height: 15px;
  width: 15px;
}

.chat-icon{
  height: 15px;
  width: 15px;
}
.menu-icon{
  height: 14px;
  width: 14px;
  margin-left: 10px;
}
.email-icon{
  height: 15px;
  width: 15px;
}
