<h2 class="global_title left"><span>Detailed Information on the Processing of Your Personal Data</span></h2>

<p>Service Providers have access to Your Personal Data only to perform their tasks on Our behalf and are obligated not to disclose or use it for any other purpose.</p>
<h3>Analytics</h3>
<p>We may use third-party Service providers to monitor and analyze the use of our Service.</p>
<h4>Google Analytics</h4>
<p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services.
    Google may use the collected data to contextualise and personalise the ads of its own advertising network.</p>
<p>You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js and dc.js)
    from sharing information with Google Analytics about visits activity.</p>
<p>For more information on the privacy practices of Google, please visit the Google Privacy Terms web page: <a href="#">https://policies.google.com/privacy?hl=en</a></p>

<h3>Email Marketing</h3>
<p>We may use Your Personal Data to contact You with newsletters, marketing or promotional materials and other information that may be of interest to You. You may opt-out of receiving any, or all, of these communications from Us by
    following the unsubscribe link or instructions provided in any email We send or by contacting Us. We may use Email Marketing Service Providers to manage and send emails to You.
</p>
<h3>Usage, Performance and Miscellaneous</h3>
<p>We may use third-party Service Providers to provide better improvement of our Service.</p>
<h4>Google Places</h4>
<p>Google Places is a service that returns information about places using HTTP requests. It is operated by Google.</p>
<p>Google Places service may collect information from You and from Your Device for security purposes.</p>
<p>The information gathered by Google Places is held in accordance with the Privacy Policy of Google: <a href="#">https://www.google.com/intl/en/policies/privacy/</a></p>
