<h2 class="global_title left"><span>Intellectual Property</span></h2>
<p>The Service and its original content (excluding Content provided by You or other users), features and functionality are and will remain the exclusive property of the Company and its licensors.</p>

<p>The Service is protected by copyright, trademark, and other laws of both the Country and foreign countries.</p>
<p>
    Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of the Company.
</p>
