
<div class="d-flex">
    <div class="card-1">
        <div class="profile-div mb-custom">
            <img src="/assets/profile/profile.svg" class="profile">
            <button class="upload">Upload</button>
        </div>
    </div>
    <div class="d-flex flex-column column-2">
        <div class="card-2">
            <div class="d-flex">
                <div class="c2-col1">
                    <p class="label">Company Name</p>
                    <input  type="text" class="form-control f1 mb-custom"  placeholder="">
                    <p class="label">Office Phone #</p>
                    <input type="text" class="form-control f1 mb-custom"  placeholder="">
                </div>
                <div class="c2-col2">
                    <p class="label">License #</p>
                    <input type="text" class="form-control f1 mb-custom"  placeholder="">
                    <p class="label">Fax Phone #</p>
                    <input type="text" class="form-control f1 mb-custom"  placeholder="">
                </div>
            </div>
            <p class="label">Street</p>
            <textarea type="text" class="form-control f2 mb-custom" rows="5"  placeholder=""></textarea>
            <div class="d-flex justify-content-between mb-custom">
                <div class="selected">
                    <p class="label">City</p>
                    <select class="form-control f1">
                        <option selected>February</option>
                        <option selected>August</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="selected">
                    <p class="label">State</p>
                    <select class="form-control f1">
                        <option selected>02</option>
                        <option selected>03</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="selected">
                    <p class="label">Zip Code</p>
                    <input type="text" class="form-control f1 mb-custom"  placeholder="">
                </div>
            </div>
        </div>
    </div>
</div>
