<form [formGroup]="companyDetails.form">
    <div class="d-flex parent-pg justify-content-end">
        <button (click)="onSubmit()" class="save-btn">Save</button>
        <div class="card-1" *ngIf="loader">
            <div *ngIf="companyDetails.image" class="img-div">
                <img [src]="companyDetails.image"  class="profile-image">
                <input type="file"
                       id="file1"
                       (change)="handleFileInput($event.target.files)">
                <label for="file1" class="upload1">Upload</label>
            </div>
            <div *ngIf="!companyDetails.image" class="profile-div mb-custom">
                <img src="/assets/profile/profile.svg" class="profile">
                <div>
                    <input type="file"
                           id="file"
                           (change)="handleFileInput($event.target.files)">
                    <label for="file" class="upload">Upload</label>
                </div>
            </div>
            <p>Upload your company's logo</p>
        </div>
        <div class="d-flex flex-column column-2" *ngIf="loader">
            <div class="card-2">
                <div class="d-flex">
                    <div class="c2-col1">
                        <p [ngClass]="{'danger': companyDetails.form.get('name').invalid && companyDetails.form.get('name').touched}" class="label">Company Name</p>
                        <input  [ngClass]="{'is-invalid': companyDetails.form.get('name').invalid && companyDetails.form.get('name').touched}" formControlName="name" type="text" class="form-control f1 mb-custom"  placeholder="">
                        <p [ngClass]="{'danger': companyDetails.form.get('phoneNumber').invalid && companyDetails.form.get('phoneNumber').touched}" class="label">Office Phone #</p>
                        <input prefix="+1 " mask="(000) 000 0000" [class.is-invalid]="companyDetails.form.get('phoneNumber').invalid && companyDetails.form.get('phoneNumber').touched" formControlName="phoneNumber" type="text" class="form-control f1 mb-custom"  placeholder="">
                    </div>
                    <div class="c2-col2">
                        <ng-container *ngIf="store.role !== constant.role.INSURANCE && store.role !== constant.role.ATTORNEY">
                            <p [ngClass]="{'danger': companyDetails.form.get('licenseNumber').invalid && companyDetails.form.get('licenseNumber').touched}" class="label">License #</p>
                            <input [ngClass]="{'is-invalid': companyDetails.form.get('licenseNumber').invalid && companyDetails.form.get('licenseNumber').touched}" formControlName="licenseNumber" type="number" class="form-control f1 mb-custom"  placeholder="">
                        </ng-container>
                        <p [ngClass]="{'danger': companyDetails.form.get('faxNumber').invalid && companyDetails.form.get('faxNumber').touched}" class="label">Fax Phone #</p>
                        <input [ngClass]="{'is-invalid': companyDetails.form.get('faxNumber').invalid && companyDetails.form.get('faxNumber').touched}" formControlName="faxNumber" type="number" class="form-control f1 mb-custom"  placeholder="">
                    </div>
                </div>
                <p [ngClass]="{'danger': companyDetails.form.get('street').invalid && companyDetails.form.get('street').touched}" class="label">Street</p>
                <textarea [ngClass]="{'is-invalid': companyDetails.form.get('street').invalid && companyDetails.form.get('street').touched}" formControlName="street" type="text" class="form-control f2 mb-custom" rows="5"  placeholder=""></textarea>
                <div class="d-flex justify-content-between mb-custom">
                    <div class="selected">
                        <p [ngClass]="{'danger': companyDetails.form.get('state').invalid && companyDetails.form.get('state').touched}" class="label">State</p>
                        <div class="d-flex justify-content-end">
                            <select [ngClass]="{'danger-select': companyDetails.form.get('state').invalid && companyDetails.form.get('state').touched}" (change) = "changeState(companyDetails.form.get('state').value)" class="form-control f1" formControlName="state">
                                <option [ngValue]="null" [disabled]="true" >Select State</option>
                                <option [value]="i.state_name" *ngFor="let i of companyDetails.states">{{i.state_name}}</option>
                            </select>
                            <img src="/assets/landing/drop.svg" class="drop">
                        </div>
                    </div>
                    <div class="selected">
                        <p [ngClass]="{'danger': companyDetails.form.get('city').invalid && companyDetails.form.get('city').touched}" class="label">City</p>
                        <div class="d-flex justify-content-end">
                            <select [ngClass]="{'danger-select': companyDetails.form.get('city').invalid && companyDetails.form.get('city').touched}" class="form-control f1" formControlName="city">
                                <option [ngValue]="null" [disabled]="true" >Select City</option>
                                <option [value]="i.city_name" *ngFor="let i of companyDetails.cities">{{i.city_name}}</option>
                            </select>
                            <img src="/assets/landing/drop.svg" class="drop">
                        </div>
                    </div>
                    <div class="selected">
                        <p [ngClass]="{'danger': companyDetails.form.get('zip').invalid && companyDetails.form.get('zip').touched}" class="label">Zip Code</p>
                        <input [ngClass]="{'is-invalid': companyDetails.form.get('zip').invalid && companyDetails.form.get('zip').touched}" formControlName="zip" type="number" class="form-control f1 mb-custom"  placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
