<form [formGroup]="companyDetails" (ngSubmit)="onSubmit()">
    <div class="d-flex parent-pg justify-content-end">
        <button type="submit" class="save-btn">Save</button>
        <div class="card-1">
            <div class="profile-div mb-custom">
                <img src="/assets/profile/profile.svg" class="profile">
                <button class="upload">Upload</button>
            </div>
            <p>Upload your company's logo</p>
        </div>
        <div class="d-flex flex-column column-2">
            <div class="card-2">
                <div class="d-flex">
                    <div class="c2-col1">
                        <p class="label">Company Name</p>
                        <input formControlName="companyName" type="text" class="form-control f1 mb-custom"  placeholder="">
                        <p class="label">Office Phone #</p>
                        <input formControlName="officePhone" type="text" class="form-control f1 mb-custom"  placeholder="">
                    </div>
                    <div class="c2-col2">
                        <p class="label">License #</p>
                        <input formControlName="license" type="text" class="form-control f1 mb-custom"  placeholder="">
                        <p class="label">Fax Phone #</p>
                        <input formControlName="faxPhone" type="text" class="form-control f1 mb-custom"  placeholder="">
                    </div>
                </div>
                <p class="label">Street</p>
                <textarea formControlName="street" type="text" class="form-control f2 mb-custom" rows="5"  placeholder=""></textarea>
                <div class="d-flex justify-content-between mb-custom">
                    <div class="selected">
                        <p class="label">City</p>
                        <select class="form-control f1" formControlName="city">
                            <option selected>February</option>
                            <option selected>August</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="selected">
                        <p class="label">State</p>
                        <select class="form-control f1" formControlName="state">
                            <option selected>02</option>
                            <option selected>03</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="selected">
                        <p class="label">Zip Code</p>
                        <input formControlName="zipCode" type="text" class="form-control f1 mb-custom"  placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
