p{
  font-family: 'Poppins';
}
.parent-pg{
  position: relative;
}
.card-1, .card-2, .card-3{
  background: white;
  border-radius: .5vw;
}
.card-1{
  padding: 2vw;
  margin-right: 2vw;
  flex-basis: 20.5vw;
  height: fit-content;
}
.card-2, .card-3{
  padding: 2vw 3vw;
}
.card-2{
  margin-bottom: 2vw;
}
.card-1 p{
  color: var(--darkGray);
  font-size: .9vw;
  margin-bottom: 0;
  text-align: center;
}
.profile-div{
  background: var(--extraLightGray);
  width: fit-content;
  //padding: 2.5vw 3.3vw 4vw 3.3vw;
  padding: 6vw 0;
  border-radius: .5vw;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile{
  width: 6vw;
  height: 5.2vw;
}
.profile-image{
  width: 16.5vw;
  height: 17.5vw;
  object-fit: cover;
  margin-bottom: 1vw;
}
.upload, .upload1{
  background: var(--darkBlueOne);
  padding: .5vw 5.5vw;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: .85vw;
  color: white;
  border: none;
  border-radius: .3vw;
  position: absolute;
  cursor: pointer;
}
.upload{
  top:80%;
  left: 7.5%;
}
.upload1{
  top:80%;
  left: 7.5%;
}
.upload, .upload1:focus{
  outline: none;
}
.f1, .f2{
  font-size: .85vw;
  color: var(--darkGray);
  border-radius: .5vw;
  border: 1px solid var(--lighGray);
  padding: 0 .8vw;
}
.f1{
  height: 2.5vw;
}
.title, .label{
  color: var(--lighGray);
  margin-bottom: 0.3vw;
  font-weight: 300;
}
.title{
  font-size: .7vw;
}
.label{
  font-size: .9vw;
}
.mb-custom{
  margin-bottom: 1.5vw;
}
.div-2 img{
  width: 2.3vw;
  height: 2.3vw;
  background: var(--extraLightGray);
  padding: .6vw;
  border-radius: .3vw;
  cursor: pointer;
}
.c2-col1, .c2-col2{
  flex-grow: 1;
}
.column-2{
  flex-grow: 1;
}
.c2-col1{
  margin-right: 5vw;
}
select::-ms-expand {	display: none; }
select{
  -webkit-appearance: none;
  appearance: none;
}
.selected{
  flex-grow: 1;
  position: relative;
}
.selected:first-child{
  //margin-right: 2.5vw;
}
.selected:last-child{
  //margin-left: 2.5vw;
}
.save-btn{
  border: none;
  border-radius: .5vw;
  padding: .5vw 1.5vw;
  background: var(--green);
  color: white;
  font-family: 'Poppins';
  font-size: .8vw;
  height: fit-content;
  cursor: pointer;
  position: absolute;
  top: -4.2vw;
}
.save-btn:focus{
  outline: 0;
}
#file, #file1{
  display: none;
}
.img-div{
  position: relative;
}
.danger{
  color: var(--red);
}
.danger-select:focus{
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
}
.drop{
  width: .8vw;
  height: .4vw;
  position: absolute;
  top: 2.7vw;
  right: 3.3vw;
}
.f1-select{
  width: 13.5vw;
}
