<div class="wrap-header d-flex align-items-end flex-column">
  <div class="d-flex justify-content-end">
    <div class="d-flex header">
      <img (click)="store.updateToggleNotification(notificationToggle())" class="bell align-self-center" src="/assets/notification/bell.svg">
      <div class="circle-div">
        <div class="circle"></div>
      </div>
      <div class="d-flex route"  routerLink="/home/profile">
        <img *ngIf="image" class="profile" [src]="image">
        <img class="profile-emoji" *ngIf="!image" src="/assets/profile/profile.svg">
        <p class="name align-self-center text-nowrap">{{firstName | titlecase}} {{lastName | titlecase}}</p>
<!--        <img class="down-arrow align-self-center" src="/assets/search-home/down-arrow.svg">-->
      </div>
    </div>
  </div>
  <div *ngIf="store.toggleNotification | async" class="notification" [class.open]="false">
    <div class="notification-cone">
      <div class="heading-div">
        <div class="triangle"></div>
        <p class="heading">Notifications</p>
      </div>
      <div class="nt-div">
        <div class="notification-tile" *ngFor="let i of [1,2,3,4]">
          <div class="d-flex">
            <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkqkWLzMbf_6cUuaxj9rAaJ61f3ntPBoto9g&usqp=CAU">
            <div>
              <p class="text">But while teams face new hurdles, their success still</p>
              <div class="d-flex justify-content-between">
                <p class="time">12 hours ago</p>
                <div class="circle-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
