p{
  font-family: 'Poppins';
}
.card-1{
  padding: 2.5vw;
}
.heading{
  font-size: .8vw;
  font-weight: 500;
  color: var(--darkGray);
  margin-bottom: 2vw;
}
.title{
  font-size: .7vw;
  color: var(--lighGray);
  margin-bottom: 0.2vw;
  font-weight: 300;
}
.mb-custom{
  margin-bottom: 1.5vw;
}

.f1{
  height: 2.5vw;
  font-size: .8vw;
  color: var(--darkGray);
  border-radius: .5vw;
  border: 1px solid var(--lighGray);
}
.f2{
  font-size: .8vw;
  color: var(--darkGray);
  border-radius: .5vw;
  border: 1px solid var(--lighGray);
}
.team img{
  border-radius: .3vw;
  height: 2.5vw;
  width: 2.5vw;
  object-fit: cover;
  margin-right: .5vw;
}
.team img:last-child{
  margin-right: 0;
}
.launch{
  color: white;
  background: var(--green);
  border-radius: .3vw;
  font-size: .7vw;
  margin-bottom: 0;
  height: fit-content;
  padding: .5vw 1vw .5vw 1vw;
  cursor: pointer;
}
