<div class="form-div">
  <img (click)="close()" class="close-btn" src="/assets/calendar-icons/close.svg">
  <form [formGroup] = "eventForm">
     <div class="card-1">
       <p class="heading">{{edit ? 'Edit' : 'Create'}} Event</p>
       <p [ngClass]="{'danger': eventForm.get('title').invalid && eventForm.get('title').touched}" class="title">Event title</p>
       <input [class.is-invalid]="eventForm.get('title').invalid && eventForm.get('title').touched" formControlName="title" type="text" class="form-control f1 mb-custom"  placeholder="">
       <div class="d-flex justify-content-between mb-custom">
          <div class="mr-custom">
            <p [ngClass]="{'danger': eventForm.get('date').invalid && eventForm.get('date').touched}" class="title" class="title">Date</p>
            <div class="date-div">
              <img class="calendar-icon" src="/assets/menu-icons/calendar.svg" (click)="d.toggle()">
              <input [class.is-invalid]="eventForm.get('date').invalid && eventForm.get('date').touched"
                      class="form-control f1 width-custom" placeholder="yyyy-mm-dd"
                     name="dp" formControlName="date"  ngbDatepicker #d="ngbDatepicker">
            </div>
          </div>
         <div>
           <p [ngClass]="{'danger': eventForm.get('time').invalid && eventForm.get('time').touched}" class="title" class="title">Starts at</p>
           <input formControlName="time" type="text" class="form-control f1 width-custom" mask="00:00"
                  [class.is-invalid]="eventForm.get('time').invalid && eventForm.get('time').touched"  placeholder="24 hours format">
         </div>
       </div>
       <p [ngClass]="{'danger': eventForm.get('note').invalid && eventForm.get('note').touched}" class="title">Add a note</p>
       <textarea [class.is-invalid]="eventForm.get('note').invalid && eventForm.get('note').touched" formControlName="note" class="form-control f2 mb-custom" id="exampleFormControlTextarea1" rows="3"></textarea>
       <div class="d-flex justify-content-between mb-custom">
         <div formGroupName="eventCategory">
           <div>
             <label class="container">
               <input formControlName="status" id="myCheck" type="checkbox">
               <img class="checkmark" src="/assets/loan-details/tick.svg">
               <p [ngClass]="{'danger': (eventForm.get(['eventCategory', 'value']).invalid && eventForm.get(['eventCategory', 'value']).touched) || (eventForm.get(['eventCategory', 'status']).invalid && eventForm.get(['eventCategory', 'status']).touched)}" class="title">
                 Event Category
               </p>
             </label>
           </div>
           <select formControlName="value" class="form-control f1 width-custom" [class.is-invalid]="eventForm.get(['eventCategory', 'value']).invalid && eventForm.get(['eventCategory', 'value']).touched" >
             <option [ngValue]="null" [disabled]="true">Choose</option>
             <option *ngFor="let i of eventCategories">{{i.title}}</option>
           </select>
         </div>
         <p class="title align-self-end or">or</p>
         <div formGroupName="customEventCategory">
           <label class="container">
             <input formControlName="status" type="checkbox">
             <img class="checkmark" src="/assets/loan-details/tick.svg">
             <p [ngClass]="{'danger': (eventForm.get(['customEventCategory', 'value']).invalid && eventForm.get(['customEventCategory', 'value']).touched) || (eventForm.get(['customEventCategory', 'status']).invalid && eventForm.get(['customEventCategory', 'status']).touched)}" class="title text-nowrap">Add Custom Category</p>
           </label>
           <input [class.is-invalid]="eventForm.get(['customEventCategory', 'value']).invalid && eventForm.get(['customEventCategory', 'value']).touched" formControlName="value" type="text" class="form-control f1 width-custom"  placeholder="">
         </div>
       </div>
       <ng-container *ngIf="store.role !== constant.role.BUYER && !edit">
         <p class="title">Select Buyer</p>
         <div class="d-flex justify-content-between mb-custom1">
           <div class="select-buyer d-flex">
             <ng-container *ngFor="let member of teamData.buyers; let i = index">
               <div [ngbTooltip]="member.buyer.firstName + ' ' + member.buyer.lastName"  #member (click)="getBuyersTeam(member)" class="d-flex team-member">
                 <img [ngClass]="{'activate-tick': teamData.selectedButton === member}" class="active" src="/assets/calendar-icons/tick.svg">
                 <img [ngClass]="{'activate-border': teamData.selectedButton === member}" *ngIf="member.buyer.profilePictureUrl" class="team" [src]="member.buyer.profilePictureUrl">
                 <img [ngClass]="{'activate-border': teamData.selectedButton === member}" *ngIf="!member.buyer.profilePictureUrl"  class="team-dummy" src="/assets/profile/profile.svg">
               </div>
             </ng-container>
           </div>
         </div>
       </ng-container>
       <ng-container>
         <p *ngIf="teamData.team" class="title">Add a team member</p>
         <div class="d-flex justify-content-between">
           <div class="d-flex">
             <ng-container *ngFor="let member of teamData.team | keyvalue; let i = index">
               <div [ngbTooltip]="member.key !== constant.role.BUYER ? member.value.userId.firstName + ' ' + member.value.userId.lastName : member.value.firstName + ' ' + member.value.lastName"
                    #member (click)="toggleTeamMember(member.value)" [attr.id]="member.value.userId ?  member.value.userId._id : member.value._id" class="d-flex team-member">
                 <img class="active" src="/assets/calendar-icons/tick.svg">
                 <ng-container *ngIf="store.role === constant.role.BUYER">
                   <img *ngIf="member.value.userId.profilePictureUrl" class="team" [src]="member.value.userId.profilePictureUrl">
                   <img *ngIf="!member.value.userId.profilePictureUrl"  class="team-dummy" src="/assets/profile/profile.svg">
                 </ng-container>
                 <ng-container *ngIf="store.role !== constant.role.BUYER">
                   <ng-container *ngIf = "member.key === constant.role.BUYER">
                     <img *ngIf="member.value.profilePictureUrl" class="team" [src]="member.value.profilePictureUrl">
                     <img *ngIf="!member.value.profilePictureUrl"  class="team-dummy" src="/assets/profile/profile.svg">
                   </ng-container>
                   <ng-container *ngIf = "member.key !== constant.role.BUYER">
                     <img *ngIf="member.value.userId.profilePictureUrl" class="team" [src]="member.value.userId.profilePictureUrl">
                     <img *ngIf="!member.value.userId.profilePictureUrl"  class="team-dummy" src="/assets/profile/profile.svg">
                   </ng-container>
                 </ng-container>
               </div>
             </ng-container>
           </div>
           <button type="button" (click)="onSubmit()" class="launch align-self-end">Launch Event</button>
         </div>
       </ng-container>
     </div>
  </form>
</div>
