<form class="d-flex flex-column" [formGroup]="setPassword.form" (ngSubmit)="onSubmit()">
    <p class="heading text-nowrap">Welcome {{setPassword.firstName | titlecase}} {{setPassword.lastName | titlecase}}</p>
    <p class="sub-heading">Complete your account and start being more productive</p>

    <p [ngClass]="{'danger':setPassword.form.get('password').invalid && setPassword.form.get('password').touched}" class="label">Password</p>
    <input [class.is-invalid]="setPassword.form.get('password').invalid && setPassword.form.get('password').touched" formControlName="password" type="password" class="form-control form-custom mb-custom1" placeholder="***********">
    <p [ngClass]="{'danger': setPassword.form.get('password').value != setPassword.form.get('confirmPassword').value && setPassword.form.get('confirmPassword').value != null}" class="label">Confirm Password</p>
    <input type="password" [class.is-invalid]="setPassword.form.get('password').value != setPassword.form.get('confirmPassword').value && setPassword.form.get('confirmPassword').value != null" formControlName="confirmPassword" type="password" class="form-control form-custom mb-custom1" placeholder="***********">

    <button type="submit" [disabled]="!setPassword.form.valid" class="login">Submit</button>
</form>
