<form class="d-flex flex-column" [formGroup]="setPassword.form" (ngSubmit)="onSubmit()">
    <p class="heading text-nowrap">Welcome Julio</p>
    <p class="sub-heading">Complete your account and start being more productive</p>

    <p class="label">Password</p>
    <input formControlName="password" type="password" class="form-control form-custom mb-custom1" type="text" placeholder="***********">
    <p class="label">Confirm Password</p>
    <input formControlName="confirmPassword" type="password" class="form-control form-custom mb-custom1" type="text" placeholder="***********">

    <button type="submit" [disabled]="!setPassword.form.valid" class="login">Submit</button>
</form>
