p{
  font-family: 'Poppins';
}
.heading{
  font-size: 1.8vw;
  font-weight: 600;
  margin-bottom: .5vw;
  color: var(--darkGray);
}
.sub-heading{
  font-size: .9vw;
  font-weight: 300;
  //margin-bottom: 4vw;
  color: var(--darkGray);
  width: 18vw;
}
.label{
  color: var(--lighGray);
  font-size: .7vw;
  margin-bottom: 0.4vw;
  margin-left: .5vw;
}
.form-custom{
  border-radius: .6vw;
  height: 2.5vw;
  border: 1px solid var(--lighGray);
  font-family: 'Poppins';
  font-size: .9vw;
  color: var(--darkGray);
  font-weight: 300;
}
.mb-custom{
  margin-bottom: 1.5vw;
}
.mb-custom1{
  margin-bottom: 2vw;
}
::placeholder{
  font-size: .85vw;
  color: var(--lighGray);
  font-family: 'Poppins';
}
.remember{
  font-size: .8vw;
  font-weight: 300;
  color: var(--darkGray);
  margin-bottom: 2.5vw;
}
.login{
  background: var(--green);
  border: none;
  font-family: 'Poppins';
  font-size: .8vw;
  border-radius: .5vw;
  padding: .6vw 2.3vw .6vw 2.3vw;
  color: white;
  cursor: pointer;
}
.login:focus{
  outline: none;
}
.danger{
  color: var(--red);
}
.password{
  position: absolute;
  height: 1.3vw;
  width: 1.3vw;
  left: 26.5vw;
  top: 0.6vw;
  cursor: pointer;
}
.password-parent{
  position: relative;
}
.parent{
  height: 100%;
}
