<form class="d-flex flex-column parent" [formGroup]="setPassword.form" (ngSubmit)="onSubmit()">
    <p class="heading text-nowrap">
        Welcome {{setPassword.firstName | titlecase}} {{setPassword.lastName | titlecase}}</p>
    <p *ngIf="!setPassword.resetPassword" class="sub-heading">Complete your account and start being more productive</p>

    <div class="d-flex flex-column mt-auto mb-auto">
        <p [ngClass]="{'danger':setPassword.form.get('password').invalid && setPassword.form.get('password').touched}"
           class="label">Password</p>
        <div class="password-parent">
            <input #password
                   [class.is-invalid]="setPassword.form.get('password').invalid && setPassword.form.get('password').touched"
                   formControlName="password" type="password" class="form-control form-custom mb-custom1"
                   placeholder="***********">
            <img #showPassword (click)="toggle(true)" class="password" src="/assets/password/Show.svg">
        </div>
        <p [ngClass]="{'danger': setPassword.form.get('password').value != setPassword.form.get('confirmPassword').value && setPassword.form.get('confirmPassword').value != null}"
           class="label">Confirm Password</p>
        <div class="password-parent">
            <input #confirmPassword type="password"
                   [class.is-invalid]="setPassword.form.get('password').value != setPassword.form.get('confirmPassword').value && setPassword.form.get('confirmPassword').value != null"
                   formControlName="confirmPassword" type="password" class="form-control form-custom mb-custom1"
                   placeholder="***********">
            <img #showConfirmPassword (click)="toggle(false)" class="password" src="/assets/password/Show.svg">
        </div>
        <button type="submit" [disabled]="!setPassword.form.valid" class="login">Submit</button>
    </div>
</form>
