<form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column parent">
    <p class="heading">Forgot Password</p>
    <div *ngIf="!nextScreen" class="mb-auto mt-auto d-flex flex-column">
        <p [ngClass]="{'danger': form.get('email').invalid && form.get('email').touched}" class="label">
            Email
        </p>
        <input type="email" [class.is-invalid] = "form.get('email').invalid && form.get('email').touched" formControlName="email" class="form-control form-custom mb-custom" type="text" placeholder="">
        <button type="submit" [disabled]="!form.valid" class="send">Send</button>
    </div>
    <div *ngIf="nextScreen" class="mb-auto mt-auto d-flex flex-column">
        <p class="label1">
            Email to Reset your password has been sent to your account.
        </p>
    </div>
</form>
