<div class="heading d-flex justify-content-between">
  <h3>Calendar</h3>
</div>
<div class="row" *ngIf="!(store.progressBarLoading | async)" >
   <div class=" col-3 column-1" >
      <div class="card-1">
        <div (click)="addNewEvent()" class="d-flex justify-content-center add-event">
          <img class="plus-icon" src="/assets/calendar-icons/plus.svg">
          <p class="align-self-center">Add New Event</p>
        </div>
         <div class="d-flex flex-row create-button">
           <button (click)="createNewEventCategory()" [disabled]="!newEventCategory.value" class="plus-btn">
             <img class="plus-icon" src="/assets/calendar-icons/plus.svg">
           </button>
           <div class="align-self-center create-button-text">
             <input [formControl]="newEventCategory" type="text" class="form-control f1"  placeholder="Create New Event Category">
            </div>
         </div>
         <p class="ec-heading">Event Categories</p>
         <div id='external-events' class="external-events">
            <div *ngFor="let i of [constant.eventColorDetails.pink].concat(calendar.eventCategories)" class="category">
               <div>
                  <img [style.background]="i.color" [src]="i.colorIcon" class="color-icons">
               </div>
                <div class="category-text-div d-flex justify-content-between">
                    <p class="category-text" style="">{{i.title}}</p>
                    <img (click)="deleteEventCategory(i._id)" *ngIf="i.type === 'custom'" class="delete-btn align-self-center" src="/assets/news-feed-icons/delete.svg">
                </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-9 column-2" >
      <div class="calendar-card" style="">
          <div class="d-flex action-btn-parent">
              <button class="action-btn">
                  <img (click)="previous()" src="/assets/landing/prev.svg" class="action-btn-icon">
              </button>
              <button class="action-btn">
                  <img (click)="next()" src="/assets/landing/next.svg" class="action-btn-icon">
              </button>
          </div>
         <full-calendar #cal [options]="calendar.calendarOptions"></full-calendar>
      </div>
   </div>
</div>
