

<div class="parent" [formGroup]="finance">
<div formGroupName="homeReady">
 <div class="loan-type d-flex justify-content-between">
     <p class="align-self-center">Home Ready</p>
     <app-change-letter-button *ngIf="store.role === constant.role.LENDER" (openPopup)="changeLetter()"></app-change-letter-button>
 </div>
    <div class="loan-form">
      <div class="loan-detail row-space">
          <div class="loan-heading"><p>Loan Details</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['homeReady', 'loanTerm']).invalid && finance.get(['homeReady', 'loanTerm']).touched ? 'var(--red)' : 'var(--lighGray)'">
                   Loan Term</p></label>
               <input [class.is-invalid]="finance.get(['homeReady', 'loanTerm']).invalid && finance.get(['homeReady', 'loanTerm']).touched"
                      suffix=" year(s)" mask="0*" formControlName="loanTerm" type="" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['homeReady', 'loanRate']).invalid && finance.get(['homeReady', 'loanRate']).touched ? 'var(--red)' : 'var(--lighGray)'">
                   Loan Rate</p></label>
               <input [class.is-invalid]="finance.get(['homeReady', 'loanRate']).invalid && finance.get(['homeReady', 'loanRate']).touched "
                      suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="loanRate" type="text" class="form-control" placeholder="">
             </div>
          </div>
       </div>
        <div class="mortgage-over row-space" formGroupName="downPayment">
            <div class="loan-heading"><p>Down Payment</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['homeReady', 'downPayment', 'oneUnit']).invalid && finance.get(['homeReady', 'downPayment', 'oneUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        1 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['homeReady', 'downPayment', 'oneUnit']).invalid && finance.get(['homeReady', 'downPayment', 'oneUnit']).touched"
                           suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="oneUnit" type="text" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['homeReady', 'downPayment', 'twoUnit']).invalid && finance.get(['homeReady', 'downPayment', 'twoUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        2 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['homeReady', 'downPayment', 'twoUnit']).invalid && finance.get(['homeReady', 'downPayment', 'twoUnit']).touched"
                           suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="twoUnit" type="text" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['homeReady', 'downPayment', 'threeToFourUnit']).invalid && finance.get(['homeReady', 'downPayment', 'threeToFourUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        3-4 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['homeReady', 'downPayment', 'threeToFourUnit']).invalid && finance.get(['homeReady', 'downPayment', 'threeToFourUnit']).touched"
                           suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="threeToFourUnit" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="ratios row-space">
          <div class="loan-heading"><p>Ratios</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
                <label><p [style.color]=" finance.get(['homeReady', 'housingRatio']).invalid && finance.get(['homeReady', 'housingRatio']).touched ? 'var(--red)' : 'var(--lighGray)'">
                    Housing Ratio</p></label>
                <input [class.is-invalid]="finance.get(['homeReady', 'housingRatio']).invalid && finance.get(['homeReady', 'housingRatio']).touched"
                       suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="housingRatio" type="text" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['homeReady', 'debtRatio']).invalid && finance.get(['homeReady', 'debtRatio']).touched ? 'var(--red)' : 'var(--lighGray)'">
                   Debt Ratio</p></label>
               <input [class.is-invalid]="finance.get(['homeReady', 'debtRatio']).invalid && finance.get(['homeReady', 'debtRatio']).touched"
                      suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="debtRatio" type="text" class="form-control" placeholder="">
             </div>
          </div>
        </div>
        <div class="mortgage-under row-space" formGroupName="privateMortgageInsurance">
            <div class="loan-heading"><p>Private Mortgage Insurance</p></div>
            <div class="row d-flex loan-label">
               <div class="col-3 form-group">
                  <label><p [style.color]=" finance.get(['homeReady', 'privateMortgageInsurance', 'threePercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'threePercentDown']).touched ? 'var(--red)' : 'var(--lighGray)'">
                      3% Down</p></label>
                  <input [class.is-invalid]="finance.get(['homeReady', 'privateMortgageInsurance', 'threePercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'threePercentDown']).touched"
                         suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="threePercentDown" type="text" class="form-control" placeholder="">
               </div>
               <div class="col-3 form-group">
                 <label><p [style.color]=" finance.get(['homeReady', 'privateMortgageInsurance', 'fivePercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'fivePercentDown']).touched ? 'var(--red)' : 'var(--lighGray)'">
                     5% Down</p></label>
                 <input [class.is-invalid]="finance.get(['homeReady', 'privateMortgageInsurance', 'fivePercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'fivePercentDown']).touched"
                        suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="fivePercentDown" type="text" class="form-control" placeholder="">
               </div>
              <div class="col-3 form-group">
                <label><p [style.color]=" finance.get(['homeReady', 'privateMortgageInsurance', 'tenPercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'tenPercentDown']).touched ? 'var(--red)' : 'var(--lighGray)'">
                    10% Down</p></label>
                <input [class.is-invalid]="finance.get(['homeReady', 'privateMortgageInsurance', 'tenPercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'tenPercentDown']).touched"
                       suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="tenPercentDown" type="text" class="form-control" placeholder="">
              </div>
              <div class="col-3 form-group">
                <label><p [style.color]=" finance.get(['homeReady', 'privateMortgageInsurance', 'fifteenPercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'fifteenPercentDown']).touched ? 'var(--red)' : 'var(--lighGray)'">
                    15% Down</p></label>
                <input [class.is-invalid]="finance.get(['homeReady', 'privateMortgageInsurance', 'fifteenPercentDown']).invalid && finance.get(['homeReady', 'privateMortgageInsurance', 'fifteenPercentDown']).touched"
                       suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="fifteenPercentDown" type="text" class="form-control" placeholder="">
              </div>
            </div>
        </div>
        <div class="mortgage-over row-space" formGroupName="reserves">
            <div class="loan-heading"><p>Reserves Needed</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['homeReady', 'reserves', 'oneUnit']).invalid && finance.get(['homeReady', 'reserves', 'oneUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        1 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['homeReady', 'reserves', 'oneUnit']).invalid && finance.get(['homeReady', 'reserves', 'oneUnit']).touched"
                           formControlName="oneUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['homeReady', 'reserves', 'twoUnit']).invalid && finance.get(['homeReady', 'reserves', 'twoUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        2 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['homeReady', 'reserves', 'twoUnit']).invalid && finance.get(['homeReady', 'reserves', 'twoUnit']).touched"
                           formControlName="twoUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['homeReady', 'reserves', 'threeToFourUnit']).invalid && finance.get(['homeReady', 'reserves', 'threeToFourUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        3-4 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['homeReady', 'reserves', 'threeToFourUnit']).invalid && finance.get(['homeReady', 'reserves', 'threeToFourUnit']).touched"
                           formControlName="threeToFourUnit" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="add-reserve row-space">
            <div class="loan-heading"><p>Additional Reserves Needed</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['homeReady', 'additionalReserves']).invalid && finance.get(['homeReady', 'additionalReserves']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        Reserves</p></label>
                    <input [class.is-invalid]="finance.get(['homeReady', 'additionalReserves']).invalid && finance.get(['homeReady', 'additionalReserves']).touched"
                           formControlName="additionalReserves" type="" class="form-control" placeholder="">
                </div>
            </div>
        </div>
  </div>
</div>
</div>
