<div>
  <div *ngIf="!member" class="empty d-flex flex-column">
      <button class="add-btn" (click)="addTeamMember()">
          <img class="plus-btn" src="/assets/dashboard/plus.svg">
      </button>
    <div class="empty-txt">
      <p class="text-center">Add</p>
      <p class="text-center">{{role}}</p>
    </div>
  </div>

  <div *ngIf="member" class="team-card">
    <img (click)="removeMember()" class="minus" src="/assets/dashboard/minus.svg">
    <div *ngIf="member.profilePictureUrl" class="team-img">
      <img [src]="member.profilePictureUrl">
    </div>
    <img *ngIf="!member.profilePictureUrl"  src="/assets/profile/profile.svg" class="dummy-img">
   <div style="" class="team-info">
    <div class="info">
      <p class="name">{{ member.firstName | titlecase}} {{member.lastName | titlecase}}</p>
      <p class="role"> {{role}} </p>
    </div>
     <div class="hide">
          <div class="d-flex justify-content-between">
            <img class="call" src="/assets/directory-icons/call.svg">
            <img (click)="chatWithProfessional(member._id)" class="chat" src="/assets/referral-lineage/chat.svg">
            <img (click)="sendEmail(member.email)" class="email" src="/assets/referral-lineage/email.svg">
          </div>
     </div>
   </div>
  </div>
</div>
