<div class="team-card">
  <div class="team-img"><img [src]="details.image"></div>
 <div style="" class="team-info">
  <div class="info">
    <p class="name">{{ details.name }}</p>
    <p class="role"> {{details.role}} </p>
  </div>
   <div class="hide">
        <div class="d-flex justify-content-between">
          <img class="call" src="/assets/directory-icons/call.svg">
          <img class="chat" src="/assets/referral-lineage/chat.svg">
          <img class="email" src="/assets/referral-lineage/email.svg">
        </div>
   </div>
 </div>
</div>
