<div>
  <div *ngIf="member == undefined" class="empty">
    <img (click)="addTeamMember()" class="plus-btn" src="/assets/dashboard/plus.svg">
    <div class="empty-txt">
      <p class="text-center">Add</p>
      <p class="text-center">{{role}}</p>
    </div>
  </div>

  <div *ngIf="member !== undefined" class="team-card">
    <img (click)="removeMember()" class="minus" src="/assets/dashboard/minus.svg">
    <div class="team-img">
      <img [src]="member.image">
    </div>
   <div style="" class="team-info">
    <div class="info">
      <p class="name">{{ member.name }}</p>
      <p class="role"> {{member.role}} </p>
    </div>
     <div class="hide">
          <div class="d-flex justify-content-between">
            <img class="call" src="/assets/directory-icons/call.svg">
            <img class="chat" src="/assets/referral-lineage/chat.svg">
            <img class="email" src="/assets/referral-lineage/email.svg">
          </div>
     </div>
   </div>
  </div>
</div>
