<form [formGroup]="personalDetails.form" *ngIf="loader">
    <div class="d-flex parent-pg justify-content-end">
        <button (click)="onSubmit()" class="save-btn">Save</button>
        <div class="card-1">
            <div *ngIf="personalDetails.image" class="img-div">
                <img [src]="personalDetails.image"  class="profile-image">
                <input type="file"
                       id="file1"
                       (change)="handleFileInput($event.target.files)">
                <label for="file1" class="upload1">Upload</label>
            </div>
            <div *ngIf="!personalDetails.image" class="profile-div mb-custom">
                <img src="/assets/profile/profile.svg" class="profile">
                <div>
                    <input accept="image/*"
                           type="file"
                           id="file"
                           (change)="handleFileInput($event.target.files)">
                    <label for="file" class="upload">Upload</label>
                </div>
            </div>
            <!--        <p class="title">Full Name</p>-->
            <!--        <input  type="text" class="form-control f1 mb-custom"  placeholder="">-->
            <p [ngClass]="{'danger': personalDetails.form.get('firstName').invalid&&personalDetails.form.get('firstName').touched}" class="title">First Name</p>
            <input [class.is-invalid]="personalDetails.form.get('firstName').invalid&&personalDetails.form.get('firstName').touched" formControlName="firstName" type="text" class="form-control f1 mb-custom"  placeholder="">
            <p [ngClass]="{'danger': personalDetails.form.get('lastName').invalid&&personalDetails.form.get('lastName').touched}" class="title">Last Name</p>
            <input [class.is-invalid]="personalDetails.form.get('lastName').invalid&&personalDetails.form.get('lastName').touched" formControlName="lastName"  type="text" class="form-control f1 mb-custom"  placeholder="">
            <div class="d-flex justify-content-between div-2 mb-custom">
                <a (click)="switchSocialMediaLink('facebook')"><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook"></a>
                <a (click)="switchSocialMediaLink('instagram')"> <img src="/assets/directory-icons/instagram.svg" class="img-fluid instagram"> </a>
                <a (click)="switchSocialMediaLink('linkedIn')"> <img src="/assets/directory-icons/linkedin.svg" class="img-fluid linkedin"> </a>
                <a (click)="switchSocialMediaLink('twitter')"><img src="/assets/directory-icons/twitter.svg" class="img-fluid twitter"> </a>
            </div>
            <div formGroupName="socialMedia">
                <div *ngIf="socialMediaLinks['facebook']">
                    <p class="title">Facebook Link</p>
                    <textarea formControlName="facebook" type="text" class="form-control f2"  rows="3"></textarea>
                </div>
                <div *ngIf="socialMediaLinks['instagram']" >
                    <p class="title">Instagram Link</p>
                    <textarea formControlName="instagram" type="text" class="form-control f2"  rows="3"></textarea>
                </div>
                <div  *ngIf="socialMediaLinks['linkedIn']">
                    <p class="title">LinkedIn Link</p>
                    <textarea formControlName="linkedin" type="text" class="form-control f2"  rows="3"></textarea>
                </div>
                <div *ngIf="socialMediaLinks['twitter']">
                    <p class="title">Twitter Link</p>
                    <textarea formControlName="twitter" type="text" class="form-control f2"  rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column column-2">
            <div class="card-2 d-flex">
                <div class="c2-col1">
                    <p [ngClass]="{'danger': personalDetails.form.get('phoneNumber').invalid && personalDetails.form.get('phoneNumber').touched}" class="label">Phone Number</p>
                    <input prefix="+1 " mask="(000) 000 0000" [class.is-invalid]="personalDetails.form.get('phoneNumber').invalid && personalDetails.form.get('phoneNumber').touched" formControlName="phoneNumber" type="text" class="form-control f1 mb-custom"  placeholder="">
                    <p class="label">Role</p>
                    <input formControlName="role" type="text" class="form-control f1 mb-custom"  placeholder="">
                    <p [ngClass]="{'danger': personalDetails.form.get('title').invalid&&personalDetails.form.get('title').touched}" class="label">Title</p>
                    <input [ngClass]="{'is-invalid': personalDetails.form.get('title').invalid&&personalDetails.form.get('title').touched}" formControlName="title" type="text" class="form-control f1 mb-custom"  placeholder="">
                    <ng-container *ngIf="store.role !== constant.role.REAL_ESTATE">
                        <p [ngClass]="{'danger': personalDetails.form.get('licenseNumber').invalid&&personalDetails.form.get('licenseNumber').touched}" class="label">License #</p>
                        <input [ngClass]="{'is-invalid': personalDetails.form.get('licenseNumber').invalid&&personalDetails.form.get('licenseNumber').touched}" formControlName="licenseNumber" type="text" class="form-control f1"  placeholder="">
                    </ng-container>
                </div>
                <div class="c2-col2 d-flex flex-column">
                    <p [ngClass]="{'danger': personalDetails.form.get(['birthday', 'month']).invalid&&personalDetails.form.get(['birthday', 'month']).touched
                    && personalDetails.form.get(['birthday', 'day']).invalid&&personalDetails.form.get(['birthday', 'day']).touched
                    && personalDetails.form.get(['birthday', 'year']).invalid&&personalDetails.form.get(['birthday', 'year']).touched}" class="label">Birthday</p>
                    <div class="d-flex justify-content-between mb-custom" formGroupName="birthday">
                        <div class="selected d-flex justify-content-end">
                            <select formControlName="month" class="form-control f1">
                                <option *ngFor="let month of months; let i = index" [value]="i+1">{{month}}</option>
                            </select>
                            <img src="/assets/landing/drop.svg" class="drop">
                        </div>
                        <div class="selected d-flex justify-content-end">
                            <select formControlName="day" class="form-control f1">
                                <option *ngFor="let day of days" [value]="day">{{day}}</option>
                            </select>
                            <img src="/assets/landing/drop.svg" class="drop">
                        </div>
                        <div class="selected d-flex justify-content-end">
                            <select formControlName="year" class="form-control f1">
                                <option *ngFor="let year of years | reverse" [value]="year">{{year}}</option>
                            </select>
                            <img src="/assets/landing/drop.svg" class="drop">
                        </div>
                    </div>
                    <p class="label">Email</p>
                    <input formControlName="email" type="text" class="form-control f1 mb-custom"  placeholder="">
                    <p [ngClass]="{'danger': personalDetails.form.get('realEstateLicenseNumber').invalid&&personalDetails.form.get('realEstateLicenseNumber').touched}" class="label">Real Estate Lic #</p>
                    <input [ngClass]="{'is-invalid': personalDetails.form.get('realEstateLicenseNumber').invalid&&personalDetails.form.get('realEstateLicenseNumber').touched}" formControlName="realEstateLicenseNumber" type="text" class="form-control f1 mb-custom"  placeholder="">
                    <ng-container *ngIf="store.role !== constant.role.REAL_ESTATE">
                        <p [ngClass]="{'danger': personalDetails.form.get('brokerLicense').invalid&&personalDetails.form.get('brokerLicense').touched}" class="label mt-auto">Broker Lic #</p>
                        <input [ngClass]="{'is-invalid': personalDetails.form.get('brokerLicense').invalid&&personalDetails.form.get('brokerLicense').touched}" formControlName="brokerLicense" type="text" class="form-control f1"  placeholder="">
                    </ng-container>
                </div>
            </div>
            <div class="card-3">
                <div class="d-flex">
                    <div class="bio">
                        <p [ngClass]="{'danger': personalDetails.form.get('bio').invalid&&personalDetails.form.get('bio').touched}" class="label">Bio</p>
                        <textarea [ngClass]="{'is-invalid': personalDetails.form.get('bio').invalid&&personalDetails.form.get('bio').touched}"  formControlName="bio" type="text" class="form-control f2"  rows="7"></textarea>
                    </div>
                    <div class="video">
                        <p class="label">Video Link</p>
                        <input formControlName="profileVideoUrl" type="text" class="form-control f1"  placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
