
<div class="d-flex">
    <div class="card-1">
        <div class="profile-div mb-custom">
            <img src="/assets/profile/profile.svg" class="profile">
            <button class="upload">Upload</button>
        </div>
        <p class="title">Full Name</p>
        <input  type="text" class="form-control f1 mb-custom"  placeholder="">
        <p class="title">First Name</p>
        <input  type="text" class="form-control f1 mb-custom"  placeholder="">
        <p class="title">Last Name</p>
        <input  type="text" class="form-control f1 mb-custom"  placeholder="">
        <div class="d-flex justify-content-between div-2 mb-custom">
            <a><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook"></a>
            <a> <img src="/assets/directory-icons/instagram.svg" class="img-fluid instagram"> </a>
            <a> <img src="/assets/directory-icons/linkedin.svg" class="img-fluid linkedin"> </a>
            <a><img src="/assets/directory-icons/twitter.svg" class="img-fluid twitter"> </a>
        </div>
        <p class="title">Facebook Link</p>
        <textarea type="text" class="form-control f2"  rows="3"></textarea>
    </div>
    <div class="d-flex flex-column column-2">
        <div class="card-2 d-flex">
            <div class="c2-col1">
                <p class="label">Phone Number</p>
                <input  type="text" class="form-control f1 mb-custom"  placeholder="">
                <p class="label">Role</p>
                <input type="text" class="form-control f1 mb-custom"  placeholder="">
                <p class="label">Title</p>
                <input type="text" class="form-control f1 mb-custom"  placeholder="">
                <p class="label">Real Estate Lic #</p>
                <input type="text" class="form-control f1"  placeholder="">
            </div>
            <div class="c2-col2">
                <p class="label">Birthday</p>
                <div class="d-flex justify-content-between mb-custom">
                    <div class="selected">
                        <select class="form-control f1">
                            <option selected>February</option>
                            <option selected>August</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="selected">
                        <select class="form-control f1">
                            <option selected>02</option>
                            <option selected>03</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="selected">
                        <select class="form-control f1">
                            <option selected>1994</option>
                            <option selected>1992</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
                <p class="label">Email</p>
                <input type="text" class="form-control f1 mb-custom"  placeholder="">
                <p class="label">License #</p>
                <input type="text" class="form-control f1 mb-custom"  placeholder="">
                <p class="label">Broker Lic #</p>
                <input type="text" class="form-control f1"  placeholder="">
            </div>
        </div>
        <div class="card-3">
            <div class="d-flex">
                <div class="bio">
                    <p class="label">Bio</p>
                    <textarea type="text" class="form-control f2"  rows="7"></textarea>
                </div>
                <div class="video">
                    <p class="label">Video Link</p>
                    <input type="text" class="form-control f1"  placeholder="">
                </div>
            </div>
        </div>
    </div>
</div>
