<div class="row date-space" >
  <div class="col-9">
    <div class="d-flex justify-content-between quote-heading">
       <p class="qr" style="">New Quotes Requests</p>
       <app-date-picker *ngIf="false" (dateRange)="quoteRequest($event)" [section]="'quoteRequest'"></app-date-picker>

    </div>
    <div class="d-flex">
       <div *ngFor="let i of quoteRequest | keyvalue: helper.originalOrder" class="date-cards" style="">
            <p class="date-number" style="">{{i.value}}</p>
            <p class="date-type" style="">{{helper.formatRole(i.key) | titlecase}}</p>
       </div>
     </div>
   </div>
</div>
