<div class="row date-space" >
  <div class="col-9">
    <div class="d-flex justify-content-between quote-heading">
       <p class="qr" style="">New Quotes Requests</p>
       <app-date-picker (dateRange)="quoteRequest($event)" [section]="'quoteRequest'"></app-date-picker>

    </div>
    <div class="d-flex">
       <div *ngFor="let i of [1,2,3]" class="date-cards" style="">
            <p class="date-number" style="">5</p>
            <p class="date-type" style="">Mortgage Commitments</p>
       </div>
     </div>
   </div>
</div>
