<h2 class="global_title left"><span>"Do Not Track" Policy as Required by <br> California Online Privacy Protection Act (CalOPPA)</span></h2>
<p>Our Service does not respond to Do Not Track signals.</p>
<p>
    However, some third party websites do keep track of Your browsing activities. If You are visiting such websites, You can set Your preferences in Your web browser to inform websites that You do not want to be tracked. You can enable or disable DNT by visiting
    the preferences or settings page of Your web browser.
</p>
