<div class="parent" [formGroup]="finance">
 <div formGroupName="va">
 <div class="loan-type d-flex justify-content-between">
     <p class="align-self-center">VA</p>
     <app-change-letter-button *ngIf="store.role === constant.role.LENDER" (openPopup)="changeLetter()"></app-change-letter-button>
 </div>
    <div class="loan-form">
      <div class="loan-detail row-space">
          <div class="loan-heading"><p>Loan Details</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
                <label><p [style.color]=" finance.get(['va', 'downPayment']).invalid && finance.get(['va', 'downPayment']).touched ? 'var(--red)' : 'var(--lighGray)'">
                    Down Payment</p></label>
                <input [class.is-invalid]="finance.get(['va', 'downPayment']).invalid && finance.get(['va', 'downPayment']).touched"
                       suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="downPayment" type="text" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['va', 'loanTerm']).invalid && finance.get(['va', 'loanTerm']).touched ? 'var(--red)' : 'var(--lighGray)'">
                   Loan Term</p></label>
               <input [class.is-invalid]="finance.get(['va', 'loanTerm']).invalid && finance.get(['va', 'loanTerm']).touched"
                      suffix=" year(s)" mask="0*" formControlName="loanTerm" type="" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['va', 'loanRate']).invalid && finance.get(['va', 'loanRate']).touched ? 'var(--red)' : 'var(--lighGray)'">
                   Loan Rate</p></label>
               <input [class.is-invalid]="finance.get(['va', 'loanRate']).invalid && finance.get(['va', 'loanRate']).touched "
                      suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="loanRate" type="" class="form-control" placeholder="">
             </div>
          </div>
       </div>
        <div class="ratios row-space">
          <div class="loan-heading"><p>Ratios</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
                <label><p [style.color]=" finance.get(['va', 'housingRatio']).invalid && finance.get(['va', 'housingRatio']).touched ? 'var(--red)' : 'var(--lighGray)'">
                    Housing Ratio</p></label>
                <input [class.is-invalid]="finance.get(['va', 'housingRatio']).invalid && finance.get(['va', 'housingRatio']).touched"
                       suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="housingRatio" type="" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['va', 'debtRatio']).invalid && finance.get(['va', 'debtRatio']).touched ? 'var(--red)' : 'var(--lighGray)'">
                   Debt Ratio</p></label>
               <input [class.is-invalid]="finance.get(['va', 'debtRatio']).invalid && finance.get(['va', 'debtRatio']).touched"
                      suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="debtRatio" type="" class="form-control" placeholder="">
             </div>
          </div>
        </div>
        <div class="mortgage-under row-space">
            <div class="loan-heading"><p>Mortgage Insurance "Select Veteran Type"</p></div>
            <div class="row d-flex loan-label">
               <div class="col-4 form-group">
                  <label><p [style.color]=" finance.get(['va', 'veteranType']).invalid && finance.get(['va', 'veteranType']).touched ? 'var(--red)' : 'var(--lighGray)'">
                      Type of Veteran</p></label>
                  <input [class.is-invalid]="finance.get(['va', 'veteranType']).invalid && finance.get(['va', 'veteranType']).touched"
                         formControlName="veteranType" type="" class="form-control" placeholder="">
               </div>
            </div>
        </div>
        <div class="mortgage-over row-space" formGroupName="reserves">
            <div class="loan-heading"><p>Reserves Needed</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['va', 'reserves', 'oneUnit']).invalid && finance.get(['va', 'reserves', 'oneUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        1 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['va', 'reserves', 'oneUnit']).invalid && finance.get(['va', 'reserves', 'oneUnit']).touched"
                           formControlName="oneUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['va', 'reserves', 'twoUnit']).invalid && finance.get(['va', 'reserves', 'twoUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        2 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['va', 'reserves', 'twoUnit']).invalid && finance.get(['va', 'reserves', 'twoUnit']).touched"
                           formControlName="twoUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['va', 'reserves', 'threeToFourUnit']).invalid && finance.get(['va', 'reserves', 'threeToFourUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        3-4 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['va', 'reserves', 'threeToFourUnit']).invalid && finance.get(['va', 'reserves', 'threeToFourUnit']).touched"
                           formControlName="threeToFourUnit" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="add-reserve row-space">
            <div class="loan-heading"><p>Additional Reserves Needed</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['va', 'additionalReserves']).invalid && finance.get(['va', 'additionalReserves']).touched ? 'var(--red)' : 'var(--lighGray)'">
                        Reserves</p></label>
                    <input [class.is-invalid]="finance.get(['va', 'additionalReserves']).invalid && finance.get(['va', 'additionalReserves']).touched "
                           formControlName="additionalReserves" type="" class="form-control" placeholder="">
                </div>
            </div>
        </div>
  </div>
</div>
</div>
