.parent{
  padding: 2vw 2vw 1vw 2vw;
}
.close-btn{
  position: absolute;
  right: 7%;
  top: 8%;
  height: .7vw;
  width: .7vw;
  cursor: pointer;

}
.heading{
  margin-bottom: 2vw;
  font-size: .85vw;
  font-weight: 400;
  color: var(--darkGray);
}
.member-img, .dummy-img{
  height: 3vw;
  width: 3vw;
  border-radius: .5vw;
  margin-right: .8vw;
}
.member-img{
  object-fit: cover;
}
.dummy-img{
  padding: 1vw;
  background: var(--extraLightGray);
}
.name{
  margin-bottom: .1vw;
  font-weight: 500;
  font-size: .64vw;
  color: var(--darkGray);
}
.role{
  margin-bottom: 0;
  font-weight: 300;
  font-size: .6vw;
  color: var(--darkGray);
}
.member{
  margin-bottom: 1vw;
}
.txt{
  color: var(--darkGray);
  font-size: .6vw;
  font-weight: 300;
  margin-bottom: 1.5vw;
}
.button{
  font-size: .75vw;
  font-weight: 300;
  padding: .3vw 1.5vw .3vw 1.5vw;
  border-radius: .3vw;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
  color: white;
}
.button:focus{
  outline: none;
}
.continue{
  background: var(--green);
  margin-right: 6vw;
}
.cancel{
  background: var(--red);
}
p{
  font-family: 'Poppins';
}
