.column-1{
  flex-basis: 20vw;
  margin-right: 2vw;
}
.card-1{
  background-color: white;
  padding: 2vw;
  border-radius: 0.7em;
}
.card-1 h3{
  color: var(--darkGray);
  font-size: 1.6vw;
}
.card-1 h4{
  font-weight: 300;
  font-size: 1.35vw;
  margin-bottom: .8vw;
}
.name{
  color: var(--darkGray);
  font-weight: 600;
  font-size: 1.45vw;
  margin-bottom: 0.2vw;
}
.role{
  color: var(--darkGray);
  font-weight: 300;
  font-size: 1.1vw;
  margin-bottom: 1vw;
}
.bio{
  color: var(--lighGray);
  font-weight: 300;
  font-size: .8vw;
  margin-bottom: 2vw;
  font-weight: 300;
}
.bio-video{
  font-size: .9vw;
  color: var(--darkGray);
  margin-bottom: .8vw;
}
.video{
  border-radius: .5vw;
}
.column-2{
  flex-grow: 1;
}
.card-2{
  background-color: white;
  padding: 2vw;
  border-radius: 0.7em;
  margin-bottom: 2vw;
}
.card-3{
  background-color: white;
  padding: 2vw;
  border-radius: 0.7em;

}
.profile-image{
  border-color: transparent;
  border-radius: .5vw ;
  width: 10vw;
  height: 10vw;
  margin-bottom: 1vw;
  object-fit: cover;
}
.card-2 p{
  font-size: .9vw;
  margin: 0;
  color: var(--darkGray);
}
.card-2 h4{
  font-size: 1.34vw;
  margin-bottom: 2vw;
}
.card-3 h4{
  font-size: 1.34vw;
  margin-bottom: 1.5vw;
}
.edit-button{
  margin-bottom: 2vw;
}
.card-3 p{
  margin: 0;
}
.card-2-margin-bottom.col div.row:nth-child(-n + 2){
  margin-bottom:1.8vw;
}
.address{
  margin-bottom: 1vw !important;
  font-weight: 300;
}
i{
  color: var(--darkGray);
}
h4{
  color: var(--darkGray);
  font-family: 'Poppins';
}

.label p{
  color: var(--darkGray);
  font-weight: 300;
  margin-bottom: 2vw;
  font-size: .9vw;
}
.label p:last-child{
  margin-bottom: 0;
}
.label{
  margin-right: 1vw;
}
.value p{
  color: var(--lighGray);
  margin-bottom: 2vw;
  font-weight: 300;
  font-size: .9vw;
}
.value p:last-child{
  margin-bottom: 0;
}
//.card-3 p{
//  color: var(--darkGray);
//  font-size: .9vw;
//
//}
.phone{

}
.div-2 img{
  width: 2.3vw;
  height: 2.3vw;
  background: var(--extraLightGray);
  padding: .6vw;
  border-radius: .3vw;
  cursor: pointer;
  margin-bottom: 2vw;
}
p{
  font-family: 'Poppins';
}
.company{
  margin-bottom: 2vw;
}
.logo{
  border-radius: .3vw;
  height: 4vw;
  width: 4vw;
  object-fit: cover;
  margin-right: 1vw;
}
.company-name{
  align-self: center;
  margin-bottom: 0;
  color: var(--darkGray);
  font-size: .95vw;
}
