<div class="d-flex" *ngIf="loader">
    <div class="column-1">

        <div class="card-1">
            <img *ngIf="partnerProfile.profilePictureUrl" [src]="partnerProfile.profilePictureUrl"  class="profile-image">
            <div *ngIf="!partnerProfile.profilePictureUrl" class="profile-div mb-custom">
                <img src="/assets/profile/profile.svg" class="profile">
            </div>
            <p class="name">{{partnerProfile.firstName | titlecase}} {{partnerProfile.lastName | titlecase}}</p>
            <p class="role">{{formatRole(partnerProfile.role) | titlecase}}</p>
            <p class="bio">{{partnerProfile.bio}}</p>
            <div class="d-flex justify-content-between div-2" *ngIf="partnerProfile.socialMedia">
                <a [ngClass]="{'inactiveLink': !partnerProfile.socialMedia.facebook }" target="_blank" [href]="partnerProfile.socialMedia.facebook"><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook"></a>
                <a [ngClass]="{'inactiveLink': !partnerProfile.socialMedia.instagram }" target="_blank" [href]="partnerProfile.socialMedia.instagram"> <img src="/assets/directory-icons/instagram.svg" class="img-fluid instagram"> </a>
                <a [ngClass]="{'inactiveLink': !partnerProfile.socialMedia.linkedin }" target="_blank" [href]="partnerProfile.socialMedia.linkedin"> <img src="/assets/directory-icons/linkedin.svg" class="img-fluid linkedin"> </a>
                <a [ngClass]="{'inactiveLink': !partnerProfile.socialMedia.twitter }" target="_blank" [href]="partnerProfile.socialMedia.twitter"><img src="/assets/directory-icons/twitter.svg" class="img-fluid twitter"> </a>
            </div>
            <div *ngIf="partnerProfile.profileVideoUrl">
                <p class="bio-video">Bio Video:</p>
                <div class=" video embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="partnerProfile.profileVideoUrl" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="column-2">
        <div class="card-2">
            <h4 class="">Personal Information:</h4>
            <div class="row">
                <div class="card-2-margin-bottom col">
                    <div class="d-flex">
                        <div class="label">
                            <p>Phone: </p>
                            <p>Email: </p>
                            <p *ngIf="store.role !== constant.role.REAL_ESTATE && store.role !== constant.role.ATTORNEY" class="text-nowrap">License #: </p>
                        </div>
                        <div class="value">
                            <p>{{partnerProfile.phoneNumber | mask: '(000) 000 0000'}}&nbsp;</p>
                            <p>{{partnerProfile.email}}&nbsp;</p>
                            <p *ngIf="store.role !== constant.role.REAL_ESTATE && store.role !== constant.role.ATTORNEY">{{partnerProfile.licenseNumber}}&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="card-2-margin-bottom col">
                    <div class="d-flex">
                        <div class="label">
                            <p>Birthday: </p>
                            <p *ngIf="store.role !== constant.role.ATTORNEY" class="text-nowrap">Real Estate Lic #: </p>
                            <p *ngIf="store.role !== constant.role.REAL_ESTATE && store.role !== constant.role.ATTORNEY" class="text-nowrap">Broker Lic #: </p>
                        </div>
                        <div class="value">
                            <p>{{partnerProfile.birthday | date}}&nbsp;</p>
                            <p *ngIf="store.role !== constant.role.ATTORNEY">{{partnerProfile.realEstateLicenseNumber}}</p>
                            <p *ngIf="store.role !== constant.role.REAL_ESTATE && store.role !== constant.role.ATTORNEY">{{partnerProfile.brokerLicense}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-3">
            <h4 class="">Company Information:</h4>
            <div class="d-flex company">
                <img *ngIf="partnerProfile.company.companyLogoUrl" class="logo" [src]="partnerProfile.company.companyLogoUrl">
                <img *ngIf="!partnerProfile.company.companyLogoUrl" src="/assets/profile/profile.svg" class="empty-logo">
                <p class="company-name">{{partnerProfile.company.name}}</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <div class="label">
                            <p class="text-nowrap">Office Phone #: </p>
                            <p>Address: </p>
                        </div>
                        <div class="value">
                            <p>{{partnerProfile.company.phoneNumber | mask: '(000) 000 0000'}}&nbsp;</p>
                            <p>{{partnerProfile.company.street}} {{partnerProfile.company.city}}, {{partnerProfile.company.state}}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex">
                        <div class="label">
                            <p class="text-nowrap">Fax Phone #: </p>
                            <p class="text-nowrap">License #:</p>
                        </div>
                        <div class="value">
                            <p>{{partnerProfile.company.faxNumber}}&nbsp;</p>
                            <p>{{partnerProfile.company.licenseNumber}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
