<div class="d-flex" *ngIf="userProfile.loader">
    <div class="column-1">

        <div class="card-1">
            <img *ngIf="userProfile.profilePictureUrl" [src]="userProfile.profilePictureUrl"  class="profile-image">
            <div *ngIf="!userProfile.profilePictureUrl" class="profile-div mb-custom">
                <img src="/assets/profile/profile.svg" class="profile">
            </div>
            <p class="name">{{userProfile.firstName | titlecase}} {{userProfile.lastName | titlecase}}</p>
            <p class="role">{{userProfile.role | titlecase}}</p>
            <p class="bio">{{userProfile.bio}}</p>
            <div *ngIf="userProfile.socialMedia" class="d-flex justify-content-between div-2">
                <a target="_blank" [href]="userProfile.socialMedia.facebook" ><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook"></a>
                <a target="_blank" [href]="userProfile.socialMedia.instagram"> <img src="/assets/directory-icons/instagram.svg" class="img-fluid instagram"> </a>
                <a target="_blank" [href]="userProfile.socialMedia.linkedIn"> <img src="/assets/directory-icons/linkedin.svg" class="img-fluid linkedin"> </a>
                <a target="_blank" [href]="userProfile.socialMedia.twitter"><img src="/assets/directory-icons/twitter.svg" class="img-fluid twitter"> </a>
            </div>
        </div>
    </div>
    <div class="column-2">
        <div class="card-2">
            <h4 class="">Personal Information:</h4>
            <div class="row">
                <div class="card-2-margin-bottom col">
                    <div class="row">
                        <div class="col-3">
                            <p>Phone: </p>
                        </div>
                        <div class="col-9">
                            <p>{{userProfile.phoneNumber}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Gender: </p>
                        </div>
                        <div class="col-9">
                            <p>{{userProfile.gender}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Website: </p>
                        </div>
                        <div class="col-9">
                            <p>{{userProfile.website}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>City: </p>
                        </div>
                        <div class="col-9">
                            <p>{{userProfile.city}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-2-margin-bottom col">
                    <div class="row">
                        <div class="col-3">
                            <p>Birthday: </p>
                        </div>
                        <div class="col-9">
                            <p>{{userProfile.birthday | date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Email:</p>
                        </div>
                        <div class="col-9">
                            <p>{{userProfile.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>State: </p>
                        </div>
                        <div class="col-9">
                            <p>{{userProfile.state}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-3">
            <h4 class="">Address:</h4>
            <div class="row" *ngFor="let i of userProfile.addresses">
                <div class="col">
                    <p class="address">{{i}}</p>
                    <p class="phone">{{userProfile.phone}}</p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</div>
