<div class="heading d-flex justify-content-between">
  <h3>Quote Requests</h3>
</div>


<div class="row">
  <div class="col-4 d-flex justify-content-between column-1" style="">
    <div *ngFor="let button of quoteRequests.buttons | keyvalue:helper.originalOrder" class="button align-self-center" [ngClass]="{'active': quoteRequests.selectedButton === button.value}" (click)="listClick(button.value)">
        <p>{{ button.value | titlecase }}</p>
    </div>
  </div>
</div>

<div style="position: relative;">
    <div class="card-1 d-flex" *ngFor="let request of quoteRequests.renderArray; let i = index">
        <div class="div-1 d-flex flex-column">
            <img *ngIf="request.buyer.profilePictureUrl" class="profile-img" [src]="request.buyer.profilePictureUrl">
            <img *ngIf="!request.buyer.profilePictureUrl" class="profile-img-dummy" src="/assets/profile/profile.svg">
            <p class="name">{{request.buyer.firstName | titlecase}} {{request.buyer.lastName | titlecase}} </p>
            <div class="d-flex div-2" *ngIf="request.buyer.socialMedia">
                <a *ngIf="request.buyer.socialMedia.facebook" target="_blank" [href] = "request.buyer.socialMedia.facebook"><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook"></a>
                <a *ngIf="request.buyer.socialMedia.instagram" target="_blank" [href] = "request.buyer.socialMedia.instagram"> <img src="/assets/directory-icons/instagram.svg" class="img-fluid instagram"> </a>
                <a *ngIf="request.buyer.socialMedia.twitter" target="_blank" [href] = "request.buyer.socialMedia.twitter"><img src="/assets/directory-icons/twitter.svg" class="img-fluid twitter"> </a>
            </div>
            <div *ngIf="quoteRequests.selectedButton === constant.quoteRequestStatus.PENDING" class="d-flex justify-content-between mt-auto">
                <button (click)="respond(request.buyer._id)" class="respond-btn accept"><img class="chat" src="/assets/menu-icons/chat.svg"></button>
                <button (click)="quoteRequest(request.loan.targetProperty, request.buyer._id)" class="respond-btn reject"><p class="text-nowrap">Quote Request</p></button>
            </div>
            <div *ngIf="quoteRequests.selectedButton === constant.quoteRequestStatus.TEAM" class="d-flex justify-content-between date-div mt-auto">
                <p id="{{i}}" *ngIf="request.loan.homeInspectionDate" class="date align-self-end">{{request.loan.homeInspectionDate | date:'d MMM y'}}</p>
                <p id="{{i+'1'}}" *ngIf="!request.loan.homeInspectionDate" class="date align-self-end">Choose date</p>
                <input #date (dateSelect)="onDateSelect($event, request.buyer._id, request.loan.homeInspectionDate ? i : (i+'1'))" class="form-control f1" placeholder=""
                       name="dp"  ngbDatepicker #d="ngbDatepicker" placement="bottom">
                <div class="calendar-div d-flex align-self-center" (click)="d.toggle()">
                    <img src="/assets/dashboard/Calendar.svg" class="calendar">
                </div>

            </div>

        </div>
        <img class="subject-img" [src]="request.loan.targetProperty.images[0]">

        <app-subject-property-details class="subject-property" [subjectProperty]="request.loan.targetProperty"></app-subject-property-details>
    </div>
    <div *ngIf="quoteRequests.renderArray ? quoteRequests.renderArray.length === 0 : false " class="d-flex no-results flex-column">
        <app-no-results-found class="ml-auto mr-auto"></app-no-results-found>
    </div>
</div>
<app-compliance-info *ngIf="!(quoteRequests.renderArray ? !quoteRequests.renderArray.length : false)"></app-compliance-info>
