<div class="heading d-flex justify-content-between">
  <h3>Quote Requests</h3>
</div>


<div class="row">
  <div class="col-4 d-flex justify-content-between column-1" style="">
    <div *ngFor="let button of constant.quoteRequestStatus | keyvalue:helper.originalOrder" class="button align-self-center" [ngClass]="{'active': quoteRequests.selectedButton === button.value}" (click)="listClick(button.value)">
        <p>{{ button.value | titlecase }}</p>
    </div>
  </div>
</div>

<div>
    <div class="card-1 d-flex" *ngFor="let request of quoteRequests.renderArray">
        <div class="div-1">
            <img *ngIf="request.buyer.profilePictureUrl" class="profile-img" [src]="request.buyer.profilePictureUrl">
            <img *ngIf="!request.buyer.profilePictureUrl" class="profile-img-dummy" src="/assets/profile/profile.svg">
            <p class="name">{{request.buyer.firstName | titlecase}} {{request.buyer.firstName | titlecase}} </p>
            <div class="d-flex div-2" *ngIf="request.buyer.socialMedia">
                <a *ngIf="request.buyer.socialMedia.facebook" target="_blank" [href] = "request.buyer.socialMedia.facebook"><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook"></a>
                <a *ngIf="request.buyer.socialMedia.instagram" target="_blank" [href] = "request.buyer.socialMedia.instagram"> <img src="/assets/directory-icons/instagram.svg" class="img-fluid instagram"> </a>
                <a *ngIf="request.buyer.socialMedia.twitter" target="_blank" [href] = "request.buyer.socialMedia.twitter"><img src="/assets/directory-icons/twitter.svg" class="img-fluid twitter"> </a>
            </div>
            <div *ngIf="quoteRequests.selectedButton === constant.quoteRequestStatus.PENDING" class="d-flex justify-content-between">
                <button (click)="acceptRequest(request.buyer._id)" class="respond-btn accept"><p class="">Accept</p></button>
                <button (click)="rejectRequest(request.buyer._id)" class="respond-btn reject"><p class="">Reject</p></button>
            </div>
            <div *ngIf="quoteRequests.selectedButton === constant.quoteRequestStatus.ACCEPTED" class="d-flex justify-content-between date-div">
                <p *ngIf="date.value" class="date align-self-end">{{date.value}}</p>
                <p *ngIf="!date.value" class="date align-self-end">Choose date</p>
                <input #date (dateSelect)="onDateSelect($event, request.buyer._id)" class="form-control f1" placeholder=""
                       name="dp"  ngbDatepicker #d="ngbDatepicker">
                <div class="calendar-div d-flex align-self-center" (click)="d.toggle()">
                    <img src="/assets/dashboard/Calendar.svg" class="calendar">
                </div>

            </div>

        </div>
<!--        <img class="subject-img" [src]="request.subjectProperty.image">-->

<!--        <app-subject-property-details class="subject-property" [subjectProperty]="request.subjectProperty"></app-subject-property-details>-->
    </div>
</div>
