p{
  font-family: 'Poppins';
}
.form-div{
  position: relative;
  min-width: 35vw;
}
.card-1{
  padding: 2.5vw;
}
.heading{
  font-size: .85vw;
  font-weight: 500;
  color: var(--darkGray);
  margin-bottom: 2vw;
}
.close-btn{
  position: absolute;
  left: 93%;
  top: 7%;
  height: .7vw;
  width: .7vw;
  cursor: pointer;
}
.title{
  font-size: .7vw;
  color: var(--lighGray);
  margin-bottom: 0.2vw;
  font-weight: 300;
}
.mb-custom{
  margin-bottom: 1.5vw;
}

.f1{
  height: 2.5vw;
  font-size: .8vw;
  color: var(--darkGray);
  border-radius: .5vw;
  border: 1px solid var(--lighGray);
}
.danger{
  color: var(--red);
}
.invite{
  background: var(--green);
  color: white;
  padding: .5vw 0;
  border: none;
  font-family: 'Poppins';
  font-size: .8vw;
  cursor: pointer;
}
.invite:focus{
  outline: none;
}
.f2{
  font-size: .8vw;
  color: var(--darkGray);
  border-radius: .5vw;
  border: 1px solid var(--lighGray);
  padding: 1vw 1vw;
}
::placeholder{
  font-size: .8vw;
  color: var(--darkGray);
  font-weight: 300;
  font-family: 'Poppins';
}
