<div class="heading d-flex justify-content-between">
  <div (click)="location.back()"  class="d-flex heading-text">
      <img class="arrow align-self-center" src="/assets/transaction-details/arrow.png">
      <p>Back</p>
  </div>
</div>
<form [formGroup]="transactionDetails.finance" (ngSubmit)="onSubmit()">
<div class="row" *ngIf="transactionDetails.loader">
  <div class="col-7 first-column d-flex flex-column">
       <div class="child-1 d-flex justify-content-between" style="">
            <app-buyer-info [transactionDetails]="transactionDetails.user"></app-buyer-info>
            <div class="d-flex flex-column">
                <button type="submit" class="lineage-button">Save</button>
                <button type="button" class="lineage-button mt-auto mb-auto">View Lineage</button>
                <button *ngIf="transactionDetails.showCancelDeal" type="button" (click)="cancelDeal()" class="cancel-deal mb-auto">Cancel Deal</button>

            </div>
       </div>
       <div class="transaction">
           <p class="heading-sub bottom">Transaction Process</p>
           <app-transaction-process [transaction]="transactionDetails"></app-transaction-process>
       </div>
       <div class="mt-auto">
           <p class="heading-sub">Transaction Details</p>
          <div class="details">
               <div class="d-flex parent-c">
                  <div class="d-flex c1">
                      <div class="div-1 d-flex flex-column">
                          <p class="text-nowrap">Purchase Price:</p>
                          <p class="text-nowrap">Closing Date:</p>
                          <p class="text-nowrap">Commitment Date:</p>
                          <p class="text-nowrap">Purchase & Sales Date</p>
                      </div>
                      <div class="d-flex flex-column">
                          <div class="d-flex">
                              <input class="form-control f1 custom-mb" placeholder=""
                                     name="dp" formControlName="targetProperty.listPrice">
                              <p class="unit dollar">$</p>
                          </div>
                          <div class="d-flex">
                              <input class="form-control f1 custom-mb" placeholder="yyyy-mm-dd"
                                     name="dp" formControlName="dealClosingDate"  ngbDatepicker #d1="ngbDatepicker">
                              <img class="calendar-icon" src="/assets/dashboard/Calendar.svg" (click)="d1.toggle()">
                          </div>
                          <div class="d-flex">
                              <input class="form-control f1 custom-mb" placeholder="yyyy-mm-dd"
                                     name="dp" formControlName="commitmentDate"  ngbDatepicker #d2="ngbDatepicker">
                              <img class="calendar-icon" src="/assets/dashboard/Calendar.svg" (click)="d2.toggle()">
                          </div>
                          <div class="d-flex">
                              <input class="form-control f1" placeholder="yyyy-mm-dd"
                                     name="dp" formControlName="purchaseAndSalesDate"  ngbDatepicker #d3="ngbDatepicker">
                              <img class="calendar-icon" src="/assets/dashboard/Calendar.svg" (click)="d3.toggle()">
                          </div>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="div-1 d-flex flex-column">
                        <p class="text-nowrap">Commission Amount:</p>
                        <p class="text-nowrap">Seller Credit:</p>
                          <p class="text-nowrap">House Inspection Date:</p>
                          <p class="text-nowrap">Listing Agent:</p>
                    </div>
                    <div class="div-2 d-flex flex-column">
                          <p>{{transactionDetails.transactionDetails.commissionAmount}}</p>
                          <p>{{transactionDetails.transactionDetails.sellerCredit}}</p>
                          <p *ngIf="transactionDetails.transactionDetails.homeInspectionDate">{{transactionDetails.transactionDetails.homeInspectionDate | date: 'MM/dd/yyyy'}}</p>
                          <p *ngIf="!transactionDetails.transactionDetails.homeInspectionDate">N.A.</p>
                          <p class="text-nowrap">{{transactionDetails.transactionDetails.listingAgent}}</p>
                    </div>
                  </div>
               </div>
          </div>
       </div>
  </div>
  <div class="col-5 second-column">
      <div class="d-flex justify-content-between subject">
         <p class="heading-sub align-self-center">Subject Property</p>
         <button type="button" (click)="addPropertyMls()" class="mls">Add Property MLS#</button>
      </div>
      <app-subject-property *ngIf="transactionDetails.subjectProperty" [subjectProperty]="transactionDetails.subjectProperty"></app-subject-property>
      <app-subject-property-template *ngIf="!transactionDetails.subjectProperty"></app-subject-property-template>
  </div>
</div>
</form>
