
<div class="row date-space">
  <div class="col-9">
    <div class="d-flex justify-content-between borrowers-heading">
       <p class="bh" style="">Borrowers Important Dates Snap Shot</p>
       <app-date-picker [section]="'borrower'"></app-date-picker>

    </div>
    <div class="d-flex date-row">

      <div (click)="date.value.buyers.length ? toggleCard($event) : ''" *ngFor="let date of buyerAnalytics | keyvalue" class="date-cards" style="">
        <div class="date-cards-sub">
          <p class="date-number" style="">{{date.value.count}}</p>
          <p class="date-type" style="">{{helper.formatRole(date.key) | titlecase}}</p>
        </div>
        <div class="buyer-div align-self-end">
          <div class="triangle"></div>
          <p class="heading">{{date.name}}</p>
          <div class="d-flex tile" *ngFor="let buyer of date.value.buyers">
            <img *ngIf="buyer.profilePictureUrl" class="image" [src]="buyer.profilePictureUrl">
            <img *ngIf="!buyer.profilePictureUrl" class="image-dummy" src="/assets/profile/profile.svg">
            <div class="row">
              <div class="col-10 d-flex align-items-start flex-column">
                <p class="name text-nowrap">{{buyer.firstName | titlecase}} {{buyer.lastName | titlecase}}</p>
                <p *ngIf="buyer.targetPropertyAddress" class="address mt-auto mb-auto">{{buyer.targetPropertyAddress.deliveryLine + ', ' +
                buyer.targetPropertyAddress.city + ', ' + buyer.targetPropertyAddress.state + ', ' + buyer.targetPropertyAddress.zip}}</p>
                <p class="mt-auto date text-nowrap">{{helper.formatRole(date.key)+' Date: ' | titlecase}}
                  {{ (date.key === 'commitments' ? buyer.commitmentDate :
                          date.key === 'dealsClosing' ? buyer.dealClosingDate :
                                  date.key === 'locksExpiring' ? buyer.lockExpiryDate : '')  | date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
   </div>
</div>
