<form [formGroup]="registration.form" (ngSubmit)="onSubmit()" class="form-parent">
    <div *ngIf="registration.screen['one']" class="second-screen d-flex flex-column">
        <p class="heading">How did you hear about us?</p>
        <div class="mt-auto mb-auto d-flex flex-column">
            <p class="label">Select an option</p>
            <div class="select-div">
                <select #select (change)="showReferral(select.value)" class="form-control form-custom" id="">
                    <option [ngValue]="null" [disabled]="true" >Select</option>
                    <option *ngFor="let i of registration.aboutUs | keyvalue: helper.originalOrder">{{i.key}}</option>
                </select>
                <img src="/assets/landing/drop.svg" class="drop">
            </div>
            <div *ngIf="registration.other" class="referral mt1-custom" formGroupName="referral">
                <input formControlName="referralDetails" class="form-control form-custom" placeholder="">
            </div>
            <div *ngIf="registration.referral" class="referral mt1-custom">
                <p class="label">Type in referral name</p>
                <input #searchBox (input)="search(searchBox.value)" class="form-control form-custom mb-custom1" placeholder="">
                <div class="people-container" *ngIf="registration.professional ? registration.professional.length : false">
                    <div (click)="searchBox.value = (person.firstName +' '+person.lastName);
                            registration.form.get(['referral', 'details']).setValue(person['_id']);
                            hideProfessionalList()"
                            class="d-flex ppl-list" *ngFor="let person of registration.professional">
                        <img *ngIf="person.profilePictureUrl" [src]="person.profilePictureUrl" class="img">
                        <img *ngIf="!person.profilePictureUrl" src="/assets/profile/profile.svg" class="img profile">
                        <p class="name align-self-center">{{person.firstName}} {{person.lastName}}</p>
                        <p class="role align-self-center">{{person.role}}</p>
                    </div>
                </div>
            </div>
            <button (click)="registration.screen['two']=true;registration.screen['one']=false;"
                    [disabled]="registration.referral || registration.other ? !registration.form.get(['referral', 'details']).valid : !registration.form.get(['referral', 'type']).valid" class="signup next">
                Next
            </button>
        </div>
    </div>

    <div *ngIf="registration.screen['two']" class="third-screen d-flex flex-column align-items-start">
        <div class="first-row3">
            <p class="heading">Sign up</p>
            <p class="sub-heading">Sign up to use our services</p>
        </div>
        <div class="d-flex buying-layer mt-auto mb-auto" tabindex="1">
            <div class="buying-div"><img src="/assets/menu-icons/buyer.svg" class="buying"></div>
            <p class="buying-txt">Buying</p>
            <img (click)="registration.screen['two']=false;registration.screen['three']=true;" src="/assets/transaction-details/arrow.png" class="arrow">
        </div>
    </div>
    <div *ngIf="registration.screen['three']" class="fourth-screen d-flex flex-column">
        <div class="first-row4">
            <div class="d-flex justify-content-between">
                <p class="heading">Sign up</p>
                <div class="d-flex back" (click)="registration.screen['three']=false;registration.screen['two']=true;">
                    <img src="/assets/transaction-details/arrow.png" class="arrow-back">
                    <p>Back</p>
                </div>
            </div>
            <p class="sub-heading">Sign up to use our services</p>
        </div>
        <div class="mb-auto">
            <div class="d-flex name-row">
                <div class="input-flex">
                    <p [ngClass]="{'danger':registration.form.get('firstName').invalid && registration.form.get('firstName').touched}" class="label">First Name</p>
                    <input type="text" [class.is-invalid]="registration.form.get('firstName').invalid && registration.form.get('firstName').touched"  formControlName="firstName" class="form-control form-custom" placeholder="">
                </div>
                <div class="input-flex" >
                    <p [ngClass]="{'danger':registration.form.get('lastName').invalid && registration.form.get('lastName').touched}" class="label">Last Name</p>
                    <input type="text" [class.is-invalid]="registration.form.get('lastName').invalid && registration.form.get('lastName').touched" formControlName="lastName" class="form-control form-custom" placeholder="">
                </div>
            </div>
            <div class="name-row">
                <p [ngClass]="{'danger':registration.form.get('email').invalid && registration.form.get('email').touched}" class="label">Email ID</p>
                <input [class.is-invalid]="registration.form.get('email').invalid && registration.form.get('email').touched" formControlName="email" type="email" class="form-control form-custom" placeholder="">
            </div>
            <div class="d-flex name-row">
                <div class="input-flex">
                    <p [ngClass]="{'danger':registration.form.get('password').invalid && registration.form.get('password').touched}" class="label">
                        Password
                    </p>
                    <input type="password" [class.is-invalid]="registration.form.get('password').invalid && registration.form.get('password').touched" formControlName="password" class="form-control form-custom" placeholder="">
                </div>
                <div class="input-flex" >
                    <p class="label" [ngClass]="{'danger': registration.form.get('password').value != registration.form.get('confirmPassword').value && registration.form.get('confirmPassword').value != null}">
                        Confirm Password
                    </p>
                    <input type="password" [class.is-invalid]="registration.form.get('password').value != registration.form.get('confirmPassword').value && registration.form.get('confirmPassword').value != null" formControlName="confirmPassword" class="form-control form-custom" placeholder="">
                </div>
            </div>

            <div class="mt-custom3">
                <label class="container">
                    <input [formControl]="registration.agreed" id="myCheck" type="checkbox">
                    <img class="checkmark" src="/assets/loan-details/tick.svg">
                    <p class="remember text-nowrap">I have agreed to the terms and conditions</p>
                </label>
            </div>
        </div>
        <div class="d-flex">
            <button type="submit" [disabled]="!registration.form.valid || !registration.agreed.value" class="signup">Sign Up</button>
        </div>
    </div>
</form>
