<form [formGroup]="registration.form" (ngSubmit)="onSubmit()" class="form-parent">
    <div *ngIf="registration.screen['one']" class="second-screen d-flex flex-column">
        <p class="heading">How did you hear about us?</p>
        <div class="mt-auto mb-auto d-flex flex-column">
            <p class="label">Select an option</p>
            <select formControlName="aboutUs" (change)="showReferral()" class="form-control form-custom" id="">
                <option [ngValue]="null" [disabled]="true" >Select</option>
                <option *ngFor="let i of registration.aboutUs">{{i}}</option>
            </select>
            <div *ngIf="registration.referral" class="referral mt1-custom">
                <p class="label">Type in referral name</p>
                <input formControlName="referralName" class="form-control form-custom mb-custom1" placeholder="">
                <div class="people-container">
                    <div (click)="registration.form.get('referralName').setValue(person.name);
                            registration.form.get('referral').setValue(person);"
                            class="d-flex" *ngFor="let person of registration.professional">
                        <img [src]="person.image" class="img">
                        <p class="name align-self-center">{{person.name}}</p>
                        <p class="role align-self-center">{{person.role}}</p>
                    </div>
                </div>
            </div>
            <button (click)="registration.screen['two']=true;registration.screen['one']=false;" [disabled]="registration.referral === true ? !registration.form.get('referralName').valid : !registration.form.get('aboutUs').valid" class="signup next">Next</button>
        </div>
    </div>

    <div *ngIf="registration.screen['two']" class="third-screen d-flex flex-column align-items-start">
        <div class="first-row3">
            <p class="heading">Sign up</p>
            <p class="sub-heading">Sign up to use our services</p>
        </div>
        <div class="d-flex buying-layer mt-auto mb-auto" tabindex="1">
            <div class="buying-div"><img src="/assets/menu-icons/buyer.svg" class="buying"></div>
            <p class="buying-txt">Buying</p>
            <img (click)="registration.screen['two']=false;registration.screen['three']=true;" src="/assets/transaction-details/arrow.png" class="arrow">
        </div>
    </div>
    <div *ngIf="registration.screen['three']" class="fourth-screen d-flex flex-column">
        <div class="first-row4">
            <p class="heading">Sign up</p>
            <p class="sub-heading">Sign up to use our services</p>
        </div>
        <div class="mb-auto">
            <div class="d-flex name-row">
                <div class="input-flex">
                    <p class="label">First Name</p>
                    <input formControlName="firstName" class="form-control form-custom" placeholder="">
                </div>
                <div class="input-flex" >
                    <p class="label">Last Name</p>
                    <input formControlName="lastName" class="form-control form-custom" placeholder="">
                </div>
            </div>
            <div class="name-row">
                <p class="label">Email ID</p>
                <input formControlName="email" class="form-control form-custom" placeholder="">
            </div>
            <div class="d-flex name-row">
                <div class="input-flex">
                    <p class="label">Password</p>
                    <input formControlName="password" class="form-control form-custom" placeholder="">
                </div>
                <div class="input-flex" >
                    <p class="label">Confirm Password</p>
                    <input formControlName="confirmPassword" class="form-control form-custom" placeholder="">
                </div>
            </div>

            <div class="mt-custom3">
                <label class="container">
                    <input formControlName="agreed" id="myCheck" type="checkbox">
                    <img class="checkmark" src="/assets/loan-details/tick.svg">
                    <p class="remember text-nowrap">I have agreed to the terms and conditions</p>
                </label>
            </div>
        </div>
        <div class="d-flex">
            <button type="submit" [disabled]="!registration.form.valid || !registration.form.get('agreed').value" class="signup">Sign Up</button>
        </div>
    </div>
</form>
