<div class="row date-space">
  <div class="col-9">
      <div class="d-flex justify-content-between personal-sales-heading">
          <p style="">{{(helper.formatRole(salesType)) | titlecase}} Sales</p>
          <app-date-picker [section]="salesType"></app-date-picker>
      </div>
      <div class="personal-sales d-flex">
          <div class="ps-left">
            <div class="d-flex">
              <div *ngFor="let i of single | slice:0:2" class="date-cards ps-cards ps-cards-space" style="">
                  <p class="date-number" style="">{{i.value}}</p>
                  <p class="date-type" style="">{{i.name}}</p>
              </div>
            </div>
            <div class="d-flex">
                <div *ngFor="let i of single | slice:2:4" class="date-cards ps-cards" style="">
                    <p class="date-number" style="">{{i.value}}</p>
                    <p class="date-type" style="">{{i.name}}</p>
               </div>
            </div>
          </div>
          <div style="width: 100%;">
              <ngx-charts-pie-chart #PieChartComponent
                (window:resize)="onResize($event)"
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                [legendTitle]="123"
                >
              </ngx-charts-pie-chart>
          </div>
      </div>
  </div>

  <div class="col-3 align-self-end">
    <div class="average-loan">
       <p class="al-text">{{store.role === constant.role.REAL_ESTATE ? 'Average Sales Price' : 'Average Loan Amount'}}</p>
       <p class="al-number">${{ store.role === constant.role.REAL_ESTATE ? (sales.averageSaleAmount | mask: 'separator.2':',') :
           (sales.averageLoanAmount | mask: 'separator.2':',')}}</p>
       <p class="al-text">Closed Vs Pre-Approved Deals</p>
       <p class="al-number">{{sales.closedVsPreApproved | mask: 'separator.2':','}}%</p>
    </div>
  </div>

</div>
