<div class="card-2">
    <div class="row">
        <div class="col-md">
            <div class="media-col">
                <div class="media-files">
                    <img *ngIf="post.media[0].type === constant.mediaType.IMAGE" [src]="post.media[0].url">
                    <video *ngIf="post.media[0].type === constant.mediaType.VIDEO" [src]="post.media[0].url" controls></video>
                    <div *ngIf="post.media[0].type === constant.mediaType.IFRAME" class="embed-responsive embed-responsive-16by9 iframe-video">
                        <iframe class="embed-responsive-item" [src]="post.media[0].url | safeUrl" allowfullscreen></iframe>
                    </div>
                </div>
                <div *ngIf="post.media.length > 1">
                    <img (click)="next(post.media)" class="right-arrow" src="/assets/news-feed-icons/arrow.svg">
                    <img (click)="previous(post.media)" class="left-arrow" src="/assets/news-feed-icons/arrow.svg">
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start flex-column col-md">

            <div class="div-3">
                <div class="">
                    <div> <p class="post-username" style="">{{ post.title | titlecase}} </p>
                    </div>
                </div>
            </div>
            <div #postContent class="post-parent">
                <p class="post-text">{{post.description}} </p>
                <p (click)="toggle($event)" class="read-more">Read more</p>
                <p (click)="toggle($event)" class="read-less">Read less</p>
            </div>
            <div class="mt-auto div-1">
                <app-publisher class="width-100" (edit)="editPost()" [post]="post" (remove)="removePost()"></app-publisher>
            </div>
        </div>
    </div>
</div>
