<div class="parent" [formGroup]="finance">
<div formGroupName="conventional">
 <div class="loan-type"><p>Conventional</p></div>
    <div class="loan-form">
      <div class="loan-detail row-space">
          <div class="loan-heading"><p>Loan Details</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
               <label><p>Loan Term</p></label>
               <input suffix=" year(s)" mask="0*" formControlName="loanTerm" type="" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p>Loan Rate</p></label>
               <input suffix="%" mask="0*.0000" formControlName="loanRate" type="text" class="form-control" placeholder="">
             </div>
          </div>
       </div>
        <div class="mortgage-over row-space" formGroupName="downPayment">
            <div class="loan-heading"><p>Down Payment</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p>1 Unit</p></label>
                    <input suffix="%" mask="0*.0000" formControlName="oneUnit" type="text" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p>2 Unit</p></label>
                    <input suffix="%" mask="0*.0000" formControlName="twoUnit" type="text" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p>3-4 Unit</p></label>
                    <input suffix="%" mask="0*.0000" formControlName="threeToFourUnit" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="ratios row-space">
          <div class="loan-heading"><p>Ratios</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
                <label><p>Housing Ratio</p></label>
                <input suffix="%" mask="0*.0000" formControlName="housingRatio" type="text" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p>Debt Ratio</p></label>
               <input suffix="%" mask="0*.0000" formControlName="debtRatio" type="text" class="form-control" placeholder="">
             </div>
          </div>
        </div>
        <div class="mortgage-under row-space" formGroupName="privateMortgageInsurance">
            <div class="loan-heading"><p>Private Mortgage Insurance</p></div>
            <div class="row d-flex loan-label">
               <div class="col-4 form-group">
                  <label><p>5% Down</p></label>
                  <input suffix="%" mask="0*.0000" formControlName="fivePercentDown" type="text" class="form-control" placeholder="">
               </div>
               <div class="col-4 form-group">
                 <label><p>10% Down</p></label>
                 <input suffix="%" mask="0*.0000" formControlName="tenPercentDown" type="text" class="form-control" placeholder="">
               </div>
              <div class="col-4 form-group">
                <label><p>15% Down</p></label>
                <input suffix="%" mask="0*.0000" formControlName="fifteenPercentDown" type="text" class="form-control" placeholder="">
              </div>
            </div>
        </div>
        <div class="mortgage-over row-space" formGroupName="reserves">
            <div class="loan-heading"><p>Reserves Needed</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p>1 Unit</p></label>
                    <input formControlName="oneUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p>2 Unit</p></label>
                    <input formControlName="twoUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p>3-4 Unit</p></label>
                    <input formControlName="threeToFourUnit" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="add-reserve row-space">
            <div class="loan-heading"><p>Additional Reserves Needed</p></div>
            <div class="row d-flex loan-label">
               <div class="col-4 form-group">
                  <label><p>Reserves</p></label>
                  <input formControlName="additionalReserves" type="" class="form-control" placeholder="">
               </div>
            </div>
        </div>
  </div>

</div>
</div>
