<form class="parent" [formGroup]="finance">
<div formGroupName="conventional">
 <div class="loan-type"><p>Conventional</p></div>
    <div class="loan-form">
      <div class="loan-detail row-space">
          <div class="loan-heading"><p>Loan Details</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['conventional', 'loanTerm']).invalid && finance.get(['conventional', 'loanTerm']).touched ? 'var(--red)' : 'var(--lighGray)'">Loan Term</p></label>
               <input [class.is-invalid]="finance.get(['conventional', 'loanTerm']).invalid && finance.get(['conventional', 'loanTerm']).touched"
                      suffix=" year(s)" mask="0*" formControlName="loanTerm" type="text" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['conventional', 'loanRate']).invalid && finance.get(['conventional', 'loanRate']).touched ? 'var(--red)' : 'var(--lighGray)'">Loan Rate</p></label>
               <input [class.is-invalid]="finance.get(['conventional', 'loanRate']).invalid && finance.get(['conventional', 'loanRate']).touched"
                      suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="loanRate" type="text" class="form-control" placeholder="">
             </div>
          </div>
       </div>
        <div class="mortgage-over row-space" formGroupName="downPayment">
            <div class="loan-heading"><p>Down Payment</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['conventional', 'downPayment', 'oneUnit']).invalid && finance.get(['conventional', 'downPayment', 'oneUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">1 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['conventional', 'downPayment', 'oneUnit']).invalid && finance.get(['conventional', 'downPayment', 'oneUnit']).touched"
                           suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="oneUnit" type="text" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['conventional', 'downPayment', 'twoUnit']).invalid && finance.get(['conventional', 'downPayment', 'twoUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">2 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['conventional', 'downPayment', 'twoUnit']).invalid && finance.get(['conventional', 'downPayment', 'twoUnit']).touched"
                           suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="twoUnit" type="text" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['conventional', 'downPayment', 'threeToFourUnit']).invalid && finance.get(['conventional', 'downPayment', 'threeToFourUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">3-4 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['conventional', 'downPayment', 'threeToFourUnit']).invalid && finance.get(['conventional', 'downPayment', 'threeToFourUnit']).touched "
                           suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="threeToFourUnit" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="ratios row-space">
          <div class="loan-heading"><p>Ratios</p></div>
          <div class="row d-flex loan-label">
             <div class="col-4 form-group">
                <label><p [style.color]=" finance.get(['conventional', 'housingRatio']).invalid && finance.get(['conventional', 'housingRatio']).touched ? 'var(--red)' : 'var(--lighGray)'">Housing Ratio</p></label>
                <input [class.is-invalid]="finance.get(['conventional', 'housingRatio']).invalid && finance.get(['conventional', 'housingRatio']).touched"
                       suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="housingRatio" type="text" class="form-control" placeholder="">
             </div>
             <div class="col-4 form-group">
               <label><p [style.color]=" finance.get(['conventional', 'debtRatio']).invalid && finance.get(['conventional', 'debtRatio']).touched ? 'var(--red)' : 'var(--lighGray)'">Debt Ratio</p></label>
               <input [class.is-invalid]="finance.get(['conventional', 'debtRatio']).invalid && finance.get(['conventional', 'debtRatio']).touched"
                      suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="debtRatio" type="text" class="form-control" placeholder="">
             </div>
          </div>
        </div>
        <div class="mortgage-under row-space" formGroupName="privateMortgageInsurance">
            <div class="loan-heading"><p>Private Mortgage Insurance</p></div>
            <div class="row d-flex loan-label">
               <div class="col-4 form-group">
                  <label><p [style.color]=" finance.get(['conventional', 'privateMortgageInsurance', 'fivePercentDown']).invalid && finance.get(['conventional','privateMortgageInsurance', 'fivePercentDown']).touched ? 'var(--red)' : 'var(--lighGray)'">5% Down</p></label>
                  <input [class.is-invalid]="finance.get(['conventional', 'privateMortgageInsurance', 'fivePercentDown']).invalid && finance.get(['conventional','privateMortgageInsurance', 'fivePercentDown']).touched"
                         suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="fivePercentDown" type="text" class="form-control" placeholder="">
               </div>
               <div class="col-4 form-group">
                 <label><p [style.color]=" finance.get(['conventional', 'privateMortgageInsurance', 'tenPercentDown']).invalid && finance.get(['conventional','privateMortgageInsurance', 'tenPercentDown']).touched ? 'var(--red)' : 'var(--lighGray)'">10% Down</p></label>
                 <input [class.is-invalid]="finance.get(['conventional', 'privateMortgageInsurance', 'tenPercentDown']).invalid && finance.get(['conventional','privateMortgageInsurance', 'tenPercentDown']).touched"
                        suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="tenPercentDown" type="text" class="form-control" placeholder="">
               </div>
              <div class="col-4 form-group">
                <label><p [style.color]=" finance.get(['conventional', 'privateMortgageInsurance', 'fifteenPercentDown']).invalid && finance.get(['conventional','privateMortgageInsurance', 'fifteenPercentDown']).touched ? 'var(--red)' : 'var(--lighGray)'">15% Down</p></label>
                <input [class.is-invalid]="finance.get(['conventional', 'privateMortgageInsurance', 'fifteenPercentDown']).invalid && finance.get(['conventional','privateMortgageInsurance', 'fifteenPercentDown']).touched"
                       suffix="%" mask="0*.0000" mask="separator.4" thousandSeparator="," formControlName="fifteenPercentDown" type="text" class="form-control" placeholder="">
              </div>
            </div>
        </div>
        <div class="mortgage-over row-space" formGroupName="reserves">
            <div class="loan-heading"><p>Reserves Needed</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p [style.color]=" finance.get(['conventional', 'reserves', 'oneUnit']).invalid && finance.get(['conventional','reserves', 'oneUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">1 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['conventional', 'reserves', 'oneUnit']).invalid && finance.get(['conventional','reserves', 'oneUnit']).touched"
                           formControlName="oneUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]="finance.get(['conventional', 'reserves', 'twoUnit']).invalid && finance.get(['conventional','reserves', 'twoUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">2 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['conventional', 'reserves', 'twoUnit']).invalid && finance.get(['conventional','reserves', 'twoUnit']).touched"
                           formControlName="twoUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p [style.color]="finance.get(['conventional', 'reserves', 'threeToFourUnit']).invalid && finance.get(['conventional','reserves', 'threeToFourUnit']).touched ? 'var(--red)' : 'var(--lighGray)'">3-4 Unit</p></label>
                    <input [class.is-invalid]="finance.get(['conventional', 'reserves', 'threeToFourUnit']).invalid && finance.get(['conventional','reserves', 'threeToFourUnit']).touched"
                           formControlName="threeToFourUnit" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="add-reserve row-space">
            <div class="loan-heading"><p>Additional Reserves Needed</p></div>
            <div class="row d-flex loan-label">
               <div class="col-4 form-group">
                  <label><p [style.color]=" finance.get(['conventional', 'additionalReserves']).invalid && finance.get(['conventional', 'additionalReserves']).touched ? 'var(--red)' : 'var(--lighGray)'">Reserves</p></label>
                  <input [class.is-invalid]="finance.get(['conventional', 'additionalReserves']).invalid && finance.get(['conventional', 'additionalReserves']).touched"
                         formControlName="additionalReserves" type="" class="form-control" placeholder="">
               </div>
            </div>
        </div>
  </div>

</div>
</form>
