p{
  font-family: 'Poppins';
}
.form-div{
  position: relative;
  min-width: 40vw;
}
.card-1{
  padding: 2.5vw 2.5vw 1vw 2.5vw;
}
.heading{
  font-size: .85vw;
  font-weight: 500;
  color: var(--darkGray);
  margin-bottom: 2vw;
}
.close-btn{
  position: absolute;
  left: 95%;
  top: 4.5%;
  height: .7vw;
  width: .7vw;
  cursor: pointer;
}
.title{
  font-size: .7vw;
  color: var(--lighGray);
  margin-bottom: 0.2vw;
  font-weight: 300;
}
.mb-custom{
  margin-bottom: 1.5vw;
}

.f1{
  height: 2.5vw;
  font-size: .8vw;
  font-weight: 300;
  color: var(--darkGray);
  border-radius: .5vw;
  border: 1px solid var(--lighGray);
}
.danger{
  color: var(--red);
}
.invite{
  background: var(--green);
  color: white;
  padding: .5vw 0;
  border: none;
  font-family: 'Poppins';
  font-size: .8vw;
  cursor: pointer;
}
.invite:focus{
  outline: none;
}
.field-value{
  border: 1px solid var(--lighGray);
  padding: .6vw .65vw;
  border-radius: .5vw;
}
.field-value p{
  font-size: .8vw;
  font-weight: 300;
  color: var(--darkGray);
  margin-bottom: 0;
}
.calendar-icon{
  height: 1.3vw;
  width: 1.2vw;
  position: absolute;
  left: 88%;
  top: 25%;
  cursor: pointer;

}
.date-div{
  position: relative;
}

::ng-deep .ngb-dp-weekday.small{
  font-style: normal;
  color: var(--darkGray);
  font-size: .7vw;
}
::ng-deep .custom-day{
  color: var(--darkGray);
  font-size: .8vw;
}
::ng-deep .ngb-dp-day{
  outline: none;
  height: 1.785vw !important;
  width: 1.785vw !important;
  font-size: .7vw;
}

::ng-deep .ngb-dp-weekday.small{
  height: 1.785vw;
  width: 1.8vw;
  line-height: normal;
  padding: .5vw;
}

::ng-deep .ngb-dp-week.ngb-dp-weekdays{
  padding: 0 .17vw !important;
  width: min-content;
}

::ng-deep .btn.btn-link.ngb-dp-arrow-btn{
  outline: none;
  margin: 0 0.3vw;
  padding: 0 0.25vw;
  line-height: normal;
}

::ng-deep span.ngb-dp-navigation-chevron{
  height: .65vw !important;
  width: .65vw !important;
  border-width: .2vw .2vw 0 0;
  color: var(--green);
}
::ng-deep .ngb-dp-arrow{
  height: 2vw !important;
  width: 1vw !important;
}
::ng-deep .ngb-dp-header{
  padding-top: 0.15vw !important;
}
::ng-deep select.custom-select{
  font-size: .8vw !important;
  height: 1.5vw !important;
  //width: 0vw !important;
  padding: 0 .25vw !important;
  border: none!important;
  box-shadow: none !important;
}
::ng-deep .ngb-dp-navigation-select{
  flex: 1 1 7vw;
  //margin-top: .1vw;
}
::ng-deep .ngb-dp-week{
  padding: 0 .25vw !important;
}

::ng-deep .ngb-dp-week:last-child{
  display: none;
  //height: .1vw;
}

::ng-deep .dropdown-menu.show{
  width: 13.05vw;
  min-width: 1vw;
  top: 2.5vw !important;
  left: -0.1vw !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
::ng-deep .dropdown-menu.show:hover{
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.2);
}

:host ::ng-deep .bg-primary{
  background: var(--green) !important;
}
:host ::ng-deep .ngb-dp-day{
  outline: none;
}
:host ::ng-deep .btn-light{
  width: 1.9vw;
  height: 1.7vw;
  line-height: 2vw;
}
:host ::ng-deep .ngb-dp-navigation-select{
  flex: 1 1 9vw;
}
