<ng-container>
    <div class="d-flex"
         (click)="navigateToURL(notificationInfo.route)">
        <img *ngIf="notification.from.profilePictureUrl" class="image" [src]="notification.from.profilePictureUrl">
        <img *ngIf="!notification.from.profilePictureUrl" class="image-dummy" src="/assets/profile/profile.svg">
        <div>
            <p class="text">{{notificationInfo.text}}</p>
            <div class="d-flex justify-content-between">
                <p class="time">{{helper.getMinimalisticRelativeTime(notification.createdAt)}}</p>
                <div class="circle-2" *ngIf="!notification.read"></div>
            </div>
        </div>
    </div>
</ng-container>
