<div class="parent" [formGroup]="finance">
<div formGroupName="fha" >
 <div class="loan-type"><p>FHA</p></div>
    <div class="loan-form">
      <div class="loan-detail row-space">
          <div class="loan-heading"><p>Loan Details</p></div>
          <div class="row loan-label">
             <div class="col-4 form-group">
                <label><p>Down Payment</p></label>
                <input suffix="%" mask="0*.0000" formControlName="downPayment" type="text" class="form-control">
             </div>
             <div class="col-4 form-group">
               <label><p>Loan Term</p></label>
               <input suffix=" year(s)" mask="0*" formControlName="loanTerm" type="text" class="form-control">
             </div>
             <div class="col-4 form-group">
               <label><p>Loan Rate</p></label>
               <input suffix="%" mask="0*.0000" formControlName="loanRate" type="text" class="form-control">
             </div>
          </div>
       </div>
        <div class="ratios row-space">
          <div class="loan-heading"><p>Ratios</p></div>
          <div class="row loan-label">
             <div class="col-4 form-group">
                <label><p>Housing Ratio</p></label>
                <input suffix="%" mask="0*.0000" formControlName="housingRatio" type="text" class="form-control">
             </div>
             <div class="col-4 form-group">
               <label><p>Debt Ratio</p></label>
               <input suffix="%" mask="0*.0000" formControlName="debtRatio" type="text" class="form-control">
             </div>
          </div>
        </div>
        <div class="mortgage-under row-space" formGroupName="mortgageInsuranceUnder">
            <div class="loan-heading"><p>Mortgage Insurance Loan Amounts Under $625,000</p></div>
            <div class="row d-flex loan-label">
               <div class="col-4 form-group">
                  <label><p>Funding Fee</p></label>
                  <input suffix="%" mask="0*.0000" formControlName="fundingFee" type="text" class="form-control">
               </div>
               <div class="col-4 form-group">
                 <label><p>Monthly MI (Under 5%)</p></label>
                 <input suffix="%" mask="0*.0000" formControlName="monthlyMiUnder" type="text" class="form-control">
               </div>
              <div class="col-4 form-group">
                <label><p>Monthly MI (Over 5%)</p></label>
                <input suffix="%" mask="0*.0000" formControlName="monthlyMiOver" type="text" class="form-control">
              </div>
            </div>
        </div>
        <div class="mortgage-over row-space" formGroupName="mortgageInsuranceAbove">
           <div class="loan-heading"><p>Mortgage Insurance Loan Amounts Above $625,000</p></div>
           <div class="row d-flex loan-label">
              <div class="col-4 form-group">
                 <label><p>Funding Fee</p></label>
                 <input suffix="%" mask="0*.0000" formControlName="fundingFee" type="text" class="form-control">
              </div>
              <div class="col-4 form-group">
                <label><p>Monthly MI (Under 5%)</p></label>
                <input suffix="%" mask="0*.0000" formControlName="monthlyMiUnder" type="text" class="form-control">
              </div>
              <div class="col-4 form-group">
                <label><p>Monthly MI (Over 5%)</p></label>
                <input suffix="%" mask="0*.0000" formControlName="monthlyMiOver" type="text" class="form-control">
              </div>
           </div>
        </div>
        <div class="mortgage-over row-space" formGroupName="reserves">
            <div class="loan-heading"><p>Reserves Needed</p></div>
            <div class="row d-flex loan-label">
                <div class="col-4 form-group">
                    <label><p>1 Unit</p></label>
                    <input formControlName="oneUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p>2 Unit</p></label>
                    <input formControlName="twoUnit" type="number" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label><p>3-4 Unit</p></label>
                    <input formControlName="threeToFourUnit" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="add-reserve row-space">
            <div class="loan-heading"><p>Additional Reserves Needed</p></div>
            <div class="row d-flex loan-label">
               <div class="col-4 form-group">
                  <label><p>Reserves</p></label>
                  <input formControlName="additionalReserves" type="number" class="form-control">
               </div>
            </div>
        </div>
  </div>
</div>
</div>
