<p class="heading">Login</p>
<p class="sub-heading">Enter your credentials to login</p>

<p class="label">Email</p>
<input class="form-control form-custom mb-custom" type="text" placeholder="email">
<p class="label">Password</p>
<input type="password" class="form-control form-custom mb-custom1" type="text" placeholder="***********">

<div>
    <label class="container">
        <input id="myCheck" type="checkbox">
        <img class="checkmark" src="/assets/loan-details/tick.svg">
        <p class="remember">Remember me</p>
    </label>
</div>

<button class="login">Login</button>
