<form [formGroup]="login.form" (ngSubmit)="onSubmit()" class="d-flex flex-column">
    <p class="heading">Login</p>
    <p class="sub-heading">Enter your credentials to login</p>

    <p [ngClass]="{'danger': login.form.get('email').invalid && login.form.get('email').touched}" class="label">
        Email
    </p>
    <input type="email" [class.is-invalid] = "login.form.get('email').invalid && login.form.get('email').touched" formControlName="email" class="form-control form-custom mb-custom" type="text" placeholder="">
    <p [ngClass]="{'danger': login.form.get('password').invalid && login.form.get('password').touched}" class="label">
        Password
    </p>
    <input type="password" [class.is-invalid] = "login.form.get('password').invalid && login.form.get('password').touched" formControlName="password" class="form-control form-custom" placeholder="">
    <div class="mb-custom1">
        <p class="forgot-pass">Forgot Password?</p>
    </div>
    <div>
        <label class="container">
            <input id="myCheck" type="checkbox">
            <img class="checkmark" src="/assets/loan-details/tick.svg">
            <p class="remember">Remember me</p>
        </label>
    </div>

    <button type="submit" [disabled]="!login.form.valid" class="login">Login</button>
</form>
