<h2 class="global_title left">CCPA Privacy</h2>
<h3>Your Rights under the CCPA</h3>
<p>Under this Privacy Policy, and by law if You are a resident of California, You have the following rights:</p>
<ul class="listing">

    <li>The right to notice. You must be properly notified which categories of Personal Data are being collected and the purposes for which the Personal Data is being used.</li>
    <li>The right to access / the right to request. The CCPA permits You to request and obtain from the Company information regarding the disclosure of Your Personal Data that has been collected in the past 12 months by the Company
        or its subsidiaries to a third-party for the third party's direct marketing purposes.</li>
    <li>The right to say no to the sale of Personal Data. You also have the right to ask the Company not to sell Your Personal Data to third parties. You can submit such a request by visiting our "Do Not Sell My Personal Information"
        section or web page.

        <p><strong>The right to know about Your Personal Data. You have the right to request and obtain from the Company information regarding the disclosure of the following:</strong></p>
        <ul class="listing">
            <li>The categories of Personal Data collected</li>
            <li>The sources from which the Personal Data was collected</li>
            <li>The business or commercial purpose for collecting or selling the Personal Data</li>
            <li>Categories of third parties with whom We share Personal Data</li>
            <li>The specific pieces of Personal Data we collected about You</li>
        </ul>
    </li>

    <li>The right to delete Personal Data. You also have the right to request the deletion of Your Personal Data that have been collected in the past 12 months.

        <p><strong>The right not to be discriminated against. You have the right not to be discriminated against for exercising any of Your Consumer's rights, including by:</strong></p>

        <ul class="listing">
            <li>Denying goods or services to You</li>
            <li>Charging different prices or rates for goods or services, including the use of discounts or other benefits or imposing penalties</li>
            <li>Providing a different level or quality of goods or services to You</li>
            <li>Suggesting that You will receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
        </ul>

    </li>


</ul>



<h3>Exercising Your CCPA Data Protection Rights</h3>
<p>In order to exercise any of Your rights under the CCPA, and if you are a California resident, You can email or call us or visit our "Do Not Sell My Personal Information" section or web page.</p>
<p>The Company will disclose and deliver the required information free of charge within 45 days of receiving Your verifiable request. The time period to provide the required information may be extended once by an additional 45 days
    when reasonable necessary and with prior notice.</p>
<h3>Do Not Sell My Personal Information</h3>
<p>We do not sell personal information. However, the Service Providers we partner with (for example, our advertising partners) may use technology on the Service that "sells" personal information as defined by the CCPA law.</p>
<p>If you wish to opt out of the use of your personal information for interest-based advertising purposes and these potential sales as defined under CCPA law, you may do so by following the instructions below.</p>
<p>Please note that any opt out is specific to the browser You use. You may need to opt out on every browser that you use.</p>
<h3>Website</h3>
<p><strong>You can opt out of receiving ads that are personalized as served by our Service Providers by following our instructions presented on the Service:</strong></p>
<ul class="listing">
    <li>From Our "Cookie Consent" notice banner</li>
    <li>Or from Our "CCPA Opt-out" notice banner</li>
    <li>Or from Our "Do Not Sell My Personal Information" notice banner</li>
    <li>Or from Our "Do Not Sell My Personal Information" link</li>
</ul>

<p>The opt out will place a cookie on Your computer that is unique to the browser You use to opt out. If you change browsers or delete the cookies saved by your browser, you will need to opt out again.</p>


<h3>Mobile Devices</h3>
<p>Your mobile device may give you the ability to opt out of the use of information about the apps you use in order to serve you ads that are targeted to your interests:</p>
<ul class="listing">
    <li>"Opt out of Interest-Based Ads" or "Opt out of Ads Personalization" on Android devices</li>
    <li>"Limit Ad Tracking" on iOS devices</li>

</ul>
<p>You can also stop the collection of location information from Your mobile device by changing the preferences on your mobile device.</p>
