<h2 class="global_title left"><span>Interpretation and Definitions</span></h2>
<h3>Interpretation</h3>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions.</p>
<p>
    The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
</p>
<h3>Definitions</h3>
<p><strong>For the purposes of these Terms and Conditions:</strong></p>
<p>Affiliate means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors
    or other managing authority.</p>
<p>Account means a unique account created for You to access our Service or parts of our Service.</p>
<p>Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Re-Connect, LLC, PO BOX 521, Auburn, MA 01501.</p>
<p>Content refers to content such as text, images, or other information that can be posted, uploaded, linked to or otherwise made available by You, regardless of the form of that content.</p>
<p>Country refers to: Massachusetts, United States</p>
<p>Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
<p>Feedback means feedback, innovations or suggestions sent by You regarding the attributes, performance or features of our Service.</p>
<p>Service refers to the Website.</p>
<p>Terms and Conditions (also referred as "Terms") mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service.</p>
<p>Third-party Social Media Service means any services or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.</p>
<p>Website refers to Re-Connect, accessible from <a href="#" class="text-green">http://www.re-connect.co</a></p>
<p>You means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
