<div class="heading d-flex justify-content-between">
  <h3>Dashboard</h3>
</div>
<div class="" style="background: transparent" *ngIf="dashboard.loader">
    <app-borrowers-dates [buyerAnalytics]="dashboard.analytics.buyerAnalytics"></app-borrowers-dates>
    <app-personal-sales [personalSalesAnalytics]="dashboard.analytics.personalSales" [salesType]="'Personal'"></app-personal-sales>
    <app-personal-sales *ngIf="false" [salesType]="'Team Dynasty'"></app-personal-sales>
    <app-new-quote-requests *ngIf="false" ></app-new-quote-requests>
    <app-commissions-earned [personalVolume]="dashboard.analytics.personalVolume" [commissionAnalytics]="dashboard.analytics.commission"></app-commissions-earned>
</div>
