<div class="card-2">
    <div class="gradient"></div>
    <p class="post-title">{{post.title | titlecase}}</p>
    <div class="media-files">
        <img *ngIf="post.media[0].type === constant.mediaType.IMAGE" [src]="post.media[0].url">
        <video *ngIf="post.media[0].type === constant.mediaType.VIDEO" [src]="post.media[0].url" controls></video>
        <div *ngIf="post.media[0].type === constant.mediaType.IFRAME" class="embed-responsive embed-responsive-16by9 iframe-video">
            <iframe class="embed-responsive-item" [src]="post.media[0].url | safeUrl" allowfullscreen></iframe>
        </div>
    </div>
    <div class="mt-custom div-1">
         <app-publisher class="width-100" [post]="post" (edit)="editPost()" (remove)="removePost()"></app-publisher>
    </div>
</div>
