<div class="card-3">
    <p class="card-heading">Features</p>
    <div class="row">
        <div class="col-6 col-mb">
            <div class="feature-parent" *ngFor="let feature of propertyDetails | keyvalue | slice:0:halfLength">
                <p class="feature">{{feature.key}}</p>
                <ul>
                    <ng-container *ngFor="let detail of feature.value;let i=index" >
                        <li>
                            <p class="item align-self-center">{{detail}}</p>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="col-6 col-mb" >
            <div class="feature-parent" *ngFor="let feature of propertyDetails | keyvalue |  slice:otherHalfLength:length;">
                <p class="feature">{{feature.key}}</p>
                <ul>
                    <ng-container *ngFor="let detail of feature.value;let i=index" >
                        <li>
                            <p class="item align-self-center">{{detail.includes('Tax amount') ? 'Tax amount: ' + detail.replace('Tax amount: ', '$') : detail}}</p>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>
