.no-result{
  height: 15vw;
  width: 15vw;
}
.no-result-txt{
  margin-bottom: 0;
  color: var(--darkGray);
  font-size: 1vw;
}
.no-result-txt-1{
  margin-bottom: 0;
  color: var(--lighGray);
  font-size: .9vw;
}
