
<img (click)="close()" class="close-btn" src="/assets/calendar-icons/close.svg">
<div class="card-1">
    <div class="d-flex justify-content-between mb-custom">
        <p class="heading align-self-center">Event</p>
        <button class="launch">Post</button>
    </div>
    <p class="title">Event title</p>
    <input type="text" class="form-control f1 mb-custom"  placeholder="">
    <p class="title">Add a note</p>
    <textarea  class="form-control f2 mb-custom" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

