<form style="position: relative" [formGroup]="searchHome.moreFilters">
<div class="heading row">
  <div class="col-2" style="background: transparent">
        <h3 class="text-nowrap">Search Homes</h3>
  </div>
    <ng-container *ngIf="store.role === constant.role.BUYER">
        <div class="col-3 align-self-end" style="background: transparent">
            <p class="heading-color text-center">Approved Loan Programs</p>
        </div>
        <div *ngIf="searchHome.loan" class="col-5 align-self-end d-flex justify-content-center" style="background: transparent">
            <div class="loan-program d-flex" style="">
                <p (click)="store.updateToggleLoanType('fha')" *ngIf="searchHome.loan.fha" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'fha','loan-gray':!((store.toggleLoanType | async) === 'fha')}">FHA</p>
                <p (click)="store.updateToggleLoanType('va')" *ngIf="searchHome.loan.va" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'va','loan-gray':!((store.toggleLoanType | async) === 'va')}">VA</p>
                <p (click)="store.updateToggleLoanType('usda')" *ngIf="searchHome.loan.usda" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'usda','loan-gray':!((store.toggleLoanType | async) === 'usda') }">USDA</p>
                <p (click)="store.updateToggleLoanType('conventional')" *ngIf="searchHome.loan.conventional" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'conventional','loan-gray':!((store.toggleLoanType | async) === 'conventional') }">Coventional</p>
                <p (click)="store.updateToggleLoanType('homeReady')" *ngIf="searchHome.loan.homeReady" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'homeReady','loan-gray':!((store.toggleLoanType | async) === 'homeReady') }" class="text-nowrap">Home Ready</p>
                <p (click)="store.updateToggleLoanType('homePossible')" *ngIf="searchHome.loan.homePossible" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'homePossible','loan-gray':!((store.toggleLoanType | async) === 'homePossible') }" class="text-nowrap">Home Possible</p>
            </div>
        </div>
    </ng-container>

</div>

<div class="d-flex filter" style="background: transparent">
        <div class="align-self-center search-input">
            <input (input)="searchHome.hideSearch=true" [formControl]="searchHome.searchKeyword" type="text" id="search" class="form-control form-control-lg" placeholder="">
            <div [style.width.px]="searchContainerWidth" id="search-list" *ngIf="searchHome.hideSearch&&(searchHome.autoComplete | async)" class="search-list-container">
                <p (click)="searchHome.searchKeyword.setValue(i.label); searchHome.hideSearch = false;
                 searchHome.polygon = i.id;searchHomeByName();" class="search-list" *ngFor="let i of searchHome.autoComplete | async">
                        {{i.label}}
                </p>
            </div>
        </div>
        <div (click)="searchHomeByName()" class="align-self-center search-icon-div"> <img src="/assets/chat/search.svg" class="search-icon"> </div>
<!--        <div class="dropdown">-->
<!--          <button class="btn payment btn-lg" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Payment <img class="down-arrow" src="/assets/search-home/down-arrow.svg">-->
<!--          </button>-->
<!--          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
<!--            <button class="dropdown-item" type="button">Action</button>-->
<!--            <button class="dropdown-item" type="button">Another action</button>-->
<!--            <button class="dropdown-item" type="button">Something else here</button>-->
<!--          </div>-->
<!--        </div>-->
        <div class="dropdown">
          <button (click)="hideMoreFilter()" class="btn payment btn-lg" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Property Type <img class="down-arrow" src="/assets/search-home/down-arrow.svg">
          </button>
          <div (click)="keepDropdownOpen($event)" class="dropdown-menu" aria-labelledby="dropdownMenu2" formGroupName="propertyType">
            <ng-container *ngFor="let i of searchHome.moreFilters.value.propertyType| keyvalue: helper.originalOrder">
              <label class="container">
                  <input formControlName="{{i.key}}" type="checkbox">
                  <img class="checkmark" src="/assets/loan-details/tick.svg">
                  <p class="label-txt">{{i.key}}</p>
              </label>
            </ng-container>
            <div class="d-flex justify-content-end">
                <div (click)="cancel($event)" class="cancel-btn" >Cancel</div>
                <div (click)="applyFilter($event)" class="apply-btn" >Apply</div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button (click)="hideMoreFilter()" class="btn payment btn-lg" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Beds <img class="down-arrow" src="/assets/search-home/down-arrow.svg">
          </button>
          <div (click)="keepDropdownOpen($event)" class="dropdown-menu" aria-labelledby="dropdownMenu2" formGroupName="beds">
            <ng-container *ngFor="let i of [1,2,3,4,5]">
              <label class="container">
                  <input formControlName="value" type="radio" [value]="i">
                  <img class="checkmark" src="/assets/loan-details/tick.svg">
                  <p class="label-txt">{{i}}+</p>
              </label>
            </ng-container>
            <div class="d-flex justify-content-end">
<!--                <div *ngIf="searchHome.moreFilters.value.baths.value === null"  (click)="cancel($event)" class="cancel-btn" >Cancel</div>-->
                <div (click)="searchHome.moreFilters.get(['beds','value']).setValue(null)" class="cancel-btn" >Clear</div>
                <div (click)="applyFilter($event)" class="apply-btn" >Apply</div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button (click)="hideMoreFilter()" class="btn payment btn-lg" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Baths <img class="down-arrow" src="/assets/search-home/down-arrow.svg">
          </button>
          <div (click)="keepDropdownOpen($event)" class="dropdown-menu" aria-labelledby="dropdownMenu2" formGroupName="baths">
            <ng-container *ngFor="let i of [1,2,3,4,5]">
              <label class="container">
                  <input formControlName="value" type="radio" [value]="i">
                  <img class="checkmark" src="/assets/loan-details/tick.svg">
                  <p class="label-txt">{{i}}+</p>
              </label>
            </ng-container>
            <div class="d-flex justify-content-end">
                <div (click)="searchHome.moreFilters.get(['baths','value']).setValue(null)" class="cancel-btn" >Clear</div>
                <div (click)="applyFilter($event)" class="apply-btn" >Apply</div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button (click)="hideMoreFilter()" class="btn payment btn-lg" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listing Status <img class="down-arrow" src="/assets/search-home/down-arrow.svg">
          </button>
          <div (click)="keepDropdownOpen($event)" class="dropdown-menu" aria-labelledby="dropdownMenu2" formGroupName="status">
            <ng-container *ngFor="let i of searchHome.moreFilters.value.status| keyvalue: helper.originalOrder">
              <label class="container">
                  <input formControlName="{{i.key}}" type="checkbox">
                  <img class="checkmark" src="/assets/loan-details/tick.svg">
                  <p class="label-txt text-nowrap">{{i.key}}</p>
              </label>
            </ng-container>
            <div class="d-flex justify-content-end">
                <div (click)="cancel($event)" class="cancel-btn" >Cancel</div>
                <div (click)="applyFilter($event)" class="apply-btn" >Apply</div>
            </div>
          </div>
        </div>
        <div class="select-div align-self-center filter-menu d-flex justify-content-center" (click)="store.updateToggleMoreFilter(toggleMoreFilter())">
          <div class="d-flex">
           <p class="text-nowrap">More Filters</p>
           <img class="down-arrow align-self-center da-margin" src="/assets/search-home/down-arrow.svg">
          </div>
        </div>
        <div *ngIf="store.role === constant.role.BUYER" class="save-search d-flex" (click)="saveSearch()">
            <img src="/assets/search-home/save.svg">
            <p class="text-nowrap">Save Search</p>
        </div>
</div>
<form [formGroup]="searchHome.moreFilters">
<div class="more-filter" *ngIf="store.toggleMoreFilter | async">
    <app-more-filters [searchHome]="searchHome" (applyFilters)="applyFilters()"></app-more-filters>
</div>
</form>
<div style="position: relative">
  <div *ngIf="store.toggleMoreFilter | async" id="opacity" class=""></div>


  <div class="d-flex justify-content-between second-row">
     <p class="second-row-txt text-nowrap align-self-center">Location name Real Estate & Homes for Sale </p>
     <div class="d-flex second-row-txt1">
        <p *ngIf="searchHome.total" class="no-home align-self-center text-nowrap">{{searchHome.total}} Homes</p>
        <p class="sort-by align-self-center text-nowrap">Sort By:</p>
        <select (change)="sortBy()" [formControl]="searchHome.sortBy" class="form-control" id="exampleFormControlSelect1">
          <option [ngValue]="null" [disabled]="true">Choose</option>
          <option value="desc" >Price High To Low</option>
          <option value="asc">Price Low To High</option>
        </select>
     </div>
  </div>


  <div class="home">
    <div class="row">
        <div class="col-3 home-margin" *ngFor="let home of searchHome.homes">
            <app-home-card [loan]="searchHome.loan" [home]="home"></app-home-card>
        </div>
    </div>
  </div>


    <div class="paginator" *ngIf="searchHome.total">
        <ngb-pagination (pageChange)="pageChange($event)" [pageSize]="24" [maxSize]="5" [collectionSize]="searchHome.total" [page]="searchHome.pageNumber"></ngb-pagination>
    </div>
</div>
</form>
