.heading h3{
  font-size: var(--heading);
  font-family: 'Poppins',  sans-serif;
  color: var(--darkGray);
  margin-bottom: 0;
}
.heading p{
  margin-bottom: 0;
  font-size: .8vw;
  font-weight: 300;
  font-style: normal;
}
.heading-color{
  color: var(--darkGray);
}
.heading{
  margin-bottom: 2vw;
}
.loan-program p{
  margin-right: .8vw;
  cursor: pointer;
}
.loan-program p:last-child{
  margin-right: 0;
}
.loan-green{
  color: var(--green) !important;
}
.loan-gray{
  color: var(--darkGray);
}
.filter{
  margin-bottom: 1.5vw;
}
.search-icon{
  background: var(--green);
  height: 2.7vw;
  width: 2.7vw;
  padding: .45vw;
  border-radius: .5vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.search-icon-div{
  //padding-right: .8vw;
  display: flex;
  margin-left: .5vw;
  margin-right: .5vw;
}
.search-input{
  //width: 19.6%;
  width: 160vw;
  position: relative;
}
#search.form-control{
  border-radius: .5em;
  height: 2.7vw;
  font-size: .8vw;
  font-family: 'Poppins';
  border: none;
}
::placeholder{
  font-size: .7vw;
  color: var(--lighGray);
}
.select-div select{
  font-size: .8vw;
  font-family: 'Poppins';
  font-weight: 300;
  color: var(--darkGray);
  background: transparent;
  border-radius: .5vw;
  height: 2.7vw;
  padding: .25vw .5vw .25vw .7vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--darkGray);
}
.select-div select:focus{
  background: transparent;
}

.payment{
  background: transparent;
  border: 1px solid var(--darkGray);
  font-family: 'Poppins';
  font-size: .8vw;
  font-weight: 300;
  height: 100%;
  border-radius: .5vw;
  color: var(--darkGray);
}
.down-arrow{
  width: .9vw;
  height: .9vw;
  margin-left: .3vw;
}
.dropdown{
  margin-right: .5vw;
}
.save-search p{
 margin-bottom: 0;
  font-size: .8vw;
  color: white;
  font-weight: 300;
}
.save-search img{
  height: 1.1vw;
  width: 1.1vw;
  margin-right: .3vw;
}
.save-search{
  background: var(--green);
  border-radius: .5vw;
  padding: .7vw 1vw .7vw 1vw;
  font-size: .8vw;
  cursor: pointer;
}
.select-div {
  width: 100%;
  margin-right: .5vw;
}
.select-div p{
  margin-bottom: 0;
  font-weight: 300;
  color: var(--darkGray);
}
.container {
  position: relative;
  padding-left: 1.5vw;
  cursor: pointer;
  padding-right: 0;
  margin: 0;
  max-width: 8.5vw;
  font-size: .75vw;
  color: var(--lighGray);
  font-family: 'Poppins';
  margin-bottom: .5vw;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container p{
  margin-bottom: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1vw;
  width: 1vw;
  background-color: white;
  padding: .15vw;
  border-radius: .2vw;
  border: 1px solid var(--lighGray);
}

/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--green);
  border: none;
}
.container input:checked ~ .label-txt{
  color: var(--green)
}
.dropdown-menu{
  padding: 1vw;
  //width: 12vw;
  // width: 250%;
  min-width: 5vw;
  width: 15vw;
}
.apply-btn{
  background: var(--green);
  color: white;
  font-family: 'Poppins';
  font-size: .7vw;
  font-weight: 300;
  padding: .25vw .5vw;
  //float: right;
  border-radius: .3vw;
  cursor: pointer;
}
.cancel-btn{
  background: var(--extraLightGray);
  color: var(--lighGray);
  font-family: 'Poppins';
  font-size: .7vw;
  font-weight: 300;
  padding: .25vw .5vw;
  //float: right;
  border-radius: .3vw;
  cursor: pointer;
  margin-right: .5vw;
  //margin-left: 5vw;
}
.filter-menu{
  border: 1px solid var(--darkGray);
  border-radius: .5vw;
  padding: .725vw 0.725vw .725vw 0.725vw;
  font-size: .8vw;
  cursor: pointer;
}
p{
  font-family: 'Poppins';
}
.more-filter{
  background: white;
  border-radius: .5vw;
  position: absolute;
  z-index: 3;
}

.dropdown-item{
  font-size: .8vw;
  color: var(--darkGray);
}
.dropdown-item:active{
  background: var(--mediumLightGray);
  color: white;
  outline: none;
}
.active{
  background: var(--green);
  color: white;
}
.col-width{
  //width: 17vw;
}

.second-row-txt{
  color: var(--darkGray);
  font-size: .85vw;
  margin-bottom: 0;
}
.second-row-txt1 p{
  color: var(--darkGray);
  margin-bottom: 0;
}
.sort-by{
  font-size: .8vw;
  font-weight: 300;
  margin-right: 1vw;
}
.no-home{
  font-size: .85vw;
  margin-right: 2vw;
}
.second-row{
  margin-bottom: 1.5vw;
}
#opacity{
  position: absolute;
  top: 0; left: 0;
  background: var(--lightBlue);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-top-right-radius: .5vw;
  border-top-left-radius: .5vw;
}
p{
  font-family: 'Poppins';
}
#exampleFormControlSelect1.form-control{
  width: 8vw;
  //margin-left: 1vw;
  background: var(--lightBlue);
  font-size: .75vw;
  border-radius: .5em;
  padding: .2vw 0vw .2vw .5vw;
  height: 2.3vw;
  font-weight: 300;
  border: 1px solid var(--lighGray);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#exampleFormControlSelect1.form-control:focus{
  box-shadow: none;
}
button:focus{
  box-shadow: none;
}
.search-list-container{
  position: absolute;
  background: white;
  padding: 1vw;
  z-index: 2;
  max-height: 20vw;
 // width: 13.2vw;
  overflow-y: auto;
  border-radius: .5vw;
  border: 1px solid rgba(0,0,0,.15);
  top: 2.8vw;
}
.search-list{
  color: var(--lighGray);
  font-size: .7vw;
  margin-bottom: .8vw;
  cursor: pointer;
}
.static-text{
  font-weight: 500;
  color: var(--mediumGray)
}
::ng-deep a.page-link{
  padding: 0.5vw 1vw;
  color: var(--darkGray);
  font-weight: 300;
  font-size: .9vw;
  background: transparent;
  border: 1px solid var(--lighGray);
}
::ng-deep a.page-link:hover{
  border: 1px solid var(--lighGray);
}
::ng-deep li.page-item.disabled a.page-link{
  background: transparent;
  border: 1px solid var(--lighGray);
}
::ng-deep li.page-item.active a.page-link{
  background: var(--green);
  color: white;
  border: 1px solid var(--green);
}
::ng-deep .page-link:focus{
  box-shadow: none;
}
.paginator{
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}
.home{
  margin-bottom: 3vw;
}
.no-result-parent{
  width: 100%;
  position: absolute;
  top: 300%;
}
