<form [formGroup]="register.form" class="parent" (ngSubmit)="onSubmit()">
    <div *ngIf="register.screen['one']" class="d-flex flex-column parent" formGroupName="personal">
        <p class="heading">Become a Partner</p>
        <div class="mt-custom">
            <p class="choose">Choose a role</p>
            <div class="select-div">
                <select formControlName="role" class="form-control form-custom">
                    <option *ngFor="let i of register.role">{{i}}</option>
                </select>
                <img src="/assets/landing/drop.svg" class="drop">
            </div>
        </div>
        <button [disabled]="!register.form.get('personal.role').valid" (click)="register.screen['one']=false;register.screen['two']=true;" class="continue mt-auto align-self-end">Continue</button>
    </div>

    <div *ngIf="register.screen['two']" class="d-flex flex-column parent" formGroupName="company">
        <div class="d-flex">
            <p class="heading">Become a Partner</p>
            <div class="d-flex back" (click)="register.screen['one']=true;register.screen['two']=false;">
                <img src="/assets/transaction-details/arrow.png" class="arrow">
                <p>Back</p>
            </div>
        </div>
        <p class="sub-heading name-row">First, tell us about your company</p>
        <div class="d-flex name-row">
            <div class="input-flex">
                <p class="label">Company Name</p>
                <input formControlName="companyName" class="form-control form-custom" placeholder="">
            </div>
            <div class="input-flex" >
                <p class="label">License</p>
                <input formControlName="license" class="form-control form-custom" placeholder="">
            </div>
        </div>
        <div class="d-flex name-row">
            <div class="select-flex">
                <p class="label">State</p>
                <div class="select-div">
                    <select formControlName="state" (change) = "changeState(register.form.value.company.state)" class="form-control form-custom">
                        <option *ngFor="let i of register.states">{{i.state_name}}</option>
                    </select>
                    <img src="/assets/landing/drop.svg" class="drop1">
                </div>
            </div>
            <div class="select-flex">
                <p class="label">City</p>
                <div class="select-div">
                    <select formControlName="city" class="form-control form-custom" id="">
                        <option *ngFor="let i of register.cities">{{i.city_name}}</option>
                    </select>
                    <img src="/assets/landing/drop.svg" class="drop1">
                </div>
            </div>
        </div>
        <div class="name-row">
            <p class="label">Street</p>
            <input formControlName="street" class="form-control form-custom" placeholder="">
        </div>
        <div class="d-flex">
            <div class="select-flex">
                <p class="label">Phone Number</p>
                <input formControlName="phoneNumber" class="form-control form-custom" placeholder="">
            </div>
            <div class="select-flex">
                <p class="label">Zip Code</p>
                <input formControlName="zipCode" class="form-control form-custom" placeholder="">
            </div>
        </div>

        <button [disabled]="!register.form.get('company').valid" (click)="register.screen['two']=false;register.screen['three']=true;" class="continue mt-auto align-self-end">Continue</button>
    </div>

    <div *ngIf="register.screen['three']" class="d-flex flex-column parent">
        <div class="d-flex">
            <p class="heading">Become a Partner</p>
            <div class="d-flex back" (click)="register.screen['two']=true;register.screen['three']=false;">
                <img src="/assets/transaction-details/arrow.png" class="arrow">
                <p>Back</p>
            </div>
        </div>
        <p class="sub-heading name-row">Now, tell us about you.</p>
        <div formGroupName="personal">
            <div class="d-flex name-row">
                <div class="input-flex">
                    <p class="label">First Name</p>
                    <input formControlName="firstName" class="form-control form-custom" placeholder="">
                </div>
                <div class="input-flex" >
                    <p class="label">Last Name</p>
                    <input formControlName="lastName" class="form-control form-custom" placeholder="">
                </div>
            </div>
            <div class="d-flex name-row">
                <div class="input-flex">
                    <p class="label">NMLS#</p>
                    <input formControlName="nmls" class="form-control form-custom" placeholder="">
                </div>
                <div class="input-flex" >
                    <p class="label">Phone Number</p>
                    <input formControlName="phoneNumber" class="form-control form-custom" placeholder="">
                </div>
            </div>
            <div class="name-row" >
                <p class="label">Email</p>
                <input formControlName="email" class="form-control form-custom" placeholder="">
            </div>
        </div>
        <div class="mt-custom2">
            <label class="container">
                <input formControlName="agreed" id="myCheck" type="checkbox">
                <img class="checkmark" src="/assets/loan-details/tick.svg">
                <p class="remember text-nowrap">I have agreed to the terms and conditions</p>
            </label>
        </div>
        <button (click)="register.screen['three']=false;register.screen['four']=true;" type="submit" [disabled]="(!register.form.get('personal').valid) || !register.form.get('agreed').value" class="continue mt-auto align-self-end">
            Sign up
        </button>
    </div>
    <div *ngIf="register.screen['four']" class="d-flex flex-column parent">
        <div class="mt-auto mb-auto">
            <p class="heading text-center">Thanks for signing up!</p>
            <p class="sub-heading text-center">We are revising your information and will contact</p>
            <p class="sub-heading text-center">you very soon</p>
        </div>
    </div>
</form>
