<div class="card-2">
    <div class="row">
        <div class="col-md">
            <div class="media-col">
                <div class="gradient"></div>
                <p class="post-title">{{post.title | titlecase}}</p>
                <div class="media-file">
                    <img *ngIf="post.media[0].type === constant.mediaType.IMAGE" [src]="post.media[0].url">
                    <video *ngIf="post.media[0].type === constant.mediaType.VIDEO" [src]="post.media[0].url" controls></video>
                    <div *ngIf="post.media[0].type === constant.mediaType.IFRAME" class="embed-responsive embed-responsive-16by9 iframe-vid">
                        <iframe class="embed-responsive-item" [src]="post.media[0].url | safeUrl" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start flex-column col-md">
            <div class="media-files d-flex">
                <ng-container *ngFor="let media of post.media | slice: 1:post.media.length">
                    <div class="file">
                        <img class="media-img" *ngIf="media.type === constant.mediaType.IMAGE" [src]="media.url">
                        <video *ngIf="media.type === constant.mediaType.VIDEO" [src]="media.url" controls></video>
                        <div *ngIf="media.type === constant.mediaType.IFRAME" class="embed-responsive embed-responsive-16by9 iframe-video">
                            <iframe class="embed-responsive-item" [src]="media.url | safeUrl" allowfullscreen></iframe>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="mt-auto d-flex div-1">
                <app-publisher class="width-100" (edit)="editPost()" [post]="post" (remove)="removePost()"></app-publisher>
            </div>
        </div>
    </div>
</div>
