<h2 class="global_title left"><span>Links to Other Websites</span></h2>
<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by the Company.</p>

<p>The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that the Company shall not be responsible or liable,
    directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

<p>We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or services that You visit.</p>

