.post-profile-icon, .post-profile-svg{
  width: 3vw;
  height: 3vw;
  border-radius: .5vw;
  margin-right: .8vw;
}
.post-profile-icon{
  object-fit: cover;
}
.post-profile-svg{
  background: var(--extraLightGray);
  padding: .9vw;
}
.post-date{
  margin-top: .3vw;
  margin-bottom: 0;
  color: var(--darkGray);
  font-weight: 300;
  font-size: .75vw;
}
.post-username{
  font-size: .85vw;
  font-weight: 500;
  margin-bottom: 0;
}
.share-icon{
  padding: .4vw;
  border-radius: .5vw;
  background: var(--green);
  height: 1.8vw;
  width: 1.8vw;
  margin-right: 1vw;
  cursor: pointer;
}
.delete-icon{
  width: 1.8vw;
  height: 1.8vw;
  padding: .4vw;
  border-radius: .5vw;
  background:var(--red);
  float: right;
  cursor: pointer;
}
.edit{
  width: 1.8vw;
  height: 1.8vw;
  padding: .4vw;
  border-radius: .5vw;
  background:var(--extraLightGray);
  float: right;
  cursor: pointer;
}
.div-1{
  width: 100%;
}
.profile{
  cursor: pointer;
}
.share-social-icons{
  width: 10.5vw;
  padding: .5vw;
  //border: 1px black solid;
  position: absolute;
  top: -4vw;
  //left: -2vw;
  z-index: 1;
  background: white;
  box-shadow: 0px 6px 49px #424d6326;
  border-radius: .5vw;
  display: none;
}
::ng-deep .sb-wrapper.sb-show-icon{
  font-size: .75vw !important;
  min-width: 1.1vw;
}
::ng-deep .sb-group {
  flex-wrap: nowrap;
}
::ng-deep .sb-button{
  margin: .3vw;
}
