<div class="mt-auto d-flex justify-content-between div-1">
    <div class="d-flex profile" (click)="navigateToProfile()">
        <div class="" style="">
            <img *ngIf="post.createdBy.profilePictureUrl" class="img-fluid post-profile-icon" [src]="post.createdBy.profilePictureUrl">
            <img *ngIf="!post.createdBy.profilePictureUrl" class="img-fluid post-profile-svg" src="/assets/profile/profile.svg">
        </div>
        <div class="align-self-end">
            <p class="post-username">{{ (post.createdBy.firstName + ' ' + post.createdBy.lastName) | titlecase}}</p>
            <p class="post-date" style="">Published on {{ post.createdAt | date}}</p>
        </div>
    </div>
    <div *ngIf="store.role !== constant.role.BUYER" class="ml-auto align-self-end d-flex" style="position: relative">
        <img (click)="toggleShare('news-feed' + post._id)" class="share-icon share-via-social" src="/assets/news-feed-icons/share.svg">
        <img [ngStyle]="{'margin-right': post.contentType === constant.feedContentType.CUSTOM ? '1vw' : '0'}" (click)="removePost()" class="delete-icon" src="/assets/news-feed-icons/delete.svg">
        <img *ngIf="post.contentType === constant.feedContentType.CUSTOM" (click)="editPost()" class="edit" src="/assets/saved-search/edit.svg">

        <div [id]="'news-feed' + post._id" class="share-social-icons">
           <share-buttons [theme]="'default'"
                          [include]="['facebook','twitter','linkedin','copy']"
                          [show]="5"
                          [url]="'https://twitter.com/'"
           ></share-buttons>
       </div>
    </div>
</div>
