<div class="heading d-flex justify-content-between">
    <h3>Team Message Board</h3>
</div>
<div class="row" style="background: transparent" *ngIf="chat.loader">
    <div class="col-md-3 first-column" style="">
        <div class="card-1 d-flex justify-content-start mb-4">
            <div class="user-display-div">
                <img *ngIf="chat.user.profilePictureUrl" class="img-fluid user-display"
                     [src]="chat.user.profilePictureUrl">
                <img *ngIf="!chat.user.profilePictureUrl" class="user-display-dummy" src="/assets/profile/profile.svg">
            </div>
            <div class="user-detail"><p
                    class="user-name">{{ chat.user.firstName | titlecase }} {{chat.user.lastName | titlecase}}</p>
                <p class="user-role">{{ helper.formatRole(chat.user.role) | titlecase}}</p>
                <div class="d-flex justify-content-start"><p class="user-status">{{ 'Online' }}</p><span
                        class="align-self-center circle"></span></div>
            </div>

            <img class="align-self-center notification img-fluid" src="/assets/chat/notification.svg">

        </div>
        <div class="card-2">

            <div class="d-flex justify-content-between">
                <p class="create-chat-group">Create Chat Group</p>
                <img (click)="createGroupChat()" class="align-self-center add-group img-fluid"
                     src="/assets/chat/add-group.svg">
            </div>

            <div class="recent-chat"><p>{{chat.recentChats.length ? 'Recent Chats' : 'No Recent Chats' }}</p></div>
            <div #conversationList class="recent-chat-scroll">
                <div *ngFor="let friend of chat.recentChats" [ngClass]="{'active': chat.selectedFriend == friend}"
                     (click)="listClick(friend)" class="friends d-flex justify-content-start">
                    <div class="friend-image-div">
                        <img *ngIf="friend.type === constant.conversationType.PRIVATE && recentChatMember(friend.allTimeMembers).profilePictureUrl"
                             class="friend-image img-fluid"
                             [src]="recentChatMember(friend.allTimeMembers).profilePictureUrl">
                        <img *ngIf="friend.type === constant.conversationType.PRIVATE && !recentChatMember(friend.allTimeMembers).profilePictureUrl"
                             class="friend-image-dummy img-fluid" src="/assets/profile/profile.svg">
                        <img *ngIf="friend.type === constant.conversationType.GROUP"
                             class="friend-image group-img img-fluid" src="/assets/profile/group.png">
                    </div>
                    <div class="align-self-center friend-text">
                        <div class="d-flex justify-content-start">
                            <p *ngIf="friend.type === constant.conversationType.GROUP"
                               class="friend-name">{{ friend.title | titlecase }}</p>
                            <ng-container *ngIf="friend.type === constant.conversationType.PRIVATE">
                                <p class="friend-name">{{ recentChatMember(friend.allTimeMembers).firstName | titlecase}} {{ recentChatMember(friend.allTimeMembers).lastName | titlecase }}</p>
                                <span class="circle align-self-center"></span>
                            </ng-container>
                        </div>
                        <p *ngIf="friend.type === constant.conversationType.PRIVATE"
                           class="friend-role">{{ helper.formatRole(recentChatMember(friend.allTimeMembers).role) | titlecase }}</p>
                    </div>
                    <img *ngIf="!(chat.selectedFriend == friend)" class="align-self-center envelope img-fluid"
                         src="/assets/chat/envelope.svg">
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-9 second-column">
        <div *ngIf="!chat.recentChats.length" class="d-flex justify-content-center inbox-parent">
            <div class="mt-auto mb-auto">
                <img src="/assets/chat/inbox.svg" class="inbox">
                <p class="dummy-txt">Your Inbox is empty</p>
                <p class="dummy-txt-1">Once you start a conversation,</p>
                <p class="dummy-txt-1">you will see it listed here</p>
            </div>
        </div>
        <div class="card-3" *ngIf="chat.recentChats.length">
            <div class="d-flex justify-content-start current-friend">
                <ng-container *ngIf="chat.selectedFriend">
                    <div class="current-friend-image-div">
                        <img *ngIf="chat.selectedFriend.type === constant.conversationType.PRIVATE ? recentChatMember(chat.selectedFriend.allTimeMembers).profilePictureUrl ? true : false : true"
                             class="current-friend-image"
                             [src]="chat.selectedFriend.type === constant.conversationType.PRIVATE ? recentChatMember(chat.selectedFriend.allTimeMembers).profilePictureUrl : '/assets/profile/group.png'">
                        <img *ngIf="chat.selectedFriend.type === constant.conversationType.PRIVATE ? !recentChatMember(chat.selectedFriend.allTimeMembers).profilePictureUrl ? true : false : false"
                             src="/assets/profile/profile.svg" class="current-friend-image-dummy">
                    </div>
                    <div class="align-self-center current-friend-text">
                        <p class="current-friend-name">{{ (chat.selectedFriend.type === constant.conversationType.PRIVATE ? recentChatMember(chat.selectedFriend.allTimeMembers).firstName : chat.selectedFriend.title) | titlecase}}</p>
                        <div class="d-flex justify-content-start"><p class="current-friend-status">Online</p><span
                                class="circle-2 align-self-center"></span></div>
                    </div>
                </ng-container>
                <div class="ml-auto d-flex">
                    <button class="add-to-team d-flex" (click)="addHomeInspectorToTeam(recentChatMember(chat.selectedFriend.allTimeMembers)._id)" *ngIf="chat.selectedFriend.type === constant.conversationType.PRIVATE &&
                     (recentChatMember(chat.selectedFriend.allTimeMembers).role === constant.role.HOME_INSPECTOR || recentChatMember(chat.selectedFriend.allTimeMembers).role === constant.role.INSURANCE)
                      && !chat.homeInspectorExistsInTeam && showHideSendMessage()">
                        <img class="plus-icon" src="/assets/calendar-icons/plus.svg">
                        <p class="align-self-center">Add To Team</p>
                    </button>
                    <img class="search-icon img-fluid" src="/assets/chat/search.svg">
                    <img (click)="deleteChat()" class="delete-icon img-fluid" src="/assets/news-feed-icons/delete.svg">
                    <img (click)="editGroup()" *ngIf="chat.selectedFriend.type === constant.conversationType.GROUP" class="edit-group" src="/assets/chat/edit.svg">

                </div>

            </div>

            <div class="chat-box" #chatBox>
                <ng-container *ngIf="chat.messageLoader">
                    <div *ngFor="let message of chat.messages">
                        <ng-container
                                *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_LOG_PROFESSIONAL_ADDED_TO_TEAM">
                            <p *ngIf="store.role === constant.role.BUYER"
                               class="text-center add-remove-professional"> {{recentChatMember(chat.selectedFriend.allTimeMembers).firstName | titlecase}}
                                {{recentChatMember(chat.selectedFriend.allTimeMembers).lastName | titlecase}} has been
                                added to your
                                team</p>
                            <p *ngIf="store.role !== constant.role.BUYER"
                               class="text-center add-remove-professional"> You have been added
                                to {{recentChatMember(chat.selectedFriend.allTimeMembers).firstName | titlecase}}
                                {{recentChatMember(chat.selectedFriend.allTimeMembers).lastName | titlecase}}'s team
                            </p>
                        </ng-container>
                        <ng-container
                                *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_LOG_PROFESSIONAL_ACCEPT_QUOTE_REQUEST">
                            <p
                               class="text-center add-remove-professional">
                                Quote request has been accepted
                            </p>
                        </ng-container>
                        <ng-container
                                *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_LOG_PROFESSIONAL_REMOVED_FROM_TEAM">
                            <p *ngIf="store.role === constant.role.BUYER"
                               class="text-center add-remove-professional"> {{recentChatMember(chat.selectedFriend.allTimeMembers).firstName | titlecase}}
                                {{recentChatMember(chat.selectedFriend.allTimeMembers).lastName | titlecase}} has been
                                removed from
                                your team
                            </p>
                            <p *ngIf="store.role !== constant.role.BUYER" class="text-center add-remove-professional">
                                You have been removed from
                                {{recentChatMember(chat.selectedFriend.allTimeMembers).firstName | titlecase}}
                                {{recentChatMember(chat.selectedFriend.allTimeMembers).lastName | titlecase}}'s team
                            </p>
                        </ng-container>
                        <ng-container
                                *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_TEXT || message.type === constant.chatMessageType.MESSAGE_TYPE_BOOK_PROPERTY
                                || message.type === constant.chatMessageType.MESSAGE_TYPE_SHARE_PROPERTY">
                            <div *ngIf="message.createdBy !== store.userId" class="d-flex justify-content-start">
                                <img [ngClass]="{'group-member': groupMembersProfileImage(message.createdBy), 'dummy-member': !groupMembersProfileImage(message.createdBy)}"
                                     *ngIf="chat.selectedFriend.type === constant.conversationType.GROUP"
                                     src="{{groupMembersProfileImage(message.createdBy)}}" class="mr-custom">
                                <p *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_TEXT" class="receive"
                                   [innerHTML]="message.text | highlight: searchTerm"></p>
                                <a *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_BOOK_PROPERTY"
                                   [href]="message.shareMeta.propertyUrl" target="_blank">
                                    <p class="receive"
                                       [innerHTML]="message.text + ': ' + message.shareMeta.propertyUrl | highlight: searchTerm"></p>
                                </a>
                            </div>
                            <div *ngIf="message.createdBy === store.userId" class="d-flex justify-content-end">
                                <p *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_TEXT"
                                   class="send">{{ message.text }}</p>
                                <a *ngIf="message.type === constant.chatMessageType.MESSAGE_TYPE_BOOK_PROPERTY || message.type === constant.chatMessageType.MESSAGE_TYPE_SHARE_PROPERTY"
                                   [href]="message.shareMeta.propertyUrl" target="_blank">
                                    <p class="send"
                                       [innerHTML]="message.text + ': ' + message.shareMeta.propertyUrl | highlight: searchTerm"></p>
                                </a>
                                <img [ngClass]="{'group-member': groupMembersProfileImage(message.createdBy), 'dummy-member': !groupMembersProfileImage(message.createdBy)}"
                                     *ngIf="chat.selectedFriend.type === constant.conversationType.GROUP"
                                     src="{{groupMembersProfileImage(message.createdBy)}}" class="ml-custom">
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <form *ngIf="showHideSendMessage()" [formGroup]="chat.inputForm" (ngSubmit)="sendMessage()">
                <div class="send-msg d-flex">
                    <div class=" input-box align-self-center">
                        <textarea #textArea formControlName="inputText" class="form-control"
                                  id="exampleFormControlTextarea1" rows="1"></textarea>
                    </div>
                    <emoji-mart *ngIf="chat.toggle" [darkMode]="false" [emojiSize]="16" (emojiClick)="addEmoji($event)"
                                [emojiTooltip]="false"
                                [enableFrequentEmojiSort]="true"
                                [style]="{ position: 'absolute', bottom: '4.5vw', right: '2.9vw' }"
                    ></emoji-mart>
                    <div class="align-self-center ml-auto" (click)="toggleEmojiMart()">
                        <img class="emoji img-fluid" src="/assets/chat/smile.svg">

                    </div>
                    <div class="align-self-center"><img class="attachment img-fluid" src="/assets/chat/attachment.svg">
                    </div>
                    <div class="send-button align-self-center">
                        <button [disabled]="chat.inputForm.invalid" type="submit" class="btn btn-success"><p>Send</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--                        <div class="d-flex justify-content-start">-->
<!--                            <div *ngFor="let file of message.file">-->
<!--                                <a [href]="file.media" download><img *ngIf="file.type == 'image'" class="img-fluid mr-2"-->
<!--                                                                     style="border-radius: .5em; width: 7vw; height: 7vw; object-fit: cover"-->
<!--                                                                     [src]="file.media"></a>-->
<!--                                <video controls *ngIf="file.type == 'video'"-->
<!--                                       style="border-radius: .5em; width: 7vw; height: 7vw; object-fit: cover">-->
<!--                                    <source [src]="file.media">-->
<!--                                </video>-->
<!--                            </div>-->
<!--                        </div>-->
