<div appHidePopup class="container-fluid" style="background: #33da20;">
    <div class="row h-100 border-class">
        <div class="col-2 menu-icons">
            <div class="reconnect-icon">
                <img src="/assets/images/logo-full.png" class="img-fluid">
            </div>
            <ul class="list-class">
                <li routerLinkActive="active-link" [routerLink]="item.route" *ngFor="let item of navigation.menuItems"
                    [ngClass]="{'active': navigation.selectedButton == item}" (click)="listClick(item)">
                    <div class="row align-self-center ">
                        <div class='col-2 image-class-div'>
                            <img class="image-class" [src]="iconURL(item.icon)" type=""/>
                        </div>
                        <div class="align-self-center col-10 menu-item-text">
                            <p>{{item.name}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-10 nav-content">
            <div class="router-outlet-class">
                <app-header *ngIf="showHeader"></app-header>
                <ngx-loading-bar height=".2vw" [includeSpinner]="false" color="var(--green)"></ngx-loading-bar>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
