.heading-text p{
  margin-bottom: 0;
  color: var(--green);
  font-size: 1vw;
}
.arrow{
  width: 1vw;
  height: 1vw;
  margin-right: .5vw;
}
p{
  font-family: 'Poppins';
}
.heading-color{
  color: var(--darkGray);
}
.loan-program p{
  margin-right: .8vw;
  color: var(--darkGray);
}
.loan-program p:last-child{
  margin-right: 0;
}
.heading-txt p{
  margin-bottom: 0;
  font-size: 0.8vw;
  font-weight: 300;
}
.heading-text{
  cursor: pointer;
}
.heading{
  margin-bottom: 1.5vw;
}
//////////////////////////////////// card-1
.column-1{
  width: 51.5vw;
  margin-right: 2.5vw;
}



////////////////////////////////////////// card-2





///////////////////////////////////// card-3
.pd-heading{
  margin-bottom: 1vw;
  font-size: 1.2vw;
  color: var(--darkGray);
  font-weight: 500;
}

///////////////////////////////// col-2
.column-2{
  width: 100%;
}

.pa-heading{
  margin-bottom: 1vw;
  font-size: 1.2vw;
  color: var(--darkGray);
  font-weight: 500;
}
///////////////////////////////// card-4

///////////////////////////////////////////
.embed-responsive{
  border-radius: .5vw;
  margin-bottom: 2vw;
}
.cal{
  height: min-content;
  font-size: .65vw;
  font-weight: 300;
  font-family: 'Poppins';
  padding: .35vw 1.5vw .35vw 1.5vw;
  border-radius: .4vw;
}


///////////////////////////////////////// card-5



///////////////////////////////////////// card-6



