<div class="heading row">
  <div (click)="location.back()" class="heading-text d-flex col-1">
    <img class="arrow align-self-center" src="/assets/transaction-details/arrow.png">
    <p>Back</p>
  </div>
    <div class="col-3 align-self-end heading-txt align-self-center" style="background: transparent">
      <p *ngIf="store.role === constant.role.BUYER" class="heading-color text-center">Approved Loan Programs</p>
    </div>
    <div class="col-5 align-self-end d-flex align-self-center">
      <div *ngIf="propertyDetails.loanScenarioOne" class="loan-program d-flex heading-txt">
          <p (click)="store.updateToggleLoanType('fha')" *ngIf="propertyDetails.loanScenarioOne.userLoan.fha" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'fha','loan-gray':!((store.toggleLoanType | async) === 'fha')}">FHA</p>
          <p (click)="store.updateToggleLoanType('va')" *ngIf="propertyDetails.loanScenarioOne.userLoan.va" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'va','loan-gray':!((store.toggleLoanType | async) === 'va')}">VA</p>
          <p (click)="store.updateToggleLoanType('usda')" *ngIf="propertyDetails.loanScenarioOne.userLoan.usda" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'usda','loan-gray':!((store.toggleLoanType | async) === 'usda') }">USDA</p>
          <p (click)="store.updateToggleLoanType('conventional')" *ngIf="propertyDetails.loanScenarioOne.userLoan.conventional" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'conventional','loan-gray':!((store.toggleLoanType | async) === 'conventional') }">Coventional</p>
          <p (click)="store.updateToggleLoanType('homeReady')" *ngIf="propertyDetails.loanScenarioOne.userLoan.homeReady" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'homeReady','loan-gray':!((store.toggleLoanType | async) === 'homeReady') }" class="text-nowrap">Home Ready</p>
          <p (click)="store.updateToggleLoanType('homePossible')" *ngIf="propertyDetails.loanScenarioOne.userLoan.homePossible" [ngClass]="{'loan-green': (store.toggleLoanType | async) === 'homePossible','loan-gray':!((store.toggleLoanType | async) === 'homePossible') }" class="text-nowrap">Home Possible</p>
       </div>
   </div>
</div>

  <div *ngIf="propertyDetails.loader" class="d-flex">
    <div class="column-1">
      <app-property-ad [propertyAd]="propertyDetails.propertyAd"></app-property-ad>
      <app-real-estate-agent [mlsId]="propertyDetails.propertyAd.id" [realEstateAgent]="propertyDetails.realEstateAgent ? propertyDetails.realEstateAgent.userId : null"></app-real-estate-agent>
      <p class="details-heading pd-heading">Property Details</p>
      <app-features [propertyDetails]="propertyDetails.features"></app-features>
      <ng-container *ngIf="propertyDetails.loanScenarioOne.listings[0].propertyType === 'Multi-family'">
          <p class="details-heading pd-heading">Multi Family</p>
          <app-multi-family [multiFamilyUnits]="propertyDetails.multiFamilyUnits" (marketRentValues) = "calculationFromApi($event)"></app-multi-family>
      </ng-container>
    </div>
    <div class="column-2">
        <ng-container *ngIf="propertyDetails.loanScenarioOne.listings[0].financing">
             <p class="text-nowrap pa-heading">Pre-Approval Scenarios</p>
            <app-scenario [scenarioNumber]="1" [loanScenario]="propertyDetails.loanScenarioOne" ></app-scenario>
            <app-scenario [scenarioNumber]="2"  [loanScenario]="propertyDetails.loanScenarioOne"></app-scenario>
        </ng-container>
     <ng-container *ngIf="propertyDetails.tourURL.changingThisBreaksApplicationSecurity">
       <p class="pa-heading">Virtual Tour</p>
       <div class="embed-responsive embed-responsive-16by9">
         <iframe class="embed-responsive-item" [src]="propertyDetails.tourURL" allowfullscreen></iframe>
       </div>
     </ng-container>
<!--      <div class="d-flex justify-content-between">-->
<!--        <p class="pa-heading text-nowrap">Rent Vs Buying</p>-->
<!--        <button class="btn btn-success cal">Calculations</button>-->
<!--      </div>-->
<!--      <app-rent-vs-buying [rentVsBuying]="propertyDetails.rentVsBuying"></app-rent-vs-buying>-->
      <p class="pa-heading text-nowrap">Public Transport</p>
      <app-public-transport [publicTransport]="propertyDetails.publicTransport"></app-public-transport>
    </div>
  </div>
