h2{
  font-size: 2.8vw;
  color: var(--darkGray);
  margin-bottom: 2vw;
  font-family: 'Poppins';
}
h3{
  font-size: 2vw;
  color: var(--darkGray);
  margin-bottom: 1vw;
  font-family: 'Poppins';
}
h4{
  font-size: 1.5vw;
  color: var(--darkGray);
  margin-bottom: 1vw;
  font-family: 'Poppins';
}
p{
  font-size: .9vw;
  color: var(--mediumGray);
  font-family: 'Poppins';
  font-weight: 300;
  margin-bottom: 1vw;
}

a{
  font-size: .9vw;
  color: var(--green);
  font-family: 'Poppins';
  font-weight: 300;
  margin-bottom: 1vw;
}
.text-green{
  color: var(--green);
}
