<div class="card-1 d-flex justify-content-between">
    <div class="card-1-txt">
        <p class="c1-txt-2 text-center">Privacy Policy</p>
        <p class="c1-txt-3 text-center">This Privacy Policy describes our policies and procedures on the collection, use and disclosure of your information</p>
        <p class="c1-txt-3 text-center">when you use the service and tells you about your privacy rights and how the law protects you. We use your personal</p>
        <p class="c1-txt-3 text-center">data to provide and improve the service. By using the service, you agree to collection and use of information in</p>
        <p class="c1-txt-3 text-center">accordance with this Privacy Policy</p>
        <p class="c1-txt-4 text-center">Last Updated: May 09, 2020</p>
    </div>
    <img src="/assets/landing/terms-privacy/privacy.png" class="landing-img" />
</div>
<div class="card-2">
    <app-landing-side-nav [routes]="privacy"></app-landing-side-nav>
</div>
