 <div [formGroup]="searchHome.moreFilters">
    <div class="triangle"></div>
    <div class="child-1 d-flex justify-content-between">
       <p class="filter-heading">Filters your search</p>
       <div class="d-flex">
          <button (click)="clearAll()" class="btn btn-default clear-btn">Clear All</button>
          <button (click)="applyFilter()" class="apply-btn">Apply Filters</button>
       </div>
    </div>
    <div class="child-2">
        <div class="row margin-b2">
            <div class="col-4" formGroupName="listPrice">
              <div class="col-width">
               <p class="heading-sub">Price</p>
               <div class="filter-select row">
                  <div class="col-6">
                    <select formControlName="from" class="form-control">
                      <option [ngValue]="null" [disabled]="true">Min</option>
                      <option [value]="i" *ngFor="let i of moreFilters.minPrice">${{i | thousandSuffix}}</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <select formControlName="to" class="form-control">
                        <option [ngValue]="null" [disabled]="true">Max</option>
                        <option [value]="i" *ngFor="let i of moreFilters.maxPrice">${{i | thousandSuffix}}</option>
                    </select>
                  </div>
                </div>
               </div>
            </div>
            <div class="col-4" formGroupName="beds">
              <div class="col-width">
                <p class="heading-sub b-label">Beds</p>
                 <div class="filter-select margin-b row">
                    <div class="col-6 bed-filter">
                      <p class="bed-label text-nowrap">Select bedroom range</p>
                      <select formControlName="from" class="form-control">
                          <option [ngValue]="null" [disabled]="true">From</option>
                          <option [value]="i" *ngFor="let i of moreFilters.minBeds">{{i}}+</option>
                      </select>
                    </div>
                    <div class="col-6 align-self-end">
                      <select formControlName="to" class="form-control">
                          <option [ngValue]="null" [disabled]="true">To</option>
                          <option [value]="i" *ngFor="let i of moreFilters.maxBeds">{{i}}+</option>
                      </select>
                    </div>
                 </div>
                 <p class="bed-label margin-b">or</p>
                 <div class="d-flex">
                    <label class="container" *ngFor=" let i of [1,2,3,4,5]">
                      <input formControlName="value" type="radio" value="{{i}}" [checked]="searchHome.moreFilters.value.beds.value === i">
                      <img class="checkmark" src="/assets/loan-details/tick.svg">
                      <p class="label-txt">{{i}}+</p>
                    </label>
                 </div>
               </div>
            </div>
            <div class="col-4" formGroupName="baths">
              <div class="col-width">
                <p class="heading-sub b-label">Baths</p>
                 <div class="filter-select margin-b row">
                    <div class="col-6 bed-filter">
                      <p class="bed-label text-nowrap">Select bathroom range</p>
                      <select formControlName="from" class="form-control">
                          <option [ngValue]="null" [disabled]="true">From</option>
                          <option [value]="i" *ngFor="let i of moreFilters.minBaths">{{i}}+</option>
                      </select>
                    </div>
                    <div class="col-6 align-self-end">
                      <select formControlName="to" class="form-control">
                          <option [ngValue]="null" [disabled]="true">To</option>
                          <option [value]="i" *ngFor="let i of moreFilters.maxBaths">{{i}}+</option>
                      </select>
                    </div>
                 </div>
                <p class="bed-label margin-b">or</p>
                <div class="d-flex">
                   <label class="container" *ngFor="let i of [1,2,3,4,5]">
                     <input formControlName="value" type="radio" value="{{i}}"  [checked]="searchHome.moreFilters.value.baths.value === i">
                     <img class="checkmark" src="/assets/loan-details/tick.svg">
                     <p class="label-txt">{{i}}+</p>
                   </label>
                </div>
               </div>
            </div>

        </div>
        <div class="row">
           <div class="col-4" formGroupName="propertyType">
             <div class="col-width">
              <p class="heading-sub">Property Type</p>
                <div class="row">
                    <div class="col-6 space">
                        <label class="container">
                          <input formControlName="Single Family" type="checkbox">
                          <img class="checkmark" src="/assets/loan-details/tick.svg">
                          <p class="label-txt text-nowrap">Single Family</p>
                        </label>
                        <label class="container">
                          <input formControlName="Multi-family" type="checkbox">
                          <img class="checkmark" src="/assets/loan-details/tick.svg">
                          <p class="label-txt text-nowrap">Multi Family</p>
                        </label>
                        <label class="container">
                          <input formControlName="Farm" type="checkbox">
                          <img class="checkmark" src="/assets/loan-details/tick.svg">
                          <p class="label-txt">Farm</p>
                        </label>
                        <label class="container">
                            <input formControlName="Condominium/Co-Op" type="checkbox">
                            <img class="checkmark" src="/assets/loan-details/tick.svg">
                            <p class="label-txt text-nowrap">Condominium/Co-Op</p>
                        </label>
                        <label class="container">
                            <input formControlName="Attached (Townhouse/Rowhouse/Duplex)" type="checkbox">
                            <img class="checkmark" src="/assets/loan-details/tick.svg">
                            <p class="label-txt">Attached (Townhouse/Rowhouse/Duplex)</p>
                        </label>
                    </div>
                    <div class="col-6  space">
                        <label class="container">
                          <input formControlName="Land" type="checkbox">
                          <img class="checkmark" src="/assets/loan-details/tick.svg">
                          <p class="label-txt">Land</p>
                        </label>
                        <label class="container">
                          <input formControlName="Condominium" type="checkbox">
                          <img class="checkmark" src="/assets/loan-details/tick.svg">
                          <p class="label-txt">Condominium</p>
                        </label>
                        <label class="container">
                            <input formControlName="Mobile Home" type="checkbox">
                            <img class="checkmark" src="/assets/loan-details/tick.svg">
                            <p class="label-txt">Mobile</p>
                        </label>
                        <label class="container">
                            <input formControlName="Apartment" type="checkbox">
                            <img class="checkmark" src="/assets/loan-details/tick.svg">
                            <p class="label-txt">Apartment</p>
                        </label>
                    </div>
                </div>
              </div>
           </div>
           <div class="col-4">
            <div class="col-width">
              <p class="heading-sub">Listing Status</p>
                  <div class="listing-1" formGroupName="status">
                      <div class="row">
                          <div class="col-6 space">
                              <label class="container">
                                <input formControlName="Active" type="checkbox">
                                <img class="checkmark" src="/assets/loan-details/tick.svg">
                                <p class="label-txt">Active</p>
                              </label>
                              <label class="container">
                                <input formControlName="Back on Market" type="checkbox">
                                <img class="checkmark" src="/assets/loan-details/tick.svg">
                                <p class="label-txt text-nowrap">Back on Market</p>
                              </label>
                              <label class="container">
                                <input formControlName="Contingent" type="checkbox">
                                <img class="checkmark" src="/assets/loan-details/tick.svg">
                                <p class="label-txt text-nowrap">Contingent</p>
                              </label>
                              <label class="container">
                                  <input formControlName="Reactivated" type="checkbox">
                                  <img class="checkmark" src="/assets/loan-details/tick.svg">
                                  <p class="label-txt text-nowrap">Reactivated</p>
                              </label>
                          </div>
                          <div class="col-6  space">
                              <label class="container">
                                <input formControlName="Extended" type="checkbox">
                                <img class="checkmark" src="/assets/loan-details/tick.svg">
                                <p class="label-txt">Extended</p>
                              </label>
                              <label class="container">
                                <input formControlName="New" type="checkbox">
                                <img class="checkmark" src="/assets/loan-details/tick.svg">
                                <p class="label-txt">New</p>
                              </label>
                              <label class="container">
                                  <input formControlName="Price Changed" type="checkbox">
                                  <img class="checkmark" src="/assets/loan-details/tick.svg">
                                  <p class="label-txt text-nowrap">Price Changed</p>
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="listing-2">
                      <div class="row">
                          <div class="col-6 space">
                          </div>
                          <div class="col-6  space align-self-end">
                          </div>
                      </div>

                  </div>
                </div>
           </div>
           <div class="col-4" formGroupName="moreFilters">
            <div class="col-width">
              <p class="heading-sub">More Filters</p>

              <div class="row">
                  <div class="col-6 space">
                      <label class="container" *ngFor="let i of moreFiltersArray | slice:0:4">
                        <input formControlName="value" type="radio" value="{{i}}">
                        <img class="checkmark" src="/assets/loan-details/tick.svg">
                        <p class="label-txt">{{i}}</p>
                      </label>
                  </div>
                  <div class="col-6  space">
                      <label class="container" *ngFor="let i of moreFiltersArray | slice:4:7">
                          <input formControlName="value" type="radio" value="{{i}}">
                          <img class="checkmark" src="/assets/loan-details/tick.svg">
                          <p class="label-txt">{{i}}</p>
                      </label>
                  </div>
              </div>
            </div>
           </div>
        </div>
    </div>
</div>
