<div class="parent">
    <div class="parent-card">
        <img *ngIf="loginModal" #card  src="/assets/landing/opaque.png" class="opaque">
        <div class="card-1">
            <div class="menu d-flex justify-content-between">
                <img *ngIf="!loginModal" src="/assets/landing/reconnect-logo.png" class="logo">
                <p *ngIf="loginModal" #reconnect class="reconnect align-self-end">Re-C<span class="green-char">o</span>nnect</p>
                <div class="d-flex">
                    <div class="d-flex menu-div align-self-center">
                        <ng-container *ngFor="let item of constant.LANDING_MENU">
                            <p (click)="activeTab(item)" [ngClass]="{'active' : button === item.name}">{{item.name}}</p>
                        </ng-container>
                    </div>
                    <div class="align-self-center">
                        <button #login (click)="logIn()" class="login">Login</button>
                        <button #signup (click)="register()" class="register">Register</button>
                    </div>
                </div>
            </div>
            <div class="modal-parent" *ngIf="loginModal">
                <div class="modal-div d-flex">
                    <img src="/assets/landing/home.png" >
                    <div class="page">
                        <router-outlet *ngIf="loginModal"></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <router-outlet *ngIf="!loginModal"></router-outlet>

    <div class="card-5" *ngIf="(!loginModal) && !router.url.includes('/terms') && !router.url.includes('/privacy')" >
        <div class="d-flex sub-card-5">
            <div class="card-5-info">
                <p class="c5-txt">Ready to find out what your home is worth?</p>
                <p class="p-email text-center">Contact us for your complete and accurate home value report today !</p>
                <div class="email-btn">
                    <input type="email" class="form-control form-custom" type="text" placeholder="Email your home's address">
                    <button class="get-listed">What's it worth?</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-7 d-flex" *ngIf="!loginModal" >
        <div class="col-c7 c7-mr">
            <img src="/assets/landing/reconnect-logo.png" class="logo-1">
            <p class="reconnect-c7-txt">Re-Connect is a better way to buy real estate that gives consumers a simple, unique method to shop for a home smarter, NOT harder!</p>
            <div class="d-flex social-media div-2-c6 align-self-end">
                <a class="facebook-a" [href] = ""><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook-c7"></a>
                <a [href] = ""><img src="/assets/directory-icons/instagram.svg" class="img-fluid twitter"> </a>
                <a [href] = ""> <img src="/assets/directory-icons/linkedin.svg" class="img-fluid linkedin"> </a>
            </div>
        </div>
        <div class="col-c7">
            <p class="heading-c7">Site Map</p>
            <ng-container *ngFor="let item of constant.LANDING_MENU">
                <a (click)="topFunction()" class="reg-partner" [routerLink]="item.route" ><p class="col-c7-txt mb-col-c7">{{item.name}}</p></a>
            </ng-container>
            <a class="reg-partner" routerLink="/registerPartner" ><p class="col-c7-txt">Become a partner</p></a>
        </div>
        <div class="col-c7">
            <p class="heading-c7">Terms</p>
            <a class="reg-partner" (click)="topFunction()" routerLink="/terms/interpretation"><p class="col-c7-txt mb-col-c7">Terms of use</p></a>
            <a class="reg-partner" (click)="topFunction()" routerLink="/privacy/interpretation"><p class="col-c7-txt mb-col-c7">Privacy Notice</p></a>
            <p class="col-c7-txt">DMCA</p>
            <p class="col-c7-txt">Support</p>
        </div>
        <div class="col-c7">
            <p class="heading-c7">Contact us</p>
            <p class="col-c7-txt">209 West Central Street, Suite 315-A, Natick, MA 01760</p>
            <p class="col-c7-txt">508-981-4966</p>
            <p class="col-c7-txt">info@re-connect.co</p>
            <p class="col-c7-txt">Lic #: 423457</p>
        </div>
    </div>
    <div class="card-8"  *ngIf="!loginModal" >
        <p class="c8-txt">Copyright 2020, Reconnect, LLC. All right reserved. Patent Pending</p>
    </div>
</div>

