<h2 class="global_title left"><span>Copyright Policy</span></h2>

<h3>Intellectual Property Infringement</h3>
<p>We respect the intellectual property rights of others. It is Our policy to respond to any claim that Content posted on the Service infringes a copyright or other intellectual property infringement of any person.</p>

<p>If You are a copyright owner, or authorized on behalf of one, and You believe that the copyrighted work has been copied in a way that constitutes copyright infringement that is taking place through the Service, You must submit Your notice
    in writing to the attention of our copyright agent via email at terms@re-connect.co and include in Your notice a detailed description of the alleged infringement.</p>

<p>You may be held accountable for damages (including costs and attorneys' fees) for misrepresenting that any Content is infringing Your copyright.</p>

<h3>DMCA Notice and DMCA Procedure for Copyright Infringement Claims</h3>

<p><strong>You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):</strong></p>

<ul class="listing">

    <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright's interest.</li>

    <li>A description of the copyrighted work that You claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work.</li>

    <li>Identification of the URL or other specific location on the Service where the material that You claim is infringing is located.</li>

    <li>Your address, telephone number, and email address.</li>

    <li>A statement by You that You have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>

    <li>A statement by You, made under penalty of perjury, that the above information in Your notice is accurate and that You are the copyright owner or authorized to act on the copyright owner's behalf.</li>
</ul>

<p>You can contact our copyright agent via email at terms@re-connect.co. Upon receipt of a notification, the Company will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged content from
    the Service.</p>
