<div class="card-1">
    <img (click)="modal.dismiss()" src="/assets/calendar-icons/close.svg" class="close-icon">
    <div class="d-flex justify-content-between first-row">
        <p class="role text-nowrap">{{role}}</p>
        <div class="container">
            <input [formControl]="searchName" class="form-control f1">
            <img src="/assets/dashboard/search.svg" class="search-icon">
        </div>
    </div>
    <div class="card-sub d-flex justify-content-between" *ngFor="let member of members | filter:searchName.value">
        <div  class="d-flex div-1">
            <div>
                <img *ngIf="member.profilePictureUrl" [src] = "member.profilePictureUrl" class="display-img">
                <img *ngIf="!member.profilePictureUrl" src = "/assets/profile/profile.svg" class="dummy-img">
            </div>
            <div class="member-info">
                <div style="" class="d-flex rating">
                    <p ngbTooltip="{{ member.firstName }} {{member.lastName}}"  class="name text-nowrap">{{ member.firstName }} {{member.lastName}}</p>
                    <img class="align-self-center" src="/assets/property-details/star.svg">
                    <p class="name">
                        {{member.rating}}
                    </p>
                    <p class="review text-nowrap"> ({{member.reviews}} Reviews)
                    </p>
                </div>
                <div class="number d-flex">
                    <img src="/assets/directory-icons/call.svg" class="img-fluid">
                    <p>{{ member.phoneNumber }}</p>

                </div>
                <div class="question d-flex">
                    <img src="/assets/directory-icons/envelope.svg" class="img-fluid">
                    <p>Ask a question</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-end">
            <img (click)="addMember(member)" class="plus-icon" src="/assets/calendar-icons/plus.svg">
            <div class="d-flex justify-content-between div-2 align-self-end" *ngIf="member.socialMedia">

                <a *ngIf="member.socialMedia.facebook" target="_blank" [href] = "member.socialMedia.facebook"><img src="/assets/directory-icons/facebook.svg" class="img-fluid facebook"></a>
                <a *ngIf="member.socialMedia.instagram" target="_blank" [href] = "member.socialMedia.instagram"> <img src="/assets/directory-icons/instagram.svg" class="img-fluid instagram"> </a>
                <a *ngIf="member.socialMedia.linkedin" target="_blank" [href] = "member.socialMedia.linkedin"> <img src="/assets/directory-icons/linkedin.svg" class="img-fluid linkedin"> </a>
                <a *ngIf="member.socialMedia.twitter" target="_blank" [href] = "member.socialMedia.twitter"><img src="/assets/directory-icons/twitter.svg" class="img-fluid twitter"> </a>
                <a *ngIf="member.socialMedia.world" target="_blank" [href] = "member.socialMedia.world"> <img src="/assets/directory-icons/world.svg" class="img-fluid world"> </a>
            </div>
        </div>
    </div>
</div>
