.heading-text p{
  margin-bottom: 0;
  color: var(--green);
  font-size: 1vw;
}
.arrow{
  width: 1vw;
  height: 1vw;
  margin-right: .5vw;
}
.heading{
  cursor: default;
}
.first-row{
  margin-bottom: 2vw;
}
.first-row div.col-7{
  padding-top: .35vw;
}
.child-1{
  //padding: 1.4vw 1.5vw 1vw 1.5vw;
  margin-bottom: 1.2vw;
}

.div-1{
  //margin-bottom: 1vw;
}

.save-button{
  color: white;
  background: var(--lighGray);
  font-size: .7vw;
  padding: .5vw 1.5vw .5vw 1.5vw;
  border: none;
  margin-bottom: .8vw;
  border-radius: .5vw;
  cursor: pointer;
}
.save-button:focus{
  outline: none;
}
//.save-button:active{
//  background: var(--darkGray);
//}
.lineage-button{
  border: none;
  font-size: .7vw;
  padding: .5vw 1.5vw .5vw 1.5vw;
  border-radius: .5vw;
}

.heading{
  font-size: .9vw;
  color: var(--darkGray);
  font-weight: 600;
  margin-bottom: 0;
  height: fit-content;
}
.heading-text{
  cursor: pointer;
}
.second-row div.col-6{
  margin-bottom: 2vw;
}
.bottom{
  margin-bottom: 2vw;
}

.user-finance{
  background: white;
  padding: 2vw;
  border-radius: .5vw;
  margin-bottom: 2vw;
}
.user-finance div.form-group{
  margin-bottom: 0;
}
.user-finance div.form-group input{
  border-radius: .5vw;
  font-size: .9vw;
  height: 2.2vw;
  width: 11vw;
}
.user-finance p{
  margin-bottom: 0;
  margin-right: 1vw;
  color: var(--lighGray);
  font-size: .8vw;
}

.b-details{
 // background: lightgrey;
 // padding: 2vw;
}
.details p{
  margin-bottom: 0;
  font-size: .8vw;
}
.b-space{
  margin-bottom: 2vw;
}
.details{
  padding: 2.5vw;
  background: white;
  border-radius: .5vw;
}
.b-text p:first-child{
  color: var(--lighGray);
  //margin-right: .5vw;
}
.b-text p:last-child{
  color: var(--darkGray);
}

.second-column{
  padding-left: 3vw;
}
p{
  font-family: 'Poppins';
}

::ng-deep .ngb-dp-weekday.small{
  font-style: normal;
  color: var(--darkGray);
  font-size: .7vw;
}
::ng-deep .custom-day{
  color: var(--darkGray);
  font-size: .8vw;
}
::ng-deep .ngb-dp-day{
  outline: none;
  height: 1.785vw !important;
  width: 1.785vw !important;
  font-size: .7vw;
}

::ng-deep .ngb-dp-weekday.small{
  height: 1.785vw;
  width: 1.8vw;
  line-height: normal;
  padding: .5vw;
}

::ng-deep .ngb-dp-week.ngb-dp-weekdays{
  padding: 0 .17vw !important;
  width: min-content;
}

::ng-deep .btn.btn-link.ngb-dp-arrow-btn{
  outline: none;
  margin: 0 0.3vw;
  padding: 0 0.25vw;
  line-height: normal;
}

::ng-deep span.ngb-dp-navigation-chevron{
  height: .65vw !important;
  width: .65vw !important;
  border-width: .2vw .2vw 0 0;
  color: var(--green);
}
::ng-deep .ngb-dp-arrow{
  height: 2vw !important;
  width: 1vw !important;
}
::ng-deep .ngb-dp-header{
  padding-top: 0.15vw !important;
}
::ng-deep select.custom-select{
  font-size: .8vw !important;
  height: 1.5vw !important;
  //width: 0vw !important;
  padding: 0 .25vw !important;
  border: none!important;
  box-shadow: none !important;
}
::ng-deep .ngb-dp-navigation-select{
  flex: 1 1 7vw;
  //margin-top: .1vw;
}
::ng-deep .ngb-dp-week{
  padding: 0 .25vw !important;
}

::ng-deep .ngb-dp-week:last-child{
  display: none;
  //height: .1vw;
}

::ng-deep .dropdown-menu.show{
  width: 13.05vw;
  min-width: 1vw;
  top: .5vw !important;
  left: -4vw !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  // transition: 0.4s;
}
::ng-deep .dropdown-menu.show:hover{
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.2);
  // transition: 0.4s;
}

:host ::ng-deep .bg-primary{
  background: var(--green) !important;
}
:host ::ng-deep .ngb-dp-day{
  outline: none;
}
:host ::ng-deep .btn-light{
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
}
:host ::ng-deep .ngb-dp-navigation-select{
  flex: 1 1 9vw;
}
@media only screen and (max-width: 1024px) {

  ::ng-deep select.custom-select{
    transform: translateY(.2vw);
  }
}
.calendar-icon{
  height: 1.7vw;
  width: 1.5vw;
  cursor: pointer;
  background: var(--extraLightGray);
  padding: .3vw;
}
.date{
  font-size: .7vw;
  color: var(--darkGray);
  margin-bottom: 0;
  margin-right: .5vw;
}
.f1{
  height: 1.7vw;
  font-size: .8vw;
  color: var(--darkGray);
  border-bottom-left-radius: .2vw;
  border-top-left-radius: .2vw;
  border-bottom-right-radius: 0vw;
  border-top-right-radius: 0vw;
  border: 1px solid var(--extraLightGray);
  width: 8vw;
  padding: .3vw .8vw;
  background: transparent;
}
.f1:focus{
  box-shadow: none;
}
.date-parent{
  height: fit-content;
  position: relative;
}
.commission-per{
  font-size: .8vw;
  color: var(--darkGray);
  margin-bottom: 0;
  font-weight: 300;
}
.f2{
  height: 1.6vw;
  font-size: .8vw;
  font-weight: 500;
  color: var(--darkGray);
  border-radius: .3vw;
  border: 1px solid var(--lighGray);
  width: 8vw;
  padding: .3vw .8vw;
  background: transparent;
}
.commission-parent{
  margin-bottom: 1vw;
}
.mb-custom{
  margin-bottom: 2vw;
}
.mb-custom1{
  margin-bottom: 1.5vw;
}
::ng-deep .form-control:disabled{
  background: white;
}
